[2021-12-15 05:33] khongcoten2302 commented on #575
how to translate automatically?

[2021-12-15 22:34] kaname-png opened #626 "Button no working (es)"
![image](https://user-images.githubusercontent.com/56084970/146275354-4cbce60c-e8d5-4db7-b10e-b46944efa2f9.png)

[2021-12-16 22:49] khongcoten2302 opened #628 "How to automatically translate a language pack?"
How to automatically translate a language pack?(how to create xlf files, how to translate automatic ?,...

[2021-12-19 21:58] myu1003 opened #636 "Simplified Chinese un translated Simplified Chinese un translated"
Issue Type: <b>Bug</b>

*Context*
- Managed Dependencies: on
- Cloud SDK Version: 367.0.0
- Skaffold Version: v1.34.0
- Minikube Version: 1.24.0
-Simplified Chinese un translated

Extension version: 1.63.3
VS Code version: Code 1.63.2 (899d46d82c4c95423fb7e10e68eba52050e30ba3, 2021-12-15T09:40:02.816Z)
OS version: Windows_NT x64 10.0.22000
Restricted Mode: No

<details>
<summary>System Info</summa

[2021-12-21 08:45] heartacker commented on #621
![image](https://user-images.githubusercontent.com/1876302/146899368-bc3c7882-aee2-416d-9eed-7c17fcf57ff5.png)

$(xxxx) 一般都是应用icon。翻译团队不要对这样的文字进行翻译

[2021-12-22 08:13] garrivjo opened #656 "Fix translation of "Source action" to Spanish"
Does this issue occur when all extensions are disabled?: Yes

- VS Code Version: 1.63, spanish
- OS Version: MacOS Monterey v12.0.1

Steps to Reproduce:

1. Write a Java class with an instance variable
2. Open the context menu. One of the options will be "Acción de Origen", which is an intended translation for "Source action" to Spanish. However, the Spanish translation for Source is "Código fuent

[2021-12-24 15:34] laubonghaudoi opened #647 "How to debug the translation(language pack)?"
We are [CanCLID](https://github.com/CanCLID) and currently [translating vscode into Cantonese](https://github.com/CanCLID/vscode-loc). As we are actively making progress, we want to load our translation into vscode so as to debug any error. What are the steps of doing this? Thank you!

[2021-12-25 22:30] hickford commented on #443
Dates written in the American style are confusing to many people. Consider using a unambiguous date format such as yyyy-mm-dd (ISO 8601)

Example from Extension page

![image](https://user-images.githubusercontent.com/105314/147394673-159f7479-cbe2-4b34-8859-e3d781b93090.png)

https://code.visualstudio.com/docs/getstarted/locales

[2021-12-25 22:35] hickford opened #650 "Confusing date format on extension info page"
Dates written in the American style are confusing to many people. Consider using a unambiguous date format such as yyyy-mm-dd (ISO 8601)

Example from Extension page

![image](https://user-images.githubusercontent.com/105314/147394673-159f7479-cbe2-4b34-8859-e3d781b93090.png)

https://code.visualstudio.com/docs/getstarted/locales

I tried changing the locale to Spanish and German, but the problem

[2021-12-25 23:06] Nabby12 opened #651 ""enables locally" has been mistranslated in Japanese."
# Overview

The following translation is incorrect.

https://github.com/microsoft/vscode-loc/blob/1fc05efca94935a0fd56136ea7ee968e26516b4f/i18n/vscode-language-pack-ja/translations/main.i18n.json#L5339

※This means "This extension is enabled in the Local Extension Host because it is preferable to run it on a remote extension host." in English.

| English | Japanese |
| ------- | -------- |
| local

[2021-12-25 23:20] ZanderBrown commented on #443
Indeed, arguably even if en_GB is restored (one can dream) it would be more appropriate to use 8601 as it avoids confusion, and it is likely already familiar for programmers.

[2021-12-28 05:13] yantze opened #653 ""saveWithoutFormatting" has been mistranslated in Chinese."
The following translation is incorrect:

https://github.com/microsoft/vscode-loc/blob/3d1a5d790fd8213adc3154095d8df25b2d204f30/i18n/vscode-language-pack-zh-hans/translations/main.i18n.json#L5843

| string  | mistranslated  |  right
|---|---|---|
| Save without Formatting  | 保存但不更改格式  | 保存但不格式化

[code]

[2022-01-04 22:58] cristianosuzuki77 commented on #619
Could you narrow down to the file that is exposed for localization? I located these files where the resource 'Open Folder' and 'Add Folder' are present and I do see Italian translations there.

Open Folder:
https://github.com/microsoft/vscode-loc-drop/blob/main/loc/it/src/vscode-workbench/vs_workbench_contrib_watermark.xlf.lcl
https://github.com/microsoft/vscode-loc-drop/blob/main/loc/it/src/vscod

[2022-01-05 17:46] mbamac opened #658 "Convert to tabs incorrectly translated to Polish"
"Convert indentation to tabs" is incorrectly translated to Polish:

Now is: "Konwertuj wcięcia na karty"

Should be "Konwertuj wcięcia na tabulatory"

[2022-01-06 06:23] khongcoten2302 opened #659 "help create Vietnamese language pack"
How to automatically and accurately translate all words

[2022-01-06 22:17] cristianosuzuki77 commented on #636
@myu1003 what text is not translated?

[2022-01-06 22:27] cristianosuzuki77 commented on #650
@TylerLeonhardt  I am not locating the datetime as a resource for localization, I'm assuming it is concatenated in runtime so not a loc issue. Please help if I'm mistaken.

[2022-01-10 02:03] #653 closed

[2022-01-10 10:26] csigs commented on #621
{ body = Resolved as Fixed. }The issue has been fixed in localization platform that the fix should be exported to production repo and will take effect in next release! (Reference id: 531929)

[2022-01-10 10:26] #621 closed

[2022-01-10 10:26] csigs commented on #622
{ body = Resolved as Fixed. }The issue has been fixed in localization platform that the fix should be exported to production repo and will take effect in next release! (Reference id: 531930)

[2022-01-10 10:27] #622 closed

[2022-01-10 10:27] csigs commented on #626
{ body = Resolved as Fixed. }The issue has been fixed in localization platform that the fix should be exported to production repo and will take effect in next release! (Reference id: 532838)

[2022-01-10 10:27] #626 closed

[2022-01-10 10:27] csigs commented on #656
{ body = Resolved as Fixed. }The issue has been fixed in localization platform that the fix should be exported to production repo and will take effect in next release! (Reference id: 536972)

[2022-01-11 02:25] csigs commented on #647
{ body = Resolved as Fixed. }The issue has been fixed in localization platform that the fix should be exported to production repo and will take effect in next release! (Reference id: 535770)

[2022-01-11 02:25] #647 closed

[2022-01-11 02:25] csigs commented on #659
Resolved as As Designed.

[2022-01-11 02:25] #659 closed

[2022-01-11 05:06] laubonghaudoi commented on #647
@csigs Hi but still, how do we debug the language pack that we are working on? Is there a doc for it?

[2022-01-11 21:33] cristianosuzuki77 commented on #628
Localization goes through internal Microsoft teams. It is not opened for external alterations apart from suggesting feedback.

[2022-01-12 11:21] googol7 opened #671 "Use German word "Code Schnippsel" instead of "Benutzercodeausschnitte""
Change German translation "Ausschnitt" to "Schnippsel" and avoid words like "Benutzerausschnitte", "Benutzercodeausschnitte" or "Codeausschnittdatei"

[2022-01-13 02:26] #651 closed

[2022-01-13 04:07] alexkoala opened #674 "`detectThenRunAndDebug` link broken in Korean"
`command:{0}` is mistranslated to `명령:{0}`.

[2022-01-13 17:21] crsuzukimsft commented on #671
This is being tracked in an internal ticket, since it was initiated via a PR. The fixes will be returned within the 5 days SLA.

[2022-01-13 18:26] csigs commented on #671
Resolved as Duplicate.

[2022-01-13 18:26] #671 closed

[2022-01-14 10:25] csigs commented on #658
{ body = Resolved as Fixed. }The issue has been fixed in localization platform that the fix should be exported to production repo and will take effect in next release! (Reference id: 539266)

[2022-01-14 10:25] #658 closed

[2022-01-14 13:43] alexkoala commented on #674
`[모든 자동 디버그 구성을 표시합니다](command:{0}).`

[2022-01-14 16:57] crsuzukimsft commented on #674
Thank you. There were actually more languages impacted with this overtranslation. And for Polish, the link breaks due to extra space. All of these are being fixed now.

[2022-01-17 22:55] IsaqueOliveira360 opened #684 "esta extensão me causou problemas"
Nós escrevemos os dados necessários em sua área de transferência porque era muito grande para ser enviado. Por favor, Cole.

Issue Type: <b>Bug</b>

eu nao estava conseguindo executar meus codigos html devido a essa extensao

Extension version: 1.63.3
VS Code version: Code 1.63.2 (899d46d82c4c95423fb7e10e68eba52050e30ba3, 2021-12-15T09:40:02.816Z)
OS version: Windows_NT x64 6.3.9600
Restricted Mod

[2022-01-20 02:26] csigs commented on #684
Resolved as As Designed.

[2022-01-20 02:26] #684 closed

[2022-01-20 12:50] #674 closed

[2022-01-22 13:02] Nabby12 commented on #651
Thank you for fixing it.

[2022-01-24 18:36] SetTrend opened #696 "German: JSON examples in Remote settings are invalid"
JSON examples für German Remote settings are invalid:

![Remote settings translation invalid](https://user-images.githubusercontent.com/9283914/150843179-b7e77014-a682-43fe-ac1f-98abb839eedc.png)

1. Keywords have been translated
1. German quoting style has been applied

[2022-01-25 08:35] pata0202 opened #698 "Wrong Translation"
Issue Type: <b>Bug</b>

the word "activate" is now translate as "激活"
but this is not the term used by Traditional Chinese users.
we use "啟動" instead of "激活"
hope you can fix this problem
thx

Extension version: 1.61.5
VS Code version: Code 1.61.2 (6cba118ac49a1b88332f312a8f67186f7f3c1643, 2021-10-19T14:57:20.575Z)
OS version: Windows_NT x64 10.0.19044
Restricted Mode: No

<details>
<summary>System

[2022-01-25 16:53] TylerLeonhardt commented on #699
FYI @crsuzukimsft @danyeh this issue was opened in the vscode repo initially. I used the `L10N` tag and @csigs but it didn't get a response. I just wanna double check that the vscode repo is also showing up in your queries?

[2022-01-25 17:51] cristianosuzuki77 commented on #699
It was bug it was not sync'd back. Let me update it.

[2022-01-27 03:02] cristianosuzuki77 commented on #698
@pata0202 Is this the sentence you refer too: 當VS Code啟動時激發該事件，為了確保最好的使用者體驗，當您的延伸模組沒有其他組合作業時,請激活此事件。

[2022-01-27 03:36] pata0202 commented on #698
@cristianosuzuki77
yes
in this case , use the word "啟用" is better than "激活"

[2022-01-27 10:26] csigs commented on #699
Resolved as Duplicate.

[2022-01-27 10:26] #699 closed

[2022-01-28 10:25] csigs commented on #696
{ body = Resolved as Fixed. }The issue has been fixed in localization platform that the fix should be exported to production repo and will take effect in next release! (Reference id: 548626)

[2022-01-28 10:25] #696 closed

[2022-01-28 12:53] t-hamano opened #705 "Wrong translation on Japanese"
There is a typo on alert dialog when VSCode is closed while a file is being deleted.

![vscode](https://user-images.githubusercontent.com/54422211/151550324-1ca2a553-12cb-4929-aa27-a734a138b0b6.jpg)

`閉じるしますか?`

to

`閉じますか?`

[2022-01-31 14:00] TamilNeram opened #709 "Tamil Translation for VS code"
I would like to start Tamil Translation for VS code. Let me know how to get started...

[2022-01-31 22:09] cristianosuzuki77 commented on #614
@TylerLeonhardt If you agree with the suggestion, the source English would need to be modified to include the git command as non-translatable string long with the UI text that needs translation.
From translation pov, the string would need to have both parts, the translatable and non-translatable.

[2022-01-31 22:24] cristianosuzuki77 commented on #705
@t-hamano I'm not able to locate it as part of the core strings in vscode.
What is the exact English string for this translation? Is it coming from an extension by any chance?

[2022-01-31 22:25] cristianosuzuki77 commented on #709
Hi @TamilNeram we're not extending translations of code further than the existing supporting languages.
Thank you for your support.

[2022-01-31 22:25] #709 closed

[2022-02-01 02:08] t-hamano commented on #705
I changed the VS Code language to default and reproduced the steps to display the message.

https://user-images.githubusercontent.com/54422211/151903023-0d3f1553-6587-47f9-b454-516c0dd252cc.mp4

The base text is "**Are you sure you want to close window?**".

I determined that it was generated from the VSCode language pack. Because my OS is Japanese, but since this message varies depending on the V

[2022-02-02 02:44] TylerLeonhardt opened #713 "More flexible publishing"
* [x] allow for publishing even if a tag exists
* [x] let me publish only some extension packs

[2022-02-02 02:57] heartacker opened #714 "please add keywords property to each language package `package.json`"
so that we could search by those keyword.
nowadays, we even could not search chinese-languase-packaage by `中文`
that is inconceivable,

![image](https://user-images.githubusercontent.com/1876302/152086113-2d2f5ec4-6887-43df-89a5-553b6735e2af.png)

all the language-package could be searched only by the package-name within whole-word-match

vscode has provide the `keywords `property to deal with

see

[2022-02-03 18:26] csigs commented on #618
{ body = Resolved as Fixed. }The issue has been fixed in localization platform that the fix should be exported to production repo and will take effect in next release! (Reference id: 529523)

[2022-02-03 18:26] #618 closed

[2022-02-04 12:30] DatchLive opened #717 ""Join in Group" has been mistranslated in Japanese"
https://github.com/microsoft/vscode-loc/blob/1c553470360e3aee1cbbed77b6883c5059461426/i18n/vscode-language-pack-ja/translations/main.i18n.json#L3114
https://github.com/microsoft/vscode-loc/blob/1c553470360e3aee1cbbed77b6883c5059461426/i18n/vscode-language-pack-ja/translations/main.i18n.json#L3132-L3133
The Japanese translation of "join in group" in the above 3 lines should be "グループ内統合".

`"グループに参加

[2022-02-04 16:29] cristianosuzuki77 commented on #714
@TylerLeonhardt Not sure what loc could do here.

[2022-02-04 19:43] Balastrong opened #718 "[Italian] Bracket pair colorization says only square brackets are included"
If I'm not mistaken is the key `bracketPairColorization.enabled`.

In English reads:

In Italian though, is:

The word `quadre` should be removed as it means square.

[2022-02-05 00:26] TylerLeonhardt commented on #714
@cristianosuzuki77 can you do me a favor? For each language we support, can you give me the name of the language in the language? Like 中文 for Chinese. We can then add these translations to the keywords in the package.json in each language pack so that when users search for the language in their language, it will show up in search results.

[2022-02-07 10:52] Brack0 opened #719 "Missing letter in Fr translation"
Hi,

**Issue :**

A letter is missing in this translation : https://github.com/microsoft/vscode-loc/blob/cb336e7351c6026ededd139b56fb6bb1b60088fc/i18n/vscode-language-pack-fr/translations/main.i18n.json#L2993
We are expecting `volet` here.

**Question :**

What mean these characters `&&` ?

Thanks

[2022-02-08 21:13] cristianosuzuki77 commented on #719
&& is to indicate the place of the hotkey.
Translator will address the issue with the word voet.

[2022-02-09 09:54] ShiinaKaze opened #721 "Chinese (Simplified) (简体中文) Jupyter"
![QQ截图20220209175216](https://user-images.githubusercontent.com/89641145/153171767-c8d4260b-e7c2-4798-9e0c-77ff026058ad.jpg)
能否不要把Markdown翻译为标记。
Please do not translate Markdown to '标记'.

[2022-02-09 15:15] YannickDurden opened #723 "Update main.i18n.json"
`"miShowAuxiliaryBar": "Afficher le volet lat&&éral",`

instead of

`"miShowAuxiliaryBar": "Afficher le voet lat&&éral",`

https://github.com/microsoft/vscode-loc/blob/770cbffa2b1371df85a2dd89c760d00009997d9d/i18n/vscode-language-pack-fr/translations/main.i18n.json#L2993

[2022-02-10 18:16] cristianosuzuki77 commented on #721
What is the equivalent in the UI in English?

[2022-02-10 18:26] csigs commented on #717
{ body = Resolved as Fixed. }The issue has been fixed in localization platform that the fix should be exported to production repo and will take effect in next release! (Reference id: 553882)

[2022-02-10 18:26] #717 closed

[2022-02-10 18:26] #723 closed

[2022-02-11 01:43] ShiinaKaze commented on #721
Thank you for your reply, I suggest translating it to 'Markdown', which means no translation is needed and it is more easily pronounced. As a foreign word on the internet, it is awkward to read it as a Chinese character, this is my personal opinion. ---- DeepL Translation

[2022-02-11 09:31] pearwb1235 opened #727 "Path file:///C:/ was converted to file:///C%3A/"
[Source Issue](https://github.com/gitkraken/vscode-gitlens/issues/1488#issuecomment-1036002645)

當在 Gitlens version v11.7.0 使用 Open Folder History 時安裝 "[Chinese (Traditional) Language Pack](https://marketplace.visualstudio.com/items?itemName=MS-CEINTL.vscode-language-pack-zh-hant)" 延伸模組，會導致查詢路徑 file:///C:/<path> 轉換成 file:///C%3A/

In Gitlens version: v11.7.0

When I install vscode recommend extens

[2022-02-11 10:26] csigs commented on #718
{ body = Resolved as Fixed. }The issue has been fixed in localization platform that the fix should be exported to production repo and will take effect in next release! (Reference id: 554106)

[2022-02-11 10:26] #718 closed

[2022-02-14 21:32] ach42 opened #730 "Wrong french translation / "trustedHeaderFolder""
in https://github.com/microsoft/vscode-loc/blob/main/i18n/vscode-language-pack-fr/translations/main.i18n.json

line 9768 "trustedHeaderFolder"

"Vous faites avez approuvé ce dossier"

Correct :

"Vous avez approuvé ce dossier"

[2022-02-15 00:00] cristianosuzuki77 commented on #727
@TylerLeonhardt doesn't seem to be translation issue. The same was logged in https://github.com/gitkraken/vscode-gitlens/issues/1488#issuecomment-1036002645 .  Let me know if you have more information about the possible translation error.

[2022-02-15 01:50] TylerLeonhardt commented on #727
Looks like we can close this since @pearwb1235 commented in GitLens repo

[2022-02-15 01:50] #727 closed

[2022-02-15 03:18] bialyh2o opened #731 "xyz"
Zapisaliśmy potrzebne dane do Twojego schowka, ponieważ były zbyt duże do wysłania. Wklej je.

[2022-02-15 03:33] bialyh2o opened #732 "xyz"
Zapisaliśmy potrzebne dane do Twojego schowka, ponieważ były zbyt duże do wysłania. Wklej je.

[2022-02-16 14:51] Juanito-boop opened #733 "problemas de rendimiento"
Issue Type: <b>Bug</b>

deshabilitar extension o eliminar

Extension version: 1.64.6
VS Code version: Code 1.64.2 (f80445acd5a3dadef24aa209168452a3d97cc326, 2022-02-09T22:02:28.252Z)
OS version: Windows_NT x64 10.0.17763
Restricted Mode: No

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|AMD A9-9420 RADEON R5, 5 COMPUTE CORES 2C+3G    (2 x 2994)|
|GPU Status|2d_canvas: enab

[2022-02-17 17:58] #731 closed

[2022-02-17 18:00] cristianosuzuki77 commented on #732
Hello
Tickets must have clear instructions about the problem and in English.
Please open a new one if needed, with more information about the problem.

[2022-02-17 18:00] #732 closed

[2022-02-17 19:33] cristianosuzuki77 commented on #733
@Juanito-boop could you explain the ticket? Is this a translation error?

[2022-02-17 19:35] Juanito-boop commented on #733
This extension, makes vscode slow

[2022-02-17 23:21] TylerLeonhardt commented on #713
We now can publish specific extension packs and publish if tags already exist.

[2022-02-17 23:21] #713 closed

[2022-02-22 07:28] GSRLW opened #746 "starange Chinese Simplified Title"
this happened in V1.64.2
en：
<img width="251" alt="image" src="https://user-images.githubusercontent.com/35130268/155082725-27e37b0b-2ab2-4842-b433-b26878c25432.png">
no change
zh-hans in V 1.63.2：
![17154921278431415](https://user-images.githubusercontent.com/35130268/155082983-114a27d4-1654-4eba-9257-1531f6003dbf.png)

zh-hans in V 1.64.2：
<img width="263" alt="image" src="https://user-images.gi

[2022-02-22 09:23] LaoshuBaby commented on #541
No, this is not can't reproduce, I meet with this problem today once again when I update vscode. (If MS stuff think this is unproductive, why so many such issue occur?)

---

**But, a translation missing solve method found: just uninstall and re-install the language package.**

~~(maybe somthing haven't been refreshed? I dont know. Although everything is uptodate.)~~

[2022-02-22 09:24] LaoshuBaby commented on #746
Yes, I'm sure this will be very strange, maybe "编辑已进化" can be re-translated as ""

(But stupid MS stuff will not listen to you, and only closed your issue :> )

[2022-02-22 13:12] LaoshuBaby commented on #746
There are a lot of mistake/unproper translation in VSC

For example, "Playground" -> "操场"

(it should be "训练场"/“练习场”)

![图片](https://user-images.githubusercontent.com/42690037/155139226-24599d7b-27f1-41af-bd04-03b68729ac90.png)

[2022-02-22 13:27] GSRLW commented on #746
ok，I know .  thanks your answer .

[2022-02-22 13:27] #746 closed

[2022-02-22 18:26] csigs commented on #730
{ body = Resolved as Fixed. }The issue has been fixed in localization platform that the fix should be exported to production repo and will take effect in next release! (Reference id: 558610)

[2022-02-22 18:26] #730 closed

[2022-02-23 18:11] cristianosuzuki77 commented on #721
Thank you for the clarification. I understand that your request is that it doesn't be translated.
I am not seeing an English word 'Markdown' being translated as '标记', but I am seeing the English word 'Tags' being translated to 标记.

[2022-02-25 17:28] #628 closed

[2022-02-25 17:48] cristianosuzuki77 commented on #619
Tyler, could you assist on this issue?
The resource is translated, but it doesn't work as expected in runtime.
The repro happens as well as follow:
1. Start VS in English without any file open.
2. Open 'Explorer'
3.  You will see the screenshot below:
![image](https://user-images.githubusercontent.com/18152472/155762546-20c17a1e-bbab-42ec-8bce-dfbed0e84f2d.png)
4. Install pt-BR language package.
5

[2022-02-25 17:52] TylerLeonhardt commented on #619
@cristianosuzuki77 this is the fault of the translator. We include a comment that says:
https://github.com/microsoft/vscode/blob/b15eb66b6cef2a06c361f297504cdf5905ac34cc/src/vs/workbench/contrib/files/browser/explorerViewlet.ts#L294-L322

Additionally, the translator is adding characters in between the `[...]` and `(...)` which causes this to break.

I have been meaning to add that syntax that hel

[2022-02-25 17:55] TylerLeonhardt commented on #619
Actually @JacksonKearl made a change to make sure this doesn't happen again. It should be available in [VS Code Insiders](https://code.visualstudio.com/insiders) already and will be in Stable next week.

[2022-02-25 17:55] #619 closed

[2022-02-25 17:55] TylerLeonhardt commented on #619
/duplicate #143122

[2022-02-25 17:57] cristianosuzuki77 commented on #472
Please re-open with a screenshot. Not able to locate this text.

[2022-02-25 17:57] #472 closed

[2022-02-25 17:58] cristianosuzuki77 commented on #620
Hi,
Is this still repro?

[2022-02-25 17:58] #636 closed

[2022-02-25 18:00] cristianosuzuki77 commented on #698
Thank you. Asking for translation review and if needed, fix.

[2022-02-25 18:43] cristianosuzuki77 commented on #705
Thank you. I am not familiar with the 'Test' project. Is this a plug-in for vscode?
If I do the same 'Delete' for a folder, I get a different text:
I am showing the version of the Japanese language package I am using.
![image](https://user-images.githubusercontent.com/18152472/155770126-5c3d41d0-161d-4349-a58e-28eaffbf98c2.png)
![image](https://user-images.githubusercontent.com/18152472/155770236-

[2022-02-25 20:16] dragonDScript commented on #472
The current text is correct

[2022-02-26 00:30] csigs opened #756 "Test"
This is a test to include ADO feedback link when porting to ADO.

[2022-02-26 00:35] csigs commented on #756
The issue has been ported to ADO in https://ceapex.visualstudio.com/CEINTL/_workitems/edit/563970.

[2022-02-26 00:43] #756 closed

[2022-02-26 04:49] t-hamano commented on #705
Thanks for the reply.
What you need to check is not the message when deleting unsaved files.
It's the message you get when you try to quit VS Code while the deletion of a file or directory is in progress.

For example, install a huge package with npm, and then delete the node_modules folder on VS Code.
It will take some time for the entire node_modules folder to be deleted, so in the meantime, ple

[2022-02-28 10:17] orkeilius opened #759 "Change "révéler" to "afficher" in French"
# change "révéler" to "afficher"
## I reopen an issue similar to the pull #155 for the following reasons:
- "révéler" mean "disclose" not "display" in French so that weird to "disclose a file in explorer"
- the key "showInExplorer" literary mean "**afficher** dans l'explorateur"
- the German translation already use a word who mean "display" not "reveal" (anzeigen)

## what sould change :
- change

[2022-02-28 10:26] csigs commented on #759
The issue has been ported to ADO in https://ceapex.visualstudio.com/CEINTL/_workitems/edit/564546.

[2022-02-28 11:15] orkeilius commented on #759
Thanks
Could you please give me an update if this is accepted ?
I can't access to [ceapex.visualstudio.com](https://ceapex.visualstudio.com)

[2022-03-01 10:26] csigs commented on #698
{ body = Resolved as Fixed. }The issue has been fixed in localization platform that the fix should be exported to production repo and will take effect in next release! (Reference id: 548789)

[2022-03-01 10:26] #698 closed

[2022-03-01 22:14] cristianosuzuki77 opened #761 "Loc Clarification"
For the file vscode-workbench/vs_workbench_contrib_files.xlf, could you explain and share an example of the placeholder below:

"Import {0} resources"

id is fileImportExport.importnFile

152821

[2022-03-02 00:21] TylerLeonhardt commented on #761
Found here: https://github.com/microsoft/vscode/blob/05140e0831db7c67208de56e5edfc0ea6bc5f473/src/vs/workbench/contrib/files/browser/fileImportExport.ts#L540

I'm... not entirely sure. @bpaseo, loc folks would like some clarity here. Can you provide that?

[2022-03-02 06:33] bpasero commented on #761
@JacksonKearl for explorer

[2022-03-02 10:26] csigs commented on #759
{ body = Resolved as Fixed. }The issue has been fixed in localization platform that the fix should be exported to production repo and will take effect in next release! (Reference id: 564546)

[2022-03-02 10:26] #759 closed

[2022-03-02 19:04] JacksonKearl commented on #761
Updated the source with comments. But the substitution will be the number of files that were imported, for instance `Import 5 resources`

[2022-03-02 19:04] #761 closed

[2022-03-02 20:51] jomer710 opened #764 "extensiones"
Issue Type: <b>Bug</b>

no puedo instalar la extension de git

Extension version: 1.63.3
VS Code version: Code 1.64.2 (f80445acd5a3dadef24aa209168452a3d97cc326, 2022-02-09T22:02:28.252Z)
OS version: Windows_NT x64 10.0.19043
Restricted Mode: No

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Celeron(R) CPU N3350 @ 1.10GHz (2 x 1094)|
|GPU Status|2d_canvas: enabled<

[2022-03-03 02:26] csigs commented on #764
The issue has been ported to ADO in https://ceapex.visualstudio.com/CEINTL/_workitems/edit/566085.

[2022-03-03 18:10] cristianosuzuki77 commented on #764
Not sure if this issue is handled in this repo.

[2022-03-07 03:10] NateScarlet opened #767 "[zh-hans] "select a language" translated to "select a programing language""
I am pretty sure plain text is not a programming language,

so this should be `选择语言`:

https://github.com/microsoft/vscode-loc/blob/a55488f2f7163aaaaec63f05f160862141cd8b53/i18n/vscode-language-pack-zh-hans/translations/main.i18n.json#L4352

`选择编程语言` is introduced by #468

[2022-03-07 10:27] csigs commented on #767
The issue has been ported to ADO in https://ceapex.visualstudio.com/CEINTL/_workitems/edit/567621.

[2022-03-08 16:16] cristianosuzuki77 commented on #767
@TylerLeonhardt  FYI please consider adding comments in the resource explaining when 'language' refers to programming language and when it does not.
Addressing this issue.

[2022-03-09 12:22] idawnlight opened #769 "[zh-hans] Inconsistent translation of "editingEvolved" caused by a code refactor"
I noticed that in microsoft/vscode#141138 `.../welcome/gettingStarted/` is moved to `.../welcomeGettingStarted/`, and thus a new field called `.../welcomeGettingStarted/browser/gettingStarted` is generated instead of renaming the original `.../welcome/gettingStarted/browser/gettingStarted` field.

However, the new field is not the same as the previous one, although neither the key nor the context

[2022-03-10 02:26] csigs commented on #769
The issue has been ported to ADO in https://ceapex.visualstudio.com/CEINTL/_workitems/edit/569089.

[2022-03-12 01:02] liaohongxing opened #771 "Add noRecents ,openFolder, toStart field translation"
Due to a recent Fix PR, several fields need to be added

https://github.com/microsoft/vscode/blob/45b4204501ac1f50b6231af3c996d35f86359ecd/src/vs/workbench/contrib/welcomeGettingStarted/browser/gettingStarted.ts#L878-L881

[2022-03-12 02:25] csigs commented on #771
The issue has been ported to ADO in https://ceapex.visualstudio.com/CEINTL/_workitems/edit/570359.

[2022-03-12 09:40] orkeilius opened #772 "Re : Change "révéler" to "afficher" in French"
Sorry to said that,
but in #759 you have updated the "revealInMac" but forgot "revealInWindows" key

[2022-03-12 09:54] orkeilius commented on #772
The update was made in the commit #763
and the "revealInWindows" key should be "Afficher dans l'Explorateur de fichiers"

[2022-03-12 10:25] csigs commented on #772
The issue has been ported to ADO in https://ceapex.visualstudio.com/CEINTL/_workitems/edit/570453.

[2022-03-12 12:16] ShiinaKaze commented on #721
Hello? I found it for you, at the red mark. Please change the '标记' to Markdown.Thank you XD

[2022-03-14 23:26] crsuzukimsft commented on #771
@TylerLeonhardt could you review this ask?

[2022-03-15 01:26] csigs commented on #771
Resolved as .

[2022-03-15 01:26] #771 closed

[2022-03-17 02:13] TylerLeonhardt commented on #771
Do you still need me to do something here?

[2022-03-17 17:27] csigs commented on #772
{ body = Resolved as Fixed. }The issue has been fixed in localization platform that the fix should be exported to production repo and will take effect in next release! (Reference id: 570453)

[2022-03-17 17:27] #772 closed

[2022-03-23 02:17] ianychoi opened #790 "[ko-kr] Wrong translation on vscode.dev"
Hi,

Not sure whether submitting vscode.dev L10n issues here is a good idea or not but let me share in details first and hope that the issue is being investigated and solved very soon.

- Issue: translation "Visual Studio Code (Preview). 언제, 어디서나, 전적으로 귀하의 브라우저에서." from English: "Visual Studio Code (Preview). Anywhere, anytime, entirely in your browser." is wrong.
- Detail context: direct translat

[2022-03-23 09:26] csigs commented on #790
The issue has been ported to ADO in https://ceapex.visualstudio.com/CEINTL/_workitems/edit/577028.

[2022-03-23 20:12] cristianosuzuki77 commented on #790
@TylerLeonhardt  Could you help locate this resource? I am not seeing it in loc side.

[2022-03-23 20:16] TylerLeonhardt commented on #790
@joaomoreno do you know where you got these translations?

[2022-03-24 15:14] joaomoreno commented on #790
I _poor-manned_ it, caught red handed: Bing Translate. This was right on the date for shipping vscode.dev and I should've created a follow-up item. What would be the best way to move forward and create a pipeline to fix the current strings and make sure new strings get translated in due time?

[2022-03-24 18:05] TylerLeonhardt commented on #790
@cristianosuzuki77 could we have a one-off request to translate some strings until we have a better story for how we will translate the web version of VS Code?

[2022-03-24 23:33] VoodooChacal opened #792 "A tradução paraportuguês Brasil não esta funcionando no Playground."
Olá eu quero aprender usar o VSCODE porém esta em inglês, eu entendo algumas coisas mas não é o suficiente para eu ter um bom aprendizado.
Por favor adicionar a tradução PT/BR no playground.
Antecipadamente muito obrigado!

Extension version: 1.65.3
VS Code version: Code 1.65.2 (c722ca6c7eed3d7987c0d5c3df5c45f6b15e77d1, 2022-03-10T14:33:55.248Z)
OS version: Windows_NT x64 10.0.19044
Restricted Mod

[2022-03-25 01:25] csigs commented on #792
The issue has been ported to ADO in https://ceapex.visualstudio.com/CEINTL/_workitems/edit/578264.

[2022-03-30 15:53] cristianosuzuki77 commented on #792
Poderia confirmar o que seria o Playground? Uma extensão?

[2022-03-31 17:22] crsuzukimsft commented on #705
Thanks for clarification.
@TylerLeonhardt This particular string "are you sure you want to close window?" is not being exposed to loc. Not sure if this is part of vs code or OS.

[2022-03-31 17:26] csigs commented on #733
Resolved as Cant Reproduce.

[2022-03-31 17:26] #733 closed

[2022-03-31 17:36] crsuzukimsft commented on #721
Thank you. @ShiinaKaze The screenshot above is perfect. The fix will be back within 2 to 5 days.

[2022-03-31 18:12] cristianosuzuki77 commented on #767
@NateScarlet Thank you. This should be resolved within the next days.

[2022-03-31 18:50] cristianosuzuki77 commented on #790
Okay. I'm requesting this sentence to be translated across the languages.
I will give them back in this ticket.
If you need similar work, please let me know via email.

[2022-04-01 03:43] ShiinaKaze commented on #721
Thank you so much.

[2022-04-01 04:32] t-hamano commented on #705
@cristianosuzuki77
@crsuzukimsft
@TylerLeonhardt

I found where this message is generated from.

`vscode` repo:
https://github.com/microsoft/vscode/blob/main/src/vs/workbench/contrib/bulkEdit/browser/bulkEditService.ts#L264-L268

`vscode-loc` repo:
https://github.com/microsoft/vscode-loc/blob/main/i18n/vscode-language-pack-ja/translations/main.i18n.json#L4063-L4064

At the same time, we noticed th

[2022-04-01 10:08] lgleznah opened #794 "[es-ES] Error de traducción en diálogo de borrar múltiples ficheros"
¡Buenos días!

Hay un pequeño error de traducción en el diálogo de borrado de múltiples ficheros en VSCode. Indico aquí los detalles:

A la hora de elegir múltiples ficheros en el editor e intentar borrarlos, sale un cuadro de texto con la apariencia indicada en la captura de pantalla adjunta:

![imagen](https://user-images.githubusercontent.com/36040102/161241683-c35bbde3-f15d-4916-b7bc-7ea7f99d5

[2022-04-01 17:26] csigs commented on #794
The issue has been ported to ADO in https://ceapex.visualstudio.com/CEINTL/_workitems/edit/583479.

[2022-04-05 09:25] csigs commented on #721
{ body = Resolved as Fixed. }The issue has been fixed in localization platform that the fix should be exported to production repo and will take effect in next release! (Reference id: 556250)

[2022-04-05 09:25] #721 closed

[2022-04-05 09:25] csigs commented on #767
{ body = Resolved as Fixed. }The issue has been fixed in localization platform that the fix should be exported to production repo and will take effect in next release! (Reference id: 567621)

[2022-04-05 09:25] #767 closed

[2022-04-05 09:25] csigs commented on #769
{ body = Resolved as Fixed. }The issue has been fixed in localization platform that the fix should be exported to production repo and will take effect in next release! (Reference id: 569089)

[2022-04-05 09:25] #769 closed

[2022-04-05 17:55] cristianosuzuki77 commented on #705
Thank you. The placeholders helped.

[2022-04-06 03:58] holazz opened #796 "[zh-hans] Variable name that should not be translated"
https://github.com/microsoft/vscode-loc/blob/ac085cb3ba336f4a4345d33a2961967222ff394b/i18n/vscode-language-pack-zh-hans/translations/main.i18n.json#L6049

`$​(捕获)` should be `${capture}`

<img width="1552" alt="截屏2022-04-06 上午11 38 49" src="https://user-images.githubusercontent.com/23100055/161892896-4ea1bf64-b526-4034-b6fa-0e4cdc6ac93e.png">

[2022-04-06 09:26] csigs commented on #796
The issue has been ported to ADO in https://ceapex.visualstudio.com/CEINTL/_workitems/edit/585524.

[2022-04-06 17:26] csigs commented on #790
{ body = Resolved as Fixed. }The issue has been fixed in localization platform that the fix should be exported to production repo and will take effect in next release! (Reference id: 577028)

[2022-04-06 17:26] #790 closed

[2022-04-08 07:59] michael-at-mitxp opened #797 "german translation for command.stageSelectedRanges"
line 362 in main/i18n/vscode-language-pack-de/translations/extensions/git.i18n.json

[code]
stageSelectedRanges should read "Gewählte Bereiche bereitstellen" with 'stage' translated as in the lines above.

the current translation does not make any sense at all

It would be great if it could be fix. This is one I stumble over regularly ;)

Please let me know if there is a better way I can report bu

[2022-04-08 09:26] csigs commented on #797
The issue has been ported to ADO in https://ceapex.visualstudio.com/CEINTL/_workitems/edit/586776.

[2022-04-08 09:26] csigs commented on #794
{ body = Resolved as Fixed. }The issue has been fixed in localization platform that the fix should be exported to production repo and will take effect in next release! (Reference id: 583479)

[2022-04-08 09:26] #794 closed

[2022-04-08 17:27] csigs commented on #796
{ body = Resolved as Fixed. }The issue has been fixed in localization platform that the fix should be exported to production repo and will take effect in next release! (Reference id: 585524)

[2022-04-08 17:27] #796 closed

[2022-04-09 05:10] Arplane-SOCITY opened #798 "Create Thai Language Pack"
---
-------------Information---------------
* Please Follow The Title For Information
------------End Information-----------
----------------Tasks-------------------
- [ ] Create Thai Language Pack
- [ ] Create Thai Extensions
- [ ] Create Thai Settings
--------------End Tasks----------------
--------------Contact Us---------------
- [Email](mailto:arplane0@outlook.com)
- [GitHub](https://github.c

[2022-04-09 09:26] csigs commented on #798
The issue has been ported to ADO in https://ceapex.visualstudio.com/CEINTL/_workitems/edit/587312.

[2022-04-11 09:26] csigs commented on #705
{ body = Resolved as Fixed. }The issue has been fixed in localization platform that the fix should be exported to production repo and will take effect in next release! (Reference id: 550780)

[2022-04-11 09:26] #705 closed

[2022-04-15 05:23] hwhsu1231 opened #804 "[zh-tw] I suggest that "task" be translated into "任務" rather than "工作"."
In Chinese, I would translate like the following:

- **job**: 工作
- **task**: 任務

![image](https://user-images.githubusercontent.com/71438617/163524377-20e3f4a7-3e12-4b9e-aacc-6172eae10a24.png)

[2022-04-15 09:25] csigs commented on #804
The issue has been ported to ADO in https://ceapex.visualstudio.com/CEINTL/_workitems/edit/591022.

[2022-04-15 17:57] crsuzukimsft commented on #798
Thank you.
The request will be considered for future language expansions.

[2022-04-15 18:08] cristianosuzuki77 commented on #714
@TylerLeonhardt Could you share an example of how this approach?

[2022-04-15 22:57] TylerLeonhardt commented on #714
@cristianosuzuki77 in this file:
https://github.com/microsoft/vscode-loc/blob/main/i18n/vscode-language-pack-zh-hans/package.json
in each language pack, we can add `"keywords": [ "..." ]` we can put the name of the language it's language and then when the user searches for that in the Extension Marketplace, the extension will show up because it's listed as a keyword.

[2022-04-16 01:25] csigs commented on #792
Resolved as Cant Reproduce.

[2022-04-16 01:25] #792 closed

[2022-04-16 01:25] csigs commented on #798
Resolved as As Designed.

[2022-04-16 01:25] #798 closed

[2022-04-16 09:55] hwhsu1231 opened #806 "[zh-tw] I prefer to translate "Repository" into "儲存庫" rather than "存放庫"."
It seems that Microsoft uses **"存放庫"** to translate the **"Repository"** in its related websites and tools, such as Azure, Visual Studio, VSCode...etc.

But in my observation, **"儲存庫"** is the most commonly used translation in **"other"** websites with **zh-TW** locale. For example, Wiki.

By the way, I noticed that **"Git: Close Repository"** is translated with **"儲存庫"** in VSCode.

![image](http

[2022-04-16 17:26] csigs commented on #806
The issue has been ported to ADO in https://ceapex.visualstudio.com/CEINTL/_workitems/edit/591724.

[2022-04-17 05:14] hwhsu1231 opened #810 "[zh-tw] I suggest that "Commit" be translated into "提交" rather than "認可". (just like zh-cn)"
**"提交"** is more **intuitive** to me, and it is **widely-used** by many blogs and websites in **zh-tw** locale, **except** Microsoft-related tools and websites.

As for **"認可"**, I tend to translate it into **"Recognize"** or **"Accept"**. I seldom hear someone saying **"認可"** to to represent **"Commit"**.

By the way, **"Git: Undo Last Commit"** still uses **"提交"**.

![image](https://user-images.

[2022-04-17 09:26] csigs commented on #810
The issue has been ported to ADO in https://ceapex.visualstudio.com/CEINTL/_workitems/edit/592013.

[2022-04-20 08:32] foo4bar opened #815 "Ukrainian l10n."
Hi colleagues.

I've found the closed [issue](https://github.com/microsoft/vscode/issues/26691) related to the subject.
It looks like the job wasn't completed. Also, it looks like [transifex](https://www.transifex.com/home/) is not used for that anymore.
There was no any similar issue here as well, at least, I didn't find any.

So, could anyone here explain me how to create a new l10n for VS Code?

[2022-04-20 09:35] foo4bar commented on #815
Could you please explain how to request access to the issue?

[2022-04-21 01:26] csigs commented on #815
{ body = Resolved as Assigned to External. }Investigated by Loc Team: It's not a translation issue. (Reference id: 594292)

[2022-04-21 07:31] foo4bar commented on #815
Colleagues, with the upmost respect, is there anybody here who's not a bot to talk with?

[2022-04-21 17:46] cristianosuzuki77 commented on #804
Thank you for the suggestion. Upon reviewing, the suggestion is valid however it will be considered for future updates, since it will require alignment with other translations.
Thank you again.

[2022-04-21 17:46] #804 closed

[2022-04-22 13:15] hwhsu1231 opened #819 "[zh-tw] I suggest that "Build" should be uniformly translated into "建置" rather than "組建"."
I suggest that **"Build"** should use a uniform translation in **zh-TW** locale, which is **"建置"**.

- In **Visual Studio**, it is translated into **"建置"**.
- In **Qt Creator**, it is also translated into **"建置"**.
- In **CMake-Tools** plugin, it is translated into **"建置"** mostly.

However, I saw that some places use **"組建"** to translate **"Build"**. Also, I saw the MSDN use **"組建"** to translat

[2022-04-22 17:27] csigs commented on #819
The issue has been ported to ADO in https://ceapex.visualstudio.com/CEINTL/_workitems/edit/596372.

[2022-04-23 01:31] danyeh commented on #815
Please checkout wiki: https://github.com/Microsoft/vscode-loc/wiki/How-to-create-language-pack-extension.

[2022-04-23 01:31] #815 closed

[2022-04-23 17:41] foo4bar commented on #815
So, this repo is about s.c. core languages only, right? And when someone wants to create another language pack, this could be done as an independent project only, am I correct?

If yes, could it be stated explicitly in the readme? It's really not clear.

Thanks.

[2022-04-28 03:20] CrotchBurnt opened #830 "【Simplified Chinese】“关闭到右侧” is weird"
"close to the right" should be just "关闭右侧"，“关闭到右侧” sounds weird.

[2022-04-28 03:21] CrotchBurnt commented on #830
![image](https://user-images.githubusercontent.com/6418433/165669906-d638d4da-9be7-4237-be69-d63404bd0ff8.png)

[2022-04-28 09:26] csigs commented on #830
The issue has been ported to ADO in https://ceapex.visualstudio.com/CEINTL/_workitems/edit/599408.

[2022-04-28 17:26] csigs commented on #797
{ body = Resolved as Fixed. }The issue has been fixed in localization platform that the fix should be exported to production repo and will take effect in next release! (Reference id: 586776)

[2022-04-28 17:26] #797 closed

[2022-04-28 17:36] cristianosuzuki77 commented on #714
If I'm correct, for this to work, a resource similar to"keywords:["target language"]" would need to be present in the localized package.json.
However it seems not trivial and fail-safe way to control how "target language" is translated. It could be literally translated as such.
Since the language is part of the json via "localizedLanguageName": "中文(简体)", would the build be capable to create the ke

[2022-04-29 09:27] csigs commented on #806
{ body = Resolved as Fixed. }The issue has been fixed in localization platform that the fix should be exported to production repo and will take effect in next release! (Reference id: 591724)

[2022-04-29 09:27] #806 closed

[2022-04-29 09:27] csigs commented on #810
{ body = Resolved as Fixed. }The issue has been fixed in localization platform that the fix should be exported to production repo and will take effect in next release! (Reference id: 592013)

[2022-04-29 09:27] #810 closed

[2022-05-02 12:57] CodeCrazy-ywt opened #836 "【zh-cn】`*.hex` is translated as `*十六进制`, which should not."
In the description of `"workbench.editorAssociations"`, `*.hex` is translated as `*十六进制`, however it should not be translated, because it's a file extension name.
![feedback_vscode-loc_translating-hex-zh](https://user-images.githubusercontent.com/62426149/166236712-8f0d4d24-2b08-46f0-ba5e-ce99f180df04.jpg)

[2022-05-02 17:28] csigs commented on #836
The issue has been ported to ADO in https://ceapex.visualstudio.com/CEINTL/_workitems/edit/601227.

[2022-05-05 09:27] csigs commented on #830
{ body = Resolved as Fixed. }The issue has been fixed in localization platform that the fix should be exported to production repo and will take effect in next release! (Reference id: 599408)

[2022-05-05 09:27] #830 closed

[2022-05-05 17:28] csigs commented on #836
{ body = Resolved as Fixed. }The issue has been fixed in localization platform that the fix should be exported to production repo and will take effect in next release! (Reference id: 601227)

[2022-05-05 17:28] #836 closed

[2022-05-05 19:01] TylerLeonhardt commented on #714
It seems like the problem is because the [`localizedLanguageName`](https://github.com/microsoft/vscode-loc/blob/main/i18n/vscode-language-pack-zh-hans/package.json#L24) is `中文(简体)` and not just `中文`. If I search for `中文(简体)` I get the language pack, but I don't get it for `中文`.

But then again, if I try another language like Japanese, we have `日本語` in the `localizedLanguageName` but when I search

[2022-05-05 19:01] TylerLeonhardt commented on #714
Also @isidorn as maybe the Marketplace needs some work here.

[2022-05-06 10:05] CodeCrazy-ywt opened #843 "[zh-cn] Find result count in terminal"
“{0} of {1}” should be translated into “第 {0} 项，共 {1} 项”, instead of “{1} 中的 {0}”.
![fdbk_vscode-loc_find-result-count](https://user-images.githubusercontent.com/62426149/167111444-6a0f23e9-4bb7-4821-8af7-a115423ce973.jpg)

[2022-05-06 11:59] isidorn commented on #714
Extension search needs to be improved. The marketplace does not index the whole extension description, only the short description and the title. So it might be that the string which you searched for is simply not part of the indexed attributes. Hopefully that will change in the future.

[2022-05-06 13:30] TylerLeonhardt commented on #714
@isidorn is there any kind of workaround? We were thinking about putting the language name in the `keywords`. Does that help at all in search?

[2022-05-06 13:39] isidorn commented on #714
@TylerLeonhardt I believe it should.
@prashantvc can you confirm if the keywords get indexed for search?

[2022-05-06 17:28] csigs commented on #843
The issue has been ported to ADO in https://ceapex.visualstudio.com/CEINTL/_workitems/edit/603816.

[2022-05-09 19:53] AmmarHasan688 commented on #116
its late but for anyone have this probleme usgin cloud flare DNS would solve the probleme and get you the full speed

[2022-05-10 10:57] FrankSAURET opened #845 "Change french translation "prise en main""
Hi,
I think it's better to call the page "prise en main" "accueil" or "démarrage".

[2022-05-10 17:27] csigs commented on #845
The issue has been ported to ADO in https://ceapex.visualstudio.com/CEINTL/_workitems/edit/605456.

[2022-05-11 09:27] csigs commented on #843
{ body = Resolved as Fixed. }The issue has been fixed in localization platform that the fix should be exported to production repo and will take effect in next release! (Reference id: 603816)

[2022-05-11 09:27] #843 closed

[2022-05-11 13:54] hwhsu1231 opened #848 "[zh-tw] I suggest that "Help" be translated into "幫助" rather than "說明". (just like zh-cn)"
Ever since I started to use computers, I noticed that **"Help"** is widely translated into **"說明"** in **zh-TW** locale.

- **Visual Studio**
- **Qt Creator**
- **VSCode**
- **Word**, **Excel**, **PowerPoint**... of MSOffice
- **Writer**, **Calc**, **Impress**... of LibreOffice
- **Typora**
- ...etc

However in Chinese, I would translate **"說明"** into **"explain"**, **"illustrate"**,...etc. Anyway

[2022-05-11 17:28] csigs commented on #848
The issue has been ported to ADO in https://ceapex.visualstudio.com/CEINTL/_workitems/edit/606134.

[2022-05-11 21:48] umfelipelima opened #849 "(pt-BR) Tradução na área da Paleta de Comando"
Olá, sou o Felipe, diretamente do interior de Pernambuco-BR. Mais um estudante novato na área de Desenvolvimento Web.

Primeiramente, muito grato aos criadores e colaboradores dessa extensão que traduz o VS Code para pt-BR, facilitando demais a vida de quem ainda não domina o idioma Inglẽs.

Acompanhando uma das aulas de um curso HTML5 que estou fazendo, percebi que pode ser que haja uma falta de

[2022-05-12 01:26] csigs commented on #849
The issue has been ported to ADO in https://ceapex.visualstudio.com/CEINTL/_workitems/edit/606399.

[2022-05-12 09:15] MichaelLeeCN opened #852 "[zh-cn] A Translation Error in Simplified Chinese"
Issue Type: <b>Bug</b>

This new feature is added to Version 1.67.1:

`Markdown: Drop into editor to create link`

![md-drop-link.gif](https://s2.loli.net/2022/05/12/TLcrjbDwEdiPhl3.gif)

I found this translation error when using the extention named `vscode-language-pack-zh-hans`.

![my-drop-link.git](https://s2.loli.net/2022/05/12/iySdmlvX4pIDYfa.gif)

The sentence should be "按住 `Shift` 以放入编辑器中",

[2022-05-12 10:45] xRoier opened #850 "Typo. in Spanish language."

[2022-05-13 01:26] csigs commented on #852
The issue has been ported to ADO in https://ceapex.visualstudio.com/CEINTL/_workitems/edit/607075.

[2022-05-15 09:42] MaledongGit opened #853 "zh-CN: Missing "Updating Visual Studio Code" translation"
Everytime when the Visual Studio Code needs updating, it pops up a dialog saying "Updating Visual Studio Code....". It'd be better to make a full translation for it in Chinese as below:

![image](https://user-images.githubusercontent.com/52018749/168466571-7853096e-506d-42ba-96ae-593463ac8e26.png)

正在更新 Visual Studio Code……

[2022-05-15 17:26] csigs commented on #853
The issue has been ported to ADO in https://ceapex.visualstudio.com/CEINTL/_workitems/edit/607986.

[2022-05-16 17:27] csigs commented on #845
{ body = Resolved as Fixed. }The issue has been fixed in localization platform that the fix should be exported to production repo and will take effect in next release! (Reference id: 605456)

[2022-05-16 17:27] #845 closed

[2022-05-16 22:10] Andrulko opened #854 "Use Crowdin for localization and improvements for language packs"
Hey everyone,

It's Andriy from the Crowdin team, a localization management platform used by many teams, MakeCode is being translated here too:
https://crowdin.com/project/makecode

Just did some analysis of the current i18n workflow and it feels that GitHub issues reported by the community are not so easy to handle, also new languages may bring new headaches to engineers 😬

The professional and c

[2022-05-17 01:26] csigs commented on #854
The issue has been ported to ADO in https://ceapex.visualstudio.com/CEINTL/_workitems/edit/608825.

[2022-05-19 07:25] hwhsu1231 opened #862 "[question] Can I report other translation suggestions of Microsoft-related platforms, websites, tools as well?"
If I have some translation suggestions about:

- MSVC compiler messages
- Visual Studio Interface
- MSDN documentation
- ...etc

Which means those translations might not be directly related to VSCode. Can I report them here as well?

[2022-05-19 14:28] cws999 opened #864 "Hopefully the language extension will run on vscode.dev"
Hopefully the language extension will run on vscode.dev and  cdr/code-server and gitpod-io/openvscode-server
https://code.visualstudio.com/api/extension-guides/web-extensions

I added the following code, but it still doesn't work.

`"activationEvents": [
    "*"
]`
`"browser": "./translations/main.i18n.json",`

please help me  please help me

[2022-05-19 17:08] cristianosuzuki77 commented on #849
Obrigado, Felipe.
Sua recomendação está sendo apurada.

[2022-05-19 17:27] cristianosuzuki77 commented on #848
Thank you for your feedback. Upon further review, we have decided to keep the current translation for the time being.

[2022-05-20 01:26] csigs commented on #862
The issue has been ported to ADO in https://ceapex.visualstudio.com/CEINTL/_workitems/edit/611943.

[2022-05-20 01:26] csigs commented on #864
The issue has been ported to ADO in https://ceapex.visualstudio.com/CEINTL/_workitems/edit/611944.

[2022-05-20 01:26] csigs commented on #848
Resolved as As Designed.

[2022-05-20 01:26] #848 closed

[2022-05-20 01:26] csigs commented on #852
{ body = Resolved as Fixed. }The issue has been fixed in localization platform that the fix should be exported to production repo and will take effect in next release! (Reference id: 607075)

[2022-05-20 01:26] #852 closed

[2022-05-20 06:35] cws999 commented on #864
Your account, xxxx@xxxxx.com is not authorized to view this page. Make sure the URL is correct and your account has access. View a list of your organizations [here](https://go.microsoft.com/fwlink/?LinkId=309329). You may request access by contacting the admin.

[2022-05-20 17:29] liyuhang1997 opened #865 "`shift` key is translated"
https://github.com/microsoft/vscode-loc/blob/main/i18n/vscode-language-pack-zh-hans/translations/extensions/markdown-language-features.i18n.json#L56

`shift` => `排班`

https://github.com/microsoft/vscode-loc/blob/main/i18n/vscode-language-pack-zh-hant/translations/extensions/markdown-language-features.i18n.json#L56

`shift` => `班次`

I think the shift here should refer to the shift key on the keyboa

[2022-05-21 01:26] csigs commented on #865
The issue has been ported to ADO in https://ceapex.visualstudio.com/CEINTL/_workitems/edit/613487.

[2022-05-21 06:39] MaledongGit opened #866 "[Suggestion] Localization Group wanted, please"
Until now there're many issues sent to Microsoft's inner translation groups and we cannot see both the process and result successfully. So it would be nice for Microsoft to create diff groups of localizations for diff languages. Something like:

vscode/cn : Chinese
vscode/en: English
.....

Thus we can have discussions on translations to make it better. Each group may assign a leader or approver e

[2022-05-21 09:26] csigs commented on #866
The issue has been ported to ADO in https://ceapex.visualstudio.com/CEINTL/_workitems/edit/613612.

[2022-05-22 00:37] Fringale opened #867 "[fr] Issues in Mardown Math settings French translation"
Hi!

It seems there are two issues with the French translation of the setting **Markdown>Math:Enabled**, for the Markdown Math built-in extension:

![Screenshot_20220522_013316](https://user-images.githubusercontent.com/2722396/169672997-13fde969-173e-4ee1-9ad3-a7090a60a0d6.png)

  1. The string "_Markdown_" was wrongly translated to "_Démarque_" (this is a literal translation, "_Markdown_" should

[2022-05-22 00:42] MaledongGit commented on #866
@csigs: This is just the problem: We cannot be redirected to the website because of authentication.....And my aim is to create groups together to work with at GitHub.

[2022-05-22 00:55] Fringale opened #869 "[fr] Duplicated French translation for Editor>Unicode Highlight settings"
Hi!

The exact same description is shown in French for both **Editor>Unicode Highlight:Include Comments** and **Editor>Unicode Highlight:Include Strings** settings:
![Screenshot_20220520_142652](https://user-images.githubusercontent.com/2722396/169673623-73b0e801-b489-454a-9677-da23824d7c31.png)

=> The second setting **Editor>Unicode Highlight:Include Strings** should be something like "_Contrôle

[2022-05-22 01:26] csigs commented on #867
The issue has been ported to ADO in https://ceapex.visualstudio.com/CEINTL/_workitems/edit/614657.

[2022-05-22 01:26] csigs commented on #869
The issue has been ported to ADO in https://ceapex.visualstudio.com/CEINTL/_workitems/edit/614658.

[2022-05-23 02:19] hwhsu1231 opened #871 "[zh-tw] "Publish" should be translated into "發布" rather than "發佈" or "發行"."
In Chinese, **"佈"** is a variant of **"布"**. According to the [document](https://www.nutn.edu.tw/personnel/upload/files/1100805fw-3.pdf) I found on browser, it is recommended to use **"布"** for **simplicity**. It is because **"布"** already has **"人"** inside its character.

Therefore, I suggest that **"Publish"** be translated into **"發布"** in **zh-TW** locale.

### Screenshots

![image](https://u

[2022-05-23 09:26] csigs commented on #871
The issue has been ported to ADO in https://ceapex.visualstudio.com/CEINTL/_workitems/edit/616112.

[2022-05-23 09:27] csigs commented on #849
{ body = Resolved as Fixed. }The issue has been fixed in localization platform that the fix should be exported to production repo and will take effect in next release! (Reference id: 606399)

[2022-05-23 09:27] #849 closed

[2022-05-24 20:23] crsuzukimsft commented on #866
Hello MaledongGit
Could you explain further? What you mean by group?

[2022-05-24 22:05] Fringale opened #874 "[fr] Mistranslation in "Search:Seed With Nearest Word" setting description"
The current French translation for the **Search:Seed With Nearest Word** setting description is:
![Screenshot_20220524_233925](https://user-images.githubusercontent.com/2722396/170137789-d4e84a33-e72f-429b-bc03-298d6672c71d.png)
The word "essaimage" is a mistranslation for "seed", it would be better to simply use "initialisation" like in the **Editor>Find:Seed Search String From Selection**.
=> Th

[2022-05-25 00:41] MaledongGit commented on #866
@crsuzukimsft: Simply speaking, just to create some groups in the vscode-loc in "Teams" with proper authentications/authorizations. Something like what you see in Node.js org:
![Teams · nodejs](https://user-images.githubusercontent.com/52018749/170154373-d581ea57-a885-4d00-ae97-cbf76d6af9d2.png)

[2022-05-25 01:26] csigs commented on #874
The issue has been ported to ADO in https://ceapex.visualstudio.com/CEINTL/_workitems/edit/618382.

[2022-05-25 09:28] csigs commented on #867
{ body = Resolved as Fixed. }The issue has been fixed in localization platform that the fix should be exported to production repo and will take effect in next release! (Reference id: 614657)

[2022-05-25 09:28] #867 closed

[2022-05-25 09:28] csigs commented on #869
{ body = Resolved as Fixed. }The issue has been fixed in localization platform that the fix should be exported to production repo and will take effect in next release! (Reference id: 614658)

[2022-05-25 09:28] #869 closed

[2022-05-25 14:52] crsuzukimsft commented on #865
Thank you for including the location of the resource.

[2022-05-25 15:12] crsuzukimsft commented on #864
Hello,
could you explain further what is that you'd like to try out?

Thank you

[2022-05-25 17:28] csigs commented on #862
{ body = Resolved as Fixed. }The issue has been fixed in localization platform that the fix should be exported to production repo and will take effect in next release! (Reference id: 611943)

[2022-05-25 17:28] #862 closed

[2022-05-26 05:27] TylerLeonhardt commented on #853
The inno updater isn't translated right now. Assigning @joaomoreno who owns that.

[2022-05-27 09:26] csigs commented on #871
{ body = Resolved as Fixed. }The issue has been fixed in localization platform that the fix should be exported to production repo and will take effect in next release! (Reference id: 616112)

[2022-05-27 09:26] #871 closed

[2022-05-29 08:58] hwhsu1231 opened #880 "[zh-CN] "repository" should be translated into "仓库"."
According to my observation, **"repository"** is translated into **"仓库"** mostly in **zh-CN** locale.

For example: [Gitee](https://gitee.com/)

### Screenshots

![image](https://user-images.githubusercontent.com/71438617/170860247-70346bac-e940-4f4d-9d88-7f713d2c40c4.png)
![image](https://user-images.githubusercontent.com/71438617/170860157-bba2f922-7558-44f5-87a4-4027147dffbe.png)

[2022-05-29 09:26] csigs commented on #880
Thank you for your feedback. We are currently reviewing it (reference 622719).

[2022-05-30 00:56] MaledongGit commented on #853
Thank you.

[2022-05-30 10:16] hwhsu1231 commented on #880
- English String: **Repository**
- Current Translation: **存储库**
- Suggested Translation: **仓库**

[2022-05-30 10:18] v-mholloway commented on #880
@hwhsu1231 thank you for the quick response. we will proceed with the investigation now.

[2022-05-30 17:54] cws999 commented on #864
@crsuzukimsft I hope to be able to install language extensions on the  " vscode.dev  or  openvscode-server  "  , Because my native language is not English

[2022-05-31 09:28] csigs commented on #865
{ body = Resolved as Fixed. }The issue has been fixed in localization platform that the fix should be exported to production repo and will take effect in next release! (Reference id: 613487)

[2022-05-31 09:28] #865 closed

[2022-05-31 09:28] csigs commented on #874
{ body = Resolved as Fixed. }The issue has been fixed in localization platform that the fix should be exported to production repo and will take effect in next release! (Reference id: 618382)

[2022-05-31 16:59] bamurtaugh opened #882 ""Open Folder" not translated in walkthrough"
Testing https://github.com/microsoft/vscode/issues/150577 in Firefox

- Open "Get Started with VS Code in the Web" walkthrough
- Select last step (open up your code), then first command ("Open Folder" in English, "Abrir carpeta" in Spanish)
- Modal is in English:

![image](https://user-images.githubusercontent.com/25310137/171230898-5c301eda-ac26-4e4c-bced-2d07221ed523.png)

It isn't a new string,

[2022-05-31 17:02] bamurtaugh commented on #882
I also see this on modals on the overall welcome page when I try opening a file or folder:

![image](https://user-images.githubusercontent.com/25310137/171231946-5e2054d1-1ba4-4cec-8b0a-877793aa9102.png)

[2022-05-31 17:08] bamurtaugh opened #883 "Names of settings not translated"
Testing https://github.com/microsoft/vscode/issues/150577 in Firefox, with Spanish (es-es) set

When I open the Settings UI, I notice the description of settings is translated, but not the actual settings names, i.e. `Files: Auto Save` and others shown in English below:

![image](https://user-images.githubusercontent.com/25310137/171232970-2e076a51-0617-4191-be1d-97d3f85f8d87.png)

[2022-05-31 18:13] TylerLeonhardt commented on #883
This is a Core issue since these settings names are computed based on the settings name... for example:
[code]
gets auto magically turned into:
[code]
I feel like there needs to be a static settings `label` introduced in our API.

[2022-06-01 08:04] LinLzis opened #886 "[zh-CN] "upload" should be translated as "上传"."
According to my observation, "upload" is translated as "上传" mostly in zh-CN locale.

<img width="370" alt="image" src="https://user-images.githubusercontent.com/20831003/171356502-a1cb8593-186e-4c66-84a4-0fb913135ca3.png">

E.g.: coding.net
![企业微信截图_7905baa5-d2f8-4da8-a608-7c9f5ccff5a3](https://user-images.githubusercontent.com/20831003/171357168-6ecfd2c9-fcfc-4709-8814-72eea44b16ba.png)

[2022-06-01 09:28] csigs commented on #886
Thank you for your feedback. We are currently reviewing it (reference 625719).

[2022-06-01 10:37] v-mholloway commented on #886
@LinLzis could you provide the following information typed out...
English String:
Current Translation:
Suggested Translation:

[2022-06-01 13:02] manelrodero opened #887 "[ES Language Pack] "Idioma" should be changed by "Language""
In this file:
https://github.com/microsoft/vscode-loc/blob/main/i18n/vscode-language-pack-es/translations/main.i18n.json

section:

		"vs/workbench/contrib/codeEditor/browser/untitledTextEditorHint": {
			"dontshow": "no mostrar",
			"keyboardBindingTooltip": "{0}",
			"openADifferentEditor": "abrir un editor diferente",
			"or": " o ",
			"selectAlanguage2": "Seleccione un idioma",
			"startTypin

[2022-06-06 12:57] OSUsatoru opened #890 "Consistency of README writing style."
I noticed that the writing style of translated README documentation is not consistent with the original document. For example, Ctrl+Shift+P are bold text in English but not in Japanese.

Here is original text.
![original](https://user-images.githubusercontent.com/72106923/172165035-613a3476-47c9-4d85-a38e-be344f305b99.jpg)
![ogen](https://user-images.githubusercontent.com/72106923/172165848-a125bb

[2022-06-06 17:27] csigs commented on #890
Thank you for your feedback. We are currently reviewing it (reference 630029).

[2022-06-07 11:22] stefanhamburger opened #891 "[de] Typo in miShowAuxiliaryBar"
The mnemonic text [`miShowAuxiliaryBar`](https://github.com/microsoft/vscode-loc/blob/688cbd1107c85263c5edc20b32d4711171a46859/i18n/vscode-language-pack-de/translations/main.i18n.json#L2993) is missing the "i" character:

[code]

[2022-06-07 17:28] csigs commented on #891
Thank you for your feedback. We are currently reviewing it (reference 631139).

[2022-06-08 09:28] #887 closed

[2022-06-12 20:30] Alrusayni opened #893 "VSCode / Arabic Language"
Hi,

I love to contribute to adding the Arabic language . I'm an Arabic fluent Speak/Write. Also, I'm a Computer science, web developer, and programmer.

I'm ready to handle this project until it gets done.

Please advise.

Thanks

[2022-06-13 01:28] csigs commented on #893
Thank you for your feedback. We are currently reviewing it (reference 635634).

[2022-06-13 06:19] hwhsu1231 opened #894 "[question] Should we request the translation of other VSCode plugins (which do not have yet) here?"
I have a question about this plugin. If we have some translation advises for **"other VSCode plugins"**, which do not support international translations yet, should we post an issue **"here"** to request it?

For example, I posted an issue about 2 months ago. It provided some translation advises about [vscode-qt-tools](https://github.com/tonka3000/vscode-qt-tools) in **"zh-TW (cht)"** locale. But

[2022-06-13 08:31] yarndinasti opened #895 "Indonesia and malay support"
Add indonesian and malay, maybe

[2022-06-13 09:10] JackNUMBER opened #896 "[fr] Improve reference translations consistency"
Hello, here some changes for the french translation that should be considered for more consistency.

Path `vs/editor/contrib/gotoSymbol/browser/goToCommands`

- `actions.goToTypeDefinition.label`:
"Atteindre la définition de type" ➞ "Atteindre la définition du type"

-  `actions.peekImplementation.label`:
"Implémentations d'aperçu" ➞ "Aperçu des implémentations"

- `actions.previewDecl.label`:
"Fa

[2022-06-13 09:28] csigs commented on #894
Thank you for your feedback. We are currently reviewing it (reference 635850).

[2022-06-13 09:28] csigs commented on #895
Thank you for your feedback. We are currently reviewing it (reference 635851).

[2022-06-13 09:28] csigs commented on #896
Thank you for your feedback. We are currently reviewing it (reference 635852).

[2022-06-13 09:28] csigs commented on #891
{ body = Resolved as Fixed. }The issue has been fixed in localization platform that the fix should be exported to production repo and will take effect in next release! (Reference id: 631139)

[2022-06-13 09:28] #891 closed, assigned to nobody

[2022-06-15 17:28] csigs commented on #896
{ body = Resolved as Fixed. }The issue has been fixed in localization platform that the fix should be exported to production repo and will take effect in next release! (Reference id: 635852)

[2022-06-15 17:28] #896 closed

[2022-06-16 12:43] idma88 opened #900 "[ru] Incorrect quote escaping"
Several strings in Russian localization contain an escaped double quote character (instead of a single quote), which leads to errors in the UI

Example:
![example](https://user-images.githubusercontent.com/7449066/174071004-b0f54975-830f-4ff4-96bf-32e66c0e83ec.png)

[2022-06-18 15:52] focus5n opened #907 "Typo mistake on Korean Language Pack for Visual Studio Code"
Typo mistake on Settings.

Setting ID: editor.guides.bracketPairs

Now: 대괄호 쌍 "안내션"의 사용 여부를 제어합니다.
Recommened: 가로 대괄호 쌍 "안내선"의 사용 여부를 제어합니다.

[2022-06-18 17:28] csigs commented on #907
Thank you for your feedback. We are currently reviewing it (reference 640734).

[2022-06-20 10:25] v-mholloway commented on #907
@focus5n can you please provide the corresponding english string to enable us to track down the resource?

[2022-06-20 13:23] focus5n commented on #907
Sure!

English Version:
Editor › Guides: Bracket Pairs
Controls whether bracket pair guides are enabled or not.

Korean Version Now:
Editor › Guides: Bracket Pairs
대괄호 쌍 안내'션'의 사용 여부를 제어합니다.

Korean Version Recommended:
Editor › Guides: Bracket Pairs
대괄호 쌍 안내'선'의 사용 여부를 제어합니다.

[2022-06-20 13:37] v-mholloway commented on #907
@focus5n thank you!

[2022-06-21 00:39] cristianosuzuki77 commented on #893
Thank you both in advance. We're reviewing the next set of languages for expansion and will consider this feedback.

[2022-06-21 00:39] #893 closed

[2022-06-21 00:41] cristianosuzuki77 commented on #894
Currently only elements within this repo are addressable. For the ticket attached above, please continue addressing it at that particular repo.
Thank you.

[2022-06-21 00:41] #894 closed

[2022-06-21 00:42] cristianosuzuki77 commented on #895
Thank you, @yarndinasti
We will review this request further.

[2022-06-21 00:42] #895 closed

[2022-06-22 10:24] 119311 opened #910 "[ja-jp] I would like to improve the translation of "workspace trust""
The workspace trust screen is partially untranslated when it's in Japanese (please see the picture).
![image](https://user-images.githubusercontent.com/92527171/175006240-1e2bb51a-0769-4e68-b670-be2563c33267.png)

I guess "Trust parent" might be changed to "親ディレクトリを信頼".

[2022-06-22 17:30] csigs commented on #910
Thank you for your feedback. We are currently reviewing it (reference 644037).

[2022-06-23 09:29] #907 closed

[2022-06-23 16:14] Anderillo opened #914 "Add Finnish Support for VS Code"
I am looking for a translation of VS Code into Finnish (i.e. adding Finnish as an available Display Language). Is this project already underway? How can I help contribute to this?

[2022-06-23 17:29] csigs commented on #914
Thank you for your feedback. We are currently reviewing it (reference 644933).

[2022-06-27 02:56] LinLzis commented on #886
English String: "upload"  [vs/workbench/contrib/files/browser/fileActions]
Current Translation: "上载..."
Suggested Translation: "上传..."

[2022-06-28 15:55] bamurtaugh opened #922 "Certain Remote Repositories commands not translated"
Testing https://github.com/microsoft/vscode/issues/153391 with Firefox set to Spanish.

- Open Remote Explorer
- Switch to Remote Repositories tab, select button to open a remote repo
- Commands are in English, although the button and Remote Explorer text were in Spanish:

![image](https://user-images.githubusercontent.com/25310137/176224858-60b3a1bd-d51c-4bb7-85c3-61bd894d6084.png)

- If I search

[2022-06-28 16:09] TylerLeonhardt commented on #922
This is because it comes from the code:
https://github.com/microsoft/vscode-remotehub/blob/2af954ea19ed2bc1758ad305f21e548cac8c62c5/extensions/azurerepos/src/provider.ts#L276

and I haven't supported that yet. Closing this since it's working "as designed" for now. Next milestone will have the feature work that should enable this.

[2022-06-28 16:09] #922 closed

[2022-06-28 16:16] bamurtaugh opened #923 "Incomplete English translation"
Testing https://github.com/microsoft/vscode/issues/153391 in Firefox with de-ch (Swiss German) set.

- Open command palette and search for Remote Repositories commands
- :bug: The first command has a partly English, partly de-ch line under it (`Focus on` and `View` in English, `Remoterepositorys` seems to be de-ch translated)
![image](https://user-images.githubusercontent.com/25310137/176228983-d5

[2022-06-28 16:52] TylerLeonhardt commented on #923
Hmm yeah it should look like this (Desktop screenshot) with the English strings next to the German strings. I think this is a bug in how I'm applying the translations...
![image](https://user-images.githubusercontent.com/2644648/176236391-65920efd-6b06-4cb6-a985-cfffd8abc178.png)

[2022-06-29 06:18] BearAtKEDU opened #924 "The characters are separated."
When entering Korean, it appears as follows.
"아" > "ㅇㅏ"
I tried changing the language in the Settings->Configure Display Language, but the same thing still happens.

[2022-06-29 09:28] csigs commented on #924
Thank you for your feedback. We are currently reviewing it (reference 649579).

[2022-06-29 09:28] csigs commented on #900
{ body = Resolved as Fixed. }The issue has been fixed in localization platform that the fix should be exported to production repo and will take effect in next release! (Reference id: 643291)

[2022-06-29 09:28] #900 closed

[2022-06-29 09:28] csigs commented on #910
{ body = Resolved as Fixed. }The issue has been fixed in localization platform that the fix should be exported to production repo and will take effect in next release! (Reference id: 644037)

[2022-06-29 09:28] #910 closed

[2022-06-29 22:00] cristianosuzuki77 commented on #854
Thank you for the recommendation.

[2022-06-29 22:00] #854 closed

[2022-06-29 22:03] cristianosuzuki77 commented on #914
Thank you for the suggestion and offer. Languages are added per alignment with other products. Translations will then go through internal processes.
Appreciate your help!

[2022-06-29 22:03] #914 closed

[2022-06-29 22:08] cristianosuzuki77 commented on #864
@TylerLeonhardt Could you assist here?

[2022-06-29 22:12] TylerLeonhardt commented on #864
@cws999 have you used vscode.dev recently? If your browser is in a different language and is one of the languages we support you should see translations. Additionally, if you try insiders.vscode.dev you should be able to run the command `Configure Display Language` to set the language explicitly. I can't speak to code-server or OpenVSCodeServer since those are not owned by the VS Code team.

[2022-06-29 22:15] TylerLeonhardt commented on #864
I will close this as a duplicate of https://github.com/microsoft/vscode/issues/82595

[2022-06-29 22:15] #864 closed

[2022-06-30 10:19] v-mholloway commented on #924
@BearAtKEDU can you give more context here...? screen shots...? repro steps...?
If you want translations adjusted, please provide...
-English String
-Current translation
-Suggested Translation

[2022-07-01 09:28] #880 closed

[2022-07-01 09:28] #886 closed

[2022-07-02 23:20] tuna12345678 opened #929 "project"
Issue Type: <b>Feature Request</b>

 I can not open a new C Sharp project on vsc(I downloaded C Sharp to PC and this application) because it hasn't the "new" option on the file. Can you show me how am I supposed to do it please?

Extension version: 1.68.6150911
VS Code version: Code 1.68.1 (30d9c6cd9483b2cc586687151bcbcd635f373630, 2022-06-14T12:48:58.283Z)
OS version: Windows_NT x64 10.0.19044
Re

[2022-07-02 23:20] tuna12345678 commented on #929
I am new at vsc

[2022-07-02 23:21] tuna12345678 commented on #929
I am new at VSC

[2022-07-03 01:27] csigs commented on #929
Thank you for your feedback. We are currently reviewing it (reference 652389).

[2022-07-04 10:08] GWorID opened #931 "I can't find resources before releases 1.58.3"
I can't find resources before releases 1.58.3

[2022-07-04 17:28] csigs commented on #931
Thank you for your feedback. We are currently reviewing it (reference 653126).

[2022-07-05 12:24] Tony-Truand opened #935 "fr-FR: Missing space before placeholders"
https://github.com/microsoft/vscode-loc/blob/4a7d2c7467d91ef1d1e178664455baabdd661fff/i18n/vscode-language-pack-fr/translations/extensions/git.i18n.json#L29
According to english display, there should be a space before dynamic arguments

Should be

[code]

![image](https://user-images.githubusercontent.com/7480192/177325274-f030fef0-77ed-4b72-bbe4-1c8e8c120168.png)

[2022-07-05 17:30] csigs commented on #935
Thank you for your feedback. We are currently reviewing it (reference 653667).

[2022-07-06 01:05] cristianosuzuki77 commented on #931
Could you share an example?

[2022-07-06 01:06] cristianosuzuki77 commented on #929
@TylerLeonhardt Could you assist here?

[2022-07-06 12:17] pafernandez-oesia opened #938 "es-ES: Correct month units localization"
Hi,

I think there is a mistake in the main translation file regarding month units. Spanish translation for month should be "mes", and "meses" in plural. "Mo" and "Mos" don't seem to be valid abreviatures.

These translations are found in file `i18n/vscode-language-pack-es/translations/main.i18n.json`:

[code]

Proposed change:
[code]

Thank you.

[2022-07-06 17:29] csigs commented on #938
Thank you for your feedback. We are currently reviewing it (reference 654485).

[2022-07-06 17:29] csigs commented on #935
{ body = Resolved as Fixed. }The issue has been fixed in localization platform that the fix should be exported to production repo and will take effect in next release! (Reference id: 653667)

[2022-07-06 17:29] #935 closed

[2022-07-07 17:36] rzhao271 opened #939 "Publish branch localization fail"
1. Change the display language to French.
2. Open a folder with a git repository where there is a branch that is ready to publish.
3. Navigate to the SCM viewlet.
4. :bug: It looks like the word "publish" in "Publish branch" got parsed as an adjective rather than a verb:
![Pink "Branche de publication" button](https://user-images.githubusercontent.com/7199958/177834918-eaddfeb5-4a47-4050-859e-c54b

[2022-07-08 01:28] csigs commented on #939
Thank you for your feedback. We are currently reviewing it (reference 655537).

[2022-07-08 02:42] ganxy1028 opened #941 "Some notebook commands will be invisible when using Chinese (Simplified)"
Version: 1.69.0 (user setup)
Commit: 92d25e35d9bf1a6b16f7d0758f25d48ace11e5b9
Date: 2022-07-07T05:28:36.503Z
Electron: 18.3.5
Chromium: 100.0.4896.160
Node.js: 16.13.2
V8: 10.0.139.17-electron.0
OS: Windows_NT x64 10.0.22000

With the newest stable version of vscode, some notebook commands on the top will be invisible when using Chinese (Simplified), while it runs well if the language extension is

[2022-07-08 09:28] csigs commented on #941
Thank you for your feedback. We are currently reviewing it (reference 655744).

[2022-07-08 19:59] niccolomineo opened #942 "Italian language change for "kill terminal""
I'd strongly suggest changing this line to something else:

https://github.com/microsoft/vscode-loc/blob/fb987ff21ae002c918fc0e7039642ae345f279b6/i18n/vscode-language-pack-it/translations/main.i18n.json#L9182

I'd propose either:

[code]

or

[code]

Consequently, this:

https://github.com/microsoft/vscode-loc/blob/fb987ff21ae002c918fc0e7039642ae345f279b6/i18n/vscode-language-pack-it/translations/

[2022-07-09 01:28] csigs commented on #942
Thank you for your feedback. We are currently reviewing it (reference 656217).

[2022-07-10 13:24] leMaik opened #943 "de-DE: Bad translation for "branch""
I was surprised today by a button labeled "Filiale veröffentlichen". A "Filiale" in german is like a branch of some store. But in the context of Git, we either just call them Branches or, if you really want to localize it, it should be "Zweig" (which is a branch of a tree).

[2022-07-10 17:27] csigs commented on #943
Thank you for your feedback. We are currently reviewing it (reference 656589).

[2022-07-11 11:36] BaaaZen commented on #943
For sake of consistency you should translate it with "Branch" as this translation is mostly used.
Additionally  there are a few occurrences of "branch" that were translated "Verzweigung" (i.e. https://github.com/microsoft/vscode-loc/blob/main/i18n/vscode-language-pack-de/translations/extensions/git.i18n.json#L21). That is also correct but rarely used for a branch in a VCS.

[2022-07-11 15:43] mariolacko opened #944 "Slovak Translation"
Can you add slovak translation?

[2022-07-11 17:29] csigs commented on #944
Thank you for your feedback. We are currently reviewing it (reference 657097).

[2022-07-14 01:28] csigs commented on #938
{ body = Resolved as Fixed. }The issue has been fixed in localization platform that the fix should be exported to production repo and will take effect in next release! (Reference id: 654485)

[2022-07-14 01:28] csigs commented on #939
{ body = Resolved as Fixed. }The issue has been fixed in localization platform that the fix should be exported to production repo and will take effect in next release! (Reference id: 655537)

[2022-07-14 01:28] #939 closed

[2022-07-14 14:25] FloEdelmann commented on #943
See also the proposed changes and inconsistencies in #947

[2022-07-15 09:28] csigs commented on #942
{ body = Resolved as Fixed. }The issue has been fixed in localization platform that the fix should be exported to production repo and will take effect in next release! (Reference id: 656217)

[2022-07-15 09:28] #942 closed

[2022-07-15 22:06] cristianosuzuki77 commented on #941
@TylerLeonhardt  could you review this ticket? I'm not clear if this is loc or not.

[2022-07-16 00:41] TylerLeonhardt commented on #941
Hi @ganxy1028, sorry for this. This is a duplicate of https://github.com/microsoft/vscode/issues/154955 and the fix will be in the next major version 1.70 released early next month.

In the meantime you can use the latest insider build of VS Code which has the fix: http://code.visualstudio.com/insiders

[2022-07-16 00:41] #941 closed

[2022-07-16 01:28] csigs commented on #866
Resolved as As Designed.

[2022-07-16 01:28] #866 closed

[2022-07-16 07:57] Jeggery commented on #620
我也遇到了同样的问题，希望官方能够改进

[2022-07-19 10:16] Fonkio opened #1205 "French translation problem in new file"
Issue Type: <b>Translation</b>

Ctrl + Shift + P, type "display", set display language in french (fr)
Open a new file (ctrl + n)
The text displayed in the new file is not correct

**In French :**
`Sélectionnez un langage ou ouvrir un autre éditeur démarre.`

**In English :**
`Select a language or open a different editor to get started.`

**The correct translation into French would be  :**
`Sélecti

[2022-07-19 11:59] AlCalzone opened #955 "Typo in german translation on the git commit button"
Issue Type: <b>Bug</b>

![image](https://user-images.githubusercontent.com/17641229/179744372-fcdcc966-65ff-445e-a450-2041725b35a9.png)

The tooltip is correct, the button just has a single "t".

Extension version: 1.69.7130931
VS Code version: Code 1.69.2 (3b889b090b5ad5793f524b5d1d39fda662b96a2a, 2022-07-18T16:14:10.636Z)
OS version: Linux x64 5.14.0-1045-oem snap
Restricted Mode: No

<details>

[2022-07-19 17:29] csigs commented on #955
Thank you for your feedback. We are currently reviewing it (reference 662076).

[2022-07-20 09:28] csigs commented on #890
Resolved as .

[2022-07-20 09:29] #890 closed

[2022-07-21 09:29] csigs commented on #943
{ body = Resolved as Fixed. }The issue has been fixed in localization platform that the fix should be exported to production repo and will take effect in next release! (Reference id: 656589)

[2022-07-21 09:29] #943 closed

[2022-07-21 14:31] mat-wang opened #961 "Cann't install Simplified Chinese extension in browser for VSCode Serer"
Hello everyone,

These days I am testing the vscode server. I install the Simplified Chinese extension on remote server, all things going well, but when I install the extension for the browser, it shows an error:

[code]

Is it a bug or anything with my environment going wrong? Thanks!

[2022-07-21 17:29] csigs commented on #961
Thank you for your feedback. We are currently reviewing it (reference 663685).

[2022-07-22 01:28] csigs commented on #853
{ body = Resolved as Assigned to External. }Investigated by Loc Team: It's not a translation issue. (Reference id: 607986)

[2022-07-22 03:55] zhixian001 opened #963 "[ko] Incorrect/ambiguous translation"
![image](https://user-images.githubusercontent.com/22884435/180356646-f83b9b1b-048c-4971-ac66-8c08bea46880.png)

I found an incorrect Korean translation from command palette. The command `Git: 최신 슬래시 표시` should be `Git: 최신 스태시 표시`. (`슬래시` means slash(`/`))

---

And while writing this issue, I found the word `표시` from `Git: 최신 스태시 표시` and `Git: 스태시 표시...` is ambiguous.  `표시` means `show` or `displ

[2022-07-22 09:27] csigs commented on #963
Thank you for your feedback. We are currently reviewing it (reference 664232).

[2022-07-23 01:28] csigs commented on #924
Resolved as Cant Reproduce.

[2022-07-23 01:28] #924 closed

[2022-07-25 13:16] CyanSalt opened #966 "[zh-Hans] Translation error for setting item `editor.suggest.showDeprecated`"
<img width="354" alt="image" src="https://user-images.githubusercontent.com/5101076/180786018-6307ca71-b7bd-404f-88e5-4c1c02e7658d.png">

[code]

`已启用`("Enabled") should be `已弃用` ("Deprecated").

[2022-07-25 17:28] csigs commented on #966
Thank you for your feedback. We are currently reviewing it (reference 678242).

[2022-07-25 22:33] cristianosuzuki77 commented on #961
@TylerLeonhardt Could you assist here?

[2022-07-26 06:15] pafernandez-oesia commented on #938
Great, thank you.

[2022-07-27 04:18] MaledongGit commented on #853
@csigs：So where to fix it?

[2022-07-27 05:39] TylerLeonhardt commented on #961
@mat-wang can you tell me how you are installing this language pack?

[2022-07-28 09:10] muath-ye opened #967 "Where Can I Start localization language"
Hi,
I want to start new language for vscode localization , where can I contribute?

[2022-07-28 09:27] csigs commented on #967
Thank you for your feedback. We are currently reviewing it (reference 680109).

[2022-07-28 13:55] mat-wang commented on #961
Just like installing the language pack in vscode desktop. BTW, it works today with updating the microsoft vscode server.

[2022-07-28 16:14] TylerLeonhardt commented on #961
Ok. Then I'll go ahead and close this. If see any issues, don't hesitate to open a new one!

[2022-07-28 16:14] #961 closed

[2022-07-28 17:51] danyeh commented on #967
Please checkout how to topics in wiki.
![image](https://user-images.githubusercontent.com/19785531/181604441-de72ec47-ee3c-4f84-86d4-4ce49baef0db.png)

[2022-07-28 17:51] #967 closed

[2022-07-28 18:41] LinqLover opened #968 "[German] Translation issues for Git SCM"
This is wrong:

![image](https://user-images.githubusercontent.com/38782922/181613671-94808ca4-ddf3-4ada-bd27-8809306f853d.png)

It should be named "Branch veröffentlichen" instead of "Filiale veröffentlichen".

[2022-07-29 01:27] csigs commented on #968
Thank you for your feedback. We are currently reviewing it (reference 680689).

[2022-07-29 09:28] csigs commented on #963
{ body = Resolved as Fixed. }The issue has been fixed in localization platform that the fix should be exported to production repo and will take effect in next release! (Reference id: 664232)

[2022-07-29 09:28] #963 closed

[2022-07-29 22:45] danyeh commented on #968
Translation is now '{0} Branch veröffentlichen' by following feedback of https://github.com/microsoft/vscode-loc/issues/943

[2022-07-29 22:45] #968 closed

[2022-07-29 22:58] danyeh commented on #944
Not in current language scope. https://github.com/microsoft/vscode-loc#visual-studio-code-language-packs

Community has the chance to create language pack. See how to topic in wiki.
![image](https://user-images.githubusercontent.com/19785531/181855760-b0007f5a-195d-436f-ad5b-e2d907c2efee.png)

[2022-07-29 22:58] #944 closed

[2022-07-31 15:12] HumphreyDotSln opened #970 "[zh-Hans] Translation error for keybinding `workbench.action.lastEditorInGroup`"
![image](https://user-images.githubusercontent.com/31343548/182032947-a5dab176-ba1d-4c90-a552-ca73400024db.png)
`上一个编辑器` -> `最后一个编辑器`

[2022-07-31 17:28] csigs commented on #970
Thank you for your feedback. We are currently reviewing it (reference 681842).

[2022-08-02 09:28] csigs commented on #966
{ body = Resolved as Fixed. }The issue has been fixed in localization platform that the fix should be exported to production repo and will take effect in next release! (Reference id: 678242)

[2022-08-02 09:28] #966 closed

[2022-08-02 11:03] finok opened #971 "[ja]Duplicated menu item translation on Windows Platform"
When using the Japanese language pack, right-click on a file in the source control view to see that the translations of the two menu items are duplicated.
![Snipaste_2022-08-02_18-36-22](https://user-images.githubusercontent.com/43756043/182358385-58f0c8db-88a1-4bf6-a2ba-d718ceb342f6.png)

[2022-08-02 11:05] finok commented on #971
Please ignore the hiragana "する" at the end as it doesn't have any real meaning, in fact these two menu items mean the same thing.

[2022-08-02 17:29] csigs commented on #971
Thank you for your feedback. We are currently reviewing it (reference 684454).

[2022-08-02 20:49] crsuzukimsft commented on #971
Hello @finok

[2022-08-04 09:28] csigs commented on #955
{ body = Resolved as Fixed. }The issue has been fixed in localization platform that the fix should be exported to production repo and will take effect in next release! (Reference id: 662076)

[2022-08-04 09:28] #955 closed

[2022-08-04 17:30] csigs commented on #931
Resolved as Cant Reproduce.

[2022-08-04 17:30] #931 closed

[2022-08-04 17:30] csigs commented on #970
{ body = Resolved as Fixed. }The issue has been fixed in localization platform that the fix should be exported to production repo and will take effect in next release! (Reference id: 681842)

[2022-08-04 17:30] #970 closed

[2022-08-08 02:42] LooJee opened #986 "[zh-simplified] extension not work，some menu still english"
# my vscode info
Version: 1.70.0
Commit: da76f93349a72022ca4670c1b84860304616aaa2
Date: 2022-08-04T04:39:20.716Z
Electron: 18.3.5
Chromium: 100.0.4896.160
Node.js: 16.13.2
V8: 10.0.139.17-electron.0
OS: Darwin arm64 21.6.0
![image](https://user-images.githubusercontent.com/13059033/183327610-90694d56-ad77-44ca-979a-eb5181978456.png)

[2022-08-08 09:29] csigs commented on #971
{ body = Resolved as Fixed. }The issue has been fixed in localization platform that the fix should be exported to production repo and will take effect in next release! (Reference id: 684454)

[2022-08-08 09:29] csigs commented on #986
Thank you for your feedback. We are currently reviewing it (reference 687511).

[2022-08-08 09:29] #971 closed

[2022-08-08 17:05] cristianosuzuki77 commented on #986
@TylerLeonhardt could check on this one?

[2022-08-09 01:27] csigs commented on #819
{ body = Resolved as Fixed. }The issue has been fixed in localization platform that the fix should be exported to production repo and will take effect in next release! (Reference id: 597723)

[2022-08-09 01:27] #819 closed

[2022-08-10 06:40] swpark6 commented on #986
try to set other language and set again you want.
It worked in my case.
---
Version: 1.70.0
Commit: da76f93349a72022ca4670c1b84860304616aaa2
Date: 2022-08-04T04:39:20.716Z
Electron: 18.3.5
Chromium: 100.0.4896.160
Node.js: 16.13.2
V8: 10.0.139.17-electron.0
OS: Darwin arm64 21.6.0

[2022-08-10 08:42] nebocco opened #989 "[ja] translation suggestion for Command Decoration"
The wording regarding [Command Decoration](https://code.visualstudio.com/updates/v1_69#_decorations) seems unnatural.

![screen shot 1](https://user-images.githubusercontent.com/73807432/183840427-8f0e7349-2d87-46b9-854a-6b9868f4087d.png)

![screen shot 2](https://user-images.githubusercontent.com/73807432/183840432-855a2916-055e-43b7-982a-de5206301705.png)

https://github.com/microsoft/vscode-loc

[2022-08-10 08:49] nebocco opened #990 "[ja] translation suggestion"
The configuration file contains a mixture of 装飾 and デコレーション as translations of "decoration."

https://github.com/microsoft/vscode-loc/blob/567eeb26e1721dcb9c6d29d59cc9687dfc843114/i18n/vscode-language-pack-ja/translations/main.i18n.json#L3471

https://github.com/microsoft/vscode-loc/blob/567eeb26e1721dcb9c6d29d59cc9687dfc843114/i18n/vscode-language-pack-ja/translations/main.i18n.json#L8912

Theref

[2022-08-10 21:28] pizzolante opened #991 "[Italian] commit and Uppercasing"
Hi,
I'd strongly suggest reverting this line:

https://github.com/microsoft/vscode-loc/blob/567eeb26e1721dcb9c6d29d59cc9687dfc843114/i18n/vscode-language-pack-it/translations/extensions/git.i18n.json#L16
to:
https://github.com/microsoft/vscode-loc/blob/2fe37fbcedaf5f02e4b38edec7ce1d3b608ee7d6/i18n/vscode-language-pack-it/translations/extensions/git.i18n.json#L16

[2022-08-11 01:28] csigs commented on #989
Thank you for your feedback. We are currently reviewing it (reference 689365).

[2022-08-11 01:28] csigs commented on #990
Thank you for your feedback. We are currently reviewing it (reference 689366).

[2022-08-11 01:28] csigs commented on #991
Thank you for your feedback. We are currently reviewing it (reference 689367).

[2022-08-11 01:31] LooJee commented on #986
@swpark6 it seems worked out. thank you.

[2022-08-14 03:37] liangjiancang opened #994 "[zh-CN] Wrong translation about `AuxiliaryBar`"
The translation of AuxiliaryBar exists in two forms: "辅助**侧**栏", "辅助**边**栏". ("辅助侧栏" is recommended)
And "workbench.action.maximizeEditor" is translated as "视图: 最大化编辑器组并隐藏**边**栏, while most are translated as "**侧**栏" instead of "**边**栏".

![Snipaste_2022-08-14_11-01-53](https://user-images.githubusercontent.com/42267675/184521210-04a577f6-4ccb-4634-b7ee-adf4c286f5f1.png)
![Snipaste_2022-08-14_11-3

[2022-08-16 09:29] csigs commented on #994
Thank you for your feedback. We are currently reviewing it (reference 692047).

[2022-08-16 09:29] csigs commented on #989
{ body = Resolved as Fixed. }The issue has been fixed in localization platform that the fix should be exported to production repo and will take effect in next release! (Reference id: 689365)

[2022-08-16 09:29] #989 closed

[2022-08-16 09:29] csigs commented on #991
{ body = Resolved as Fixed. }The issue has been fixed in localization platform that the fix should be exported to production repo and will take effect in next release! (Reference id: 689367)

[2022-08-16 09:29] #991 closed

[2022-08-17 11:35] csigs commented on #276
{ body = Resolved as Fixed. }The issue has been fixed in localization platform that the fix should be exported to production repo and will take effect in next release! (Reference id: 692780)

[2022-08-17 13:57] LinqLover commented on #968
Thanks!

[2022-08-19 11:49] LinqLover opened #1005 "[de] Incorrect Iconography for Git SCM Commit button"
The git commit button looks like this:

![image](https://user-images.githubusercontent.com/38782922/185612109-76c6aded-e6be-437b-9958-b9372f133dd3.png)

Instead, the checkmark should be displayed on the left of the button without enclosing quotes.

[2022-08-19 14:34] csigs commented on #1005
Thank you for your feedback. We are currently reviewing it (reference 694039).

[2022-08-20 15:05] TylerLeonhardt commented on #1008
I’m transferring the string back to vscode-loc since we’ve located the string in question. Thanks @weinand!

[2022-08-22 11:10] onclethomas opened #1017 "[i18n] 'Disable all installed extensions' is mistranslated in German translation"
Does this issue occur when all extensions are disabled?: Yes/No

- VS Code Version: 1.70.2 (system setup)
Commit: e4503b30fc78200f846c62cf8091b76ff5547662
Datum: 2022-08-16T05:35:13.448Z
Electron: 18.3.5
Chromium: 100.0.4896.160
Node.js: 16.13.2
V8: 10.0.139.17-electron.0
Betriebssystem: Windows_NT x64 10.0.19044
- OS Version: Win10 Pro 21H2

Steps to Reproduce:

1. Install German language pack, c

[2022-08-23 09:25] csigs commented on #1005
The issue has been fixed in localization platform that the fix should be exported to production repo and will take effect in next release! (Reference id: 694039)

[2022-08-23 09:25] #1005 closed

[2022-08-25 07:17] joaomoreno commented on #853
We don't currently support localization in the inno-updater package.

[2022-08-26 01:25] csigs commented on #1017
Thank you for your feedback. We are currently reviewing it (reference 697875).

[2022-08-26 11:25] TheVaan opened #1019 "[de-de] Wrong translation for "Continue""
Hello,

this is the worst translation for "Continue", because "Weiterfahren" means continue driving a vehicle.
https://github.com/microsoft/vscode-loc/blob/d520357df3849af2ef4f7dcdfc873024faa39cd3/i18n/vscode-language-pack-de/translations/extensions/git.i18n.json#L12

It should be `{0} Fortsetzen` (same as in the tooltip):
https://github.com/microsoft/vscode-loc/blob/d520357df3849af2ef4f7dcdfc8730

[2022-08-26 17:26] csigs commented on #1019
Thank you for your feedback. We are currently reviewing it (reference 698228).

[2022-08-27 03:11] zhangjian10 opened #1021 "[zh-CN] Wrong translation git missing"
The command [从市场]  does not work when git does not exist

`[从市场] 安装其他源代码管理提供程序(command:workbench.extensions.search?%22%40category%3A%5C%22scm%20providers%5C%22%22)` is incorrect and should be `[从市场] (command:workbench.extensions.search?%22%40category%3A%5C%22scm%20providers%5C%22%22) 安装其他源代码管理提供程序`

`view.workbench.scm.missing`  All have this problem

https://github.dev/microsoft/vscode-loc/blob/m

[2022-08-29 00:20] PeterNjeim commented on #893
@csigs may I ask what this reference number refers to? Is it a public reference or only internal for employees.

@cristianosuzuki77 I would like to know the progress, if any, on the choice of the next set of languages to support, if it's allowed to be shared publicly.

Adding RTL support for the UI of VSCode will probably be a large task, maybe some extensions would need to be updated to not hardc

[2022-08-29 16:29] jesusjimsa opened #1025 "[es-es] Confusing merge tool translation"
Hello,

In the new translation, the text used for "Yours" and "Theirs" is confusing in Spanish. "Suyo" and "Suya" are being used, and, personally, I do not know which one is mine and which one the other.
It's in these lines:
https://github.com/microsoft/vscode-loc/blob/e9682ed5795a2231f6e241fc600dd44d1bbc0294/i18n/vscode-language-pack-es/translations/main.i18n.json#L9563-L9564

To fix this, I woul

[2022-08-29 20:06] simonpct opened #1026 "[fr] typo in miAuxiliaryBar"
An `&` is missing in the mnemonic string **miAuxiliaryBar**.
[code]
[https://github.com/microsoft/vscode-loc/blob/main/i18n/vscode-language-pack-fr/translations/main.i18n.json#L2841](https://github.com/microsoft/vscode-loc/blob/main/i18n/vscode-language-pack-fr/translations/main.i18n.json#L2841)

[2022-08-30 20:24] TeslaSesla opened #1029 "[ru-RU] Incorrect translation for "Super" button"
The "Super" button don't need to be translated
At the moment it translated as "Превосходно"

![изображение](https://user-images.githubusercontent.com/32602991/187531287-9769d449-f1f3-4af4-bd33-a06b59076978.png)

https://github.dev/microsoft/vscode-loc/blob/577f9f8cfff7463752d72e1060528e87cdcf6448/i18n/vscode-language-pack-ru/translations/main.i18n.json#L160-L161

[2022-08-30 20:28] TeslaSesla commented on #1029
[code]

[2022-08-30 20:46] filiptronicek opened #1030 "Missing releases and assets"
Hey there 👋!

I was looking at the [this repo's Releases](https://github.com/microsoft/vscode-loc/releases) and found that the latest release there is for `1.68`, although VS Code is at version `1.70` (soon to be `1.71`) and the extensions' latest releases are for `1.71` [[1](https://marketplace.visualstudio.com/items?itemName=MS-CEINTL.vscode-language-pack-zh-hans)].

Is there a reason for why th

[2022-08-30 23:50] 747 opened #1031 "[ja] unicodeHighlight mistranslations"
The newly introduced Unicode anti-spoofing messages contain many incorrect or misleading translations, mostly due to misapplying of homonymous terms from other contexts.

[code]

are suggested to be respectively:

[code]

[2022-08-31 19:34] vmcr opened #1033 "Menubar quick alt key repeated in es_ES language pack"
Let's say you want to Expand Emmet Abbreviation and for some reason you can't use the Tab key or editor is not recognizing the command automatically.

You would probably go to the Menubar → Edit → Emmet: Expand Abbreviation, or, to do it faster, press the "Alt → E → x" key combination, which is fine in English.

Well, it's not that easy in Spanish because the Edit menu and the Run menu both starts

[2022-09-02 13:37] AuroraTea opened #1037 ""Create Manual Folding Ranges from Selection" is not in Command Palette when use Chinese (Simplified)"
Chinese (Simplified) :
<img width="321" alt="image" src="https://user-images.githubusercontent.com/43649460/188156579-b192d7fc-7723-4a2f-882c-96aabbd25f4e.png">

English :
<img width="272" alt="image" src="https://user-images.githubusercontent.com/43649460/188156968-6378c35a-f58f-4a0b-bca4-c7ecd927c83e.png">

"Create Manual Folding Ranges from Selection" is not in Command Palette when use Chinese

[2022-09-03 01:26] csigs commented on #1021
Thank you for your feedback. We are currently reviewing it (reference 701736).

[2022-09-03 01:26] csigs commented on #1025
Thank you for your feedback. We are currently reviewing it (reference 701738).

[2022-09-03 01:26] csigs commented on #1026
Thank you for your feedback. We are currently reviewing it (reference 701739).

[2022-09-03 01:26] csigs commented on #1029
Thank you for your feedback. We are currently reviewing it (reference 701740).

[2022-09-03 01:26] csigs commented on #1030
Thank you for your feedback. We are currently reviewing it (reference 701741).

[2022-09-03 01:26] csigs commented on #1031
Thank you for your feedback. We are currently reviewing it (reference 701742).

[2022-09-03 01:26] csigs commented on #1033
Thank you for your feedback. We are currently reviewing it (reference 701743).

[2022-09-03 01:26] csigs commented on #1037
Thank you for your feedback. We are currently reviewing it (reference 701746).

[2022-09-05 01:04] Uhucream opened #1038 "[ja] Incorrect translations"
Below translation is incorrect.

https://github.com/microsoft/vscode-loc/blob/567eeb26e1721dcb9c6d29d59cc9687dfc843114/i18n/vscode-language-pack-ja/translations/main.i18n.json#L3128

I think correct translation is below

[code]

Because this string is used as command string which joins split 2 columns / rows editor into 1 group.

このコマンドを実行すると、2つに分割されていたエディターを1つに統合する挙動になるので、"参加" では不適切では、と思います。

[2022-09-05 01:26] csigs commented on #1038
Thank you for your feedback. We are currently reviewing it (reference 702197).

[2022-09-07 12:08] FrozenOfficialGITHUB opened #1039 "Turkish Language Pack Visual Studio Code 1.71 Support"
No support for Visual Studio Code 1.71

[2022-09-07 17:26] csigs commented on #1039
Thank you for your feedback. We are currently reviewing it (reference 703614).

[2022-09-07 21:02] cristianosuzuki77 commented on #1030
@TylerLeonhardt Could you assist here? Thank you.

[2022-09-07 21:19] cristianosuzuki77 commented on #1037
@TylerLeonhardt Could you please assist here? Thank you.

[2022-09-07 21:37] TylerLeonhardt commented on #1030
@filiptronicek we recently moved the language pack publishing to using the release pipelines that we use across multiple extensions but that doesn't support publishing to GH releases. I've left a comment on an open issue in that repo that we want this for language packs too.

[2022-09-08 21:36] cristianosuzuki77 commented on #1039
@TylerLeonhardt could you assist here please?

[2022-09-08 22:33] TylerLeonhardt commented on #1039
@FrozenOfficialGITHUB I see 1.71 builds published to the marketplace here:
https://marketplace.visualstudio.com/items?itemName=MS-CEINTL.vscode-language-pack-tr

[2022-09-09 04:31] FrozenOfficialGITHUB commented on #1039
Thanks!

[2022-09-09 14:00] #1039 closed

[2022-09-10 10:43] kagankan opened #1042 "[ja] translation suggestion for "branch""
The translation file contains a mixture of 分岐 and ブランチ as translations of "branch" (git)

I propose to unify them into ブランチ which is more natural.

分岐 appears these lines:

https://github.com/microsoft/vscode-loc/blob/4d07ffe8f29f36b8c7ba5322e8a92b22f6afb602/i18n/vscode-language-pack-ja/translations/extensions/git.i18n.json#L77
https://github.com/microsoft/vscode-loc/blob/4d07ffe8f29f36b8c7ba5322e

[2022-09-10 11:02] kagankan opened #1043 "[ja] translation suggestion for "stash""
"stash" (git) is currently translated to 一時退避
(This line is an example. There are many other lines containing 一時退避)

https://github.com/microsoft/vscode-loc/blob/4d07ffe8f29f36b8c7ba5322e8a92b22f6afb602/i18n/vscode-language-pack-ja/translations/extensions/git.i18n.json#L405

However, it seems unnatural.
I suggest to use スタッシュ as translation of "stash", instead of 一時退避

For example, Soucetree also

[2022-09-10 17:24] csigs commented on #1042
Thank you for your feedback. We are currently reviewing it (reference 705153).

[2022-09-10 17:24] csigs commented on #1043
Thank you for your feedback. We are currently reviewing it (reference 705154).

[2022-09-10 19:08] tcastanie opened #1044 "[fr] Small translation error of filter input placeholder"
Hello,

The `node_modules/` folder is literal translated.

![image](https://user-images.githubusercontent.com/4352517/189498207-b65d2263-bd7e-4eca-82fb-603570bed4b5.png)

https://github.com/microsoft/vscode-loc/blob/4d07ffe8f29f36b8c7ba5322e8a92b22f6afb602/i18n/vscode-language-pack-fr/translations/main.i18n.json#L6575

It should be :

[code]

Thanks for your work :)

[2022-09-14 07:52] Long8214 opened #1046 "自动删除扩展"
扩展插件被自动删除

[2022-09-15 14:29] NhanAZ commented on #575
@csigs Can I make a pull request for the Vietnamese package on this repository?

[2022-09-17 01:26] csigs commented on #1046
Thank you for your feedback. We are currently reviewing it (reference 708843).

[2022-09-17 01:26] csigs commented on #1042
Resolved as Fixed & Verify.

[2022-09-17 01:26] #1042 closed

[2022-09-17 01:26] csigs commented on #1044
Resolved as Fixed & Verify.

[2022-09-17 01:26] #1044 closed

[2022-09-19 09:59] v-mholloway commented on #1046
@Long8214  can you please provide your request in English...?

[2022-09-22 11:10] pafernandez-oesia opened #1057 "[es-es] Incorrect localization of config "Workbench Editor Wrap Tabs" description"
Hi,

The description for configuration option **Workbench > Editor: Wrap Tabs** has an incorrect localization in Spanish. The correct translation for "tabs" in this context is "pestañas", instead of "tabulaciones", which is used for tab characters.

Description in **VS Code 1.71.2**:
[code]

Proposed translation:
[code]

Translation string:
https://github.com/microsoft/vscode-loc/blob/main/i18n/vs

[2022-09-22 17:03] ashusharmasigdev opened #1058 "Add hindi language pack"
Hi,
There are very much **hindi speaking native peoples** that uses vscode, i am one of them, i want to see vscode in hindi also, but i can't find how can i create a locale package, following the readme, this repo will not accept any pull request, anyway i want to see hindi in vscode. may you add it, or let me do it.
Thanks.

[2022-09-22 17:26] csigs commented on #1057
Thank you for your feedback. We are currently reviewing it (reference 711979).

[2022-09-26 17:18] TylerLeonhardt opened #1064 "Russian language pack feedback"
We got this feedback on the Russian language pack:
![image](https://user-images.githubusercontent.com/2644648/192339027-582ee448-7146-45ed-9445-bde3e02557d8.png)

It says "Machine translated. Nobody calls a commit "Fixation"" (thanks @isidorn!)

This word seems to be used in many places (which makes sense, the git extension probably says "commit" a lot). Can we use the word they're suggesting in t

[2022-09-26 17:26] csigs commented on #1064
Thank you for your feedback. We are currently reviewing it (reference 713689).

[2022-09-27 01:07] ba230t opened #1065 "[ja] translation suggestion for "files.autoSave.onWindowChange""
The following two lines have the same translation text which means:

https://github.com/microsoft/vscode-loc/blob/4d07ffe8f29f36b8c7ba5322e8a92b22f6afb602/i18n/vscode-language-pack-ja/translations/main.i18n.json#L6172-L6173

So, the latter (`"files.autoSave.onWindowChange"`) translation is more appropriate if changed as follows

wrong:
"files.autoSave.onWindowChange": "エディターがフォーカスを失うと、変更のあった**エディタ

[2022-09-27 01:26] csigs commented on #1065
Thank you for your feedback. We are currently reviewing it (reference 714032).

[2022-09-27 15:33] QuentinLemCode opened #1067 "[fr] Bad translation for "Transform to Kebab Case""
Hello

The translation for "Transform to kebab case" in French is not accurate.

The english translation would mean "Transform to kebab management"

The good translation is **"Transformer en kebab case"**

![image](https://user-images.githubusercontent.com/3814031/192570264-4d8cf1d5-fe92-406c-9527-edb40fdfdefc.png)

[2022-09-27 15:34] QuentinLemCode commented on #1067
https://github.com/microsoft/vscode-loc/pull/1068

[2022-09-27 17:26] csigs commented on #1067
Thank you for your feedback. We are currently reviewing it (reference 714490).

[2022-09-27 18:11] crsuzukimsft commented on #1058
Thank you for your feedback and offer! We will review the ask for adding additional languages to VS Code.

[2022-09-27 18:57] crsuzukimsft commented on #1064
@TylerLeonhardt Could you share the example where this Russian translation shows **up as in the screenshot**?

[2022-09-27 19:35] RanjeetSingh00 commented on #1058
@ashusharmasigdev  Right, I am also in the support of it (adding hindi locale),

[2022-09-27 23:11] crsuzukimsft commented on #1067
Hello @QuentinLemCode Thank you for the suggestion for fix. As per readme file, translation updates must be done via ticket issue, instead of pr.
I am addressing your request internally but you may want to abandon this pr meanwhile.

[2022-09-28 01:26] csigs commented on #1058
The issue has been fixed in localization platform that the fix should be exported to production repo and will take effect in next release! (Reference id: 711980)

[2022-09-28 01:26] #1058 closed

[2022-09-28 01:26] csigs commented on #1067
Resolved as Duplicate.

[2022-09-28 01:26] #1067 closed

[2022-09-28 09:26] csigs commented on #1057
The issue has been fixed in localization platform that the fix should be exported to production repo and will take effect in next release! (Reference id: 711979)

[2022-09-28 09:26] #1057 closed

[2022-09-28 12:42] pafernandez-oesia commented on #1057
Thank you 😉

[2022-09-30 09:26] csigs commented on #1065
The issue has been fixed in localization platform that the fix should be exported to production repo and will take effect in next release! (Reference id: 714032)

[2022-09-30 09:26] #1065 closed

[2022-09-30 15:37] Velciak opened #1077 "Typo in pl/miViewTesting translation"
There is typo in [`pl/miViewTesting`](https://github.com/microsoft/vscode-loc/blob/main/i18n/vscode-language-pack-pl/translations/main.i18n.json#L9349) translation: ampersand character and reduntant `r` character.

**Currently:** `T&estrowanie`
**Should be:** `Testowanie`

[2022-09-30 17:26] csigs commented on #1077
Thank you for your feedback. We are currently reviewing it (reference 716991).

[2022-10-06 07:49] phbice opened #1084 "[zh-CN] inaccurate translation for "Create new branch""
The option "Create new branch" in the command palette is translated into "正在创建新分支". That is inaccurate and should be translated into "创建新分支".
![image](https://user-images.githubusercontent.com/38395456/194248253-b9055589-72c6-4e49-9de1-a50c7afc43b7.png)

[2022-10-06 09:26] csigs commented on #1084
Thank you for your feedback. We are currently reviewing it (reference 719450).

[2022-10-07 17:26] csigs commented on #1084
The issue has been fixed in localization platform that the fix should be exported to production repo and will take effect in next release! (Reference id: 719450)

[2022-10-07 17:26] #1084 closed

[2022-10-07 18:17] sergey-dryabzhinsky commented on #1064
There is some errors in VScodium that shown in About dialog: https://github.com/VSCodium/vscodium/issues/1281
But I don't sure if VScodium only affected.

[2022-10-07 18:20] sergey-dryabzhinsky commented on #1064
@crsuzukimsft
![Снимок экрана_2022-10-07_21-18-55](https://user-images.githubusercontent.com/717597/194624062-3cdac482-df96-4994-bb90-888abee16a86.png)

[2022-10-07 18:25] sergey-dryabzhinsky commented on #1064
As for issue - we usualy use direct translation: `коммит` as for entity, `закоммитить` for process.

[2022-10-08 12:53] hwhsu1231 opened #1086 "[zh-TW] "Tag" should be translated into "標籤" instead of "標記"."
### Descriptions

There is a missing translation about **"Tag"**.

- English String: **Git: Delete Tag**
- Current Translation: **Git: 刪除標記**
- Suggested Translation: **Git: 刪除標籤**

### Versions

- Chinese (Traditional) Language Pack: **v1.72.10051006**

### Screenshots

![image](https://user-images.githubusercontent.com/71438617/194708368-4e0c9864-2a33-4d38-a731-1f969b73fcae.png)

[2022-10-08 17:26] csigs commented on #1086
Thank you for your feedback. We are currently reviewing it (reference 720420).

[2022-10-10 17:56] danyeh commented on #1046
This repo only deal with translation issue.
Assume you mean functional issue, please log in vscode repo.

[2022-10-10 17:56] #1046 closed

[2022-10-10 22:23] sbatten opened #1087 "[fr] Edit Sessions"
In the feature "Edit Sessions", "Edit" is being used as a noun. In the French translation, it is translated inconsistently sometimes as a verb and sometimes with just different "synonyms".
<img width="450" alt="image" src="https://user-images.githubusercontent.com/6561887/194961111-e6566eb0-d5b2-4203-a10b-4186d4d25dc3.png">

[2022-10-11 01:26] csigs commented on #1087
Thank you for your feedback. We are currently reviewing it (reference 721332).

[2022-10-13 01:26] csigs commented on #1086
The issue has been fixed in localization platform that the fix should be exported to production repo and will take effect in next release! (Reference id: 720420)

[2022-10-13 01:26] #1086 closed

[2022-10-15 10:50] lonasozo opened #1094 "[IT] edit readme"
Hello everyone, checking README I'm here to propose few changes on text:

https://github.com/microsoft/vscode-loc/blob/28304faae2c93581fdf2b2fa1b306c1d1526a0d6/i18n/vscode-language-pack-it/README.md?plain=1#L14

To this (Issue is the "technical" name of the function on Github, I think it's correct to mantain it):
[code]

https://github.com/microsoft/vscode-loc/blob/28304faae2c93581fdf2b2fa1b306c1d

[2022-10-15 17:27] csigs commented on #1094
Thank you for your feedback. We are currently reviewing it (reference 724390).

[2022-10-18 09:23] alanhg opened #1102 "Unable to install extension 'ms-ceintl.vscode-language-pack-zh-hans' as it is not compatible with VS Code '1.71.2'."
Unable to install extension 'ms-ceintl.vscode-language-pack-zh-hans' as it is not compatible with VS Code '1.71.2'.
<img width="910" alt="image" src="https://user-images.githubusercontent.com/9245110/196391455-081afa07-e6a8-46c7-a3d9-e00e99965933.png">

but install ok from marketspace?

<img width="1138" alt="image" src="https://user-images.githubusercontent.com/9245110/196392381-988aa344-2a4f-4c4

[2022-10-19 07:37] Crystal-RainSlide opened #1106 "[zh-hans] Missing "Release:" in the about dialog"
This line:

https://github.com/microsoft/vscode-loc/blob/a3546bdf6409449e313c7583bb5061e27163953f/i18n/vscode-language-pack-zh-hans/translations/main.i18n.json#L4005

Should become:
[code]

[2022-10-19 09:28] csigs commented on #1106
Thank you for your feedback. We are currently reviewing it (reference 726679).

[2022-10-19 09:56] v-mholloway commented on #1106
@Crystal-RainSlide your suggested translation is missing the {1} placeholder.
If I look at the corresponding English string (below)... then your suggestion would use the 'version' value in for the 'commit' value.

can you confirm this is correct..?

Version: {0}
Commit: {1}
Date: {2}
Electron: {3}
Chromium: {4}
Node.js: {5}
V8: {6}
OS: {7}
Sandboxed: {8}

[2022-10-19 10:56] Crystal-RainSlide commented on #1106
My bad, corrected.
<table>
<thead><tr><th>Simplified Chinese</th><th>English</th></tr></thead>
<tbody><tr><td><pre>版本: {0}
发布版本: {1}
提交: {2}
日期: {3}
Electron: {4}
Chromium: {5}
Node.js: {6}
V8: {7}
操作系统: {8}
沙盒化: {9}</pre></td><td><pre>
Version: {0}
Release: {1}
Commit: {2}
Date: {3}
Electron: {4}
Chromium: {5}
Node.js: {6}
V8: {7}
OS: {8}
Sandboxed: {9}</pre></td></tr></tbody>
</table>

[2022-10-19 14:40] #1102 closed

[2022-10-21 01:26] csigs commented on #1094
The issue has been fixed in localization platform that the fix should be exported to production repo and will take effect in next release! (Reference id: 724390)

[2022-10-21 01:26] #1094 closed

[2022-10-22 18:31] Jerry-Ku opened #1135 "Traditional Chinese wording issue"
Does this issue occur when all extensions are disabled?: Yes/No

No

- VS Code Version: 1.72.2
- OS Version: MX-Linux 19.2

Steps to Reproduce:

1. When I first install vscode, it detect that a language pack should be install and inform me to restart the program.  I noticed that there is a wording issue, "以將顯示語言", should be "已將顯示語言"
![螢幕快照_2022-10-23_02-22-01](https://user-images.githubusercontent

[2022-10-24 09:26] #1106 closed

[2022-10-28 11:58] YtotheWT opened #1128 "[zh-cn] Translation error for "Close to the Right""
The current translation "关闭到右侧" is difficult to understand. The suggested translation is "关闭右侧标签页".

[2022-10-28 17:27] csigs commented on #1128
Thank you for your feedback. We are currently reviewing it (reference 732734).

[2022-10-29 08:26] vanelizarov opened #1129 "[ru] Wrong translation for "Copy" action"
In Russian the word "Копирование" describes process of copying, not action itself. Better to say "Копировать" or "Скопировать"

[2022-10-29 09:26] csigs commented on #1129
Thank you for your feedback. We are currently reviewing it (reference 733039).

[2022-10-29 10:56] islinxuan opened #1130 "[zh-CN] MD syntax error on "html.format.indentInnerHtml""
In html-language-features.i18n.json，

[code]

  make the result of **缩进 \"<head>\" 和 \"<body>\" 部分。**.

 It shoule be

[code]

[2022-10-29 17:26] csigs commented on #1130
Thank you for your feedback. We are currently reviewing it (reference 733142).

[2022-11-01 00:01] yume-chan commented on #1135
Current translation matches the English version. The version OP proposed means "The installed language pack has already changed the display language to ..." which is obviously incorrect.

[2022-11-02 09:26] csigs commented on #1130
The issue has been fixed in localization platform that the fix should be exported to production repo and will take effect in next release! (Reference id: 733142)

[2022-11-02 09:26] #1130 closed

[2022-11-02 14:25] crsuzukimsft commented on #1129
Thank you. Team will review it and later address it.

[2022-11-02 17:26] csigs commented on #1128
The issue has been fixed in localization platform that the fix should be exported to production repo and will take effect in next release! (Reference id: 732734)

[2022-11-02 17:26] #1128 closed

[2022-11-02 17:26] csigs commented on #1129
Resolved as Won't Fix.

[2022-11-02 17:26] #1129 closed

[2022-11-04 07:58] shungo27 opened #1142 "[ja] Incorrect translation for "restart""
main.i18n.json
`"restart": "と再起動(&R)",`

Correctly
`"restart": "再起動",`

[2022-11-04 09:26] csigs commented on #1142
Thank you for your feedback. We are currently reviewing it (reference 736509).

[2022-11-04 22:17] yakovmanshin opened #1143 "[ru] Improve formatting"
* Use the proper quotation marks (`«` and `»`)
* Format keyboard shortcuts
* Add line breaks

[2022-11-04 22:39] yakovmanshin opened #1145 "[ru] Add English versions of VS Code commands"
## Problem
Consider the following scenario:
1. You install VS Code, and it defaults to English;
2. You don’t speak English and want to install a language pack;
3. The [`README`](https://github.com/microsoft/vscode-loc/blob/main/i18n/vscode-language-pack-ru/README.md) file gives you the instructions but lists the Russian command name («Настроить язык отображения»);
4. VS Code does not show up the c

[2022-11-05 01:26] csigs commented on #1143
Thank you for your feedback. We are currently reviewing it (reference 737041).

[2022-11-05 01:26] csigs commented on #1145
Thank you for your feedback. We are currently reviewing it (reference 737042).

[2022-11-07 18:26] csigs commented on #1142
Resolved as Won't Fix.

[2022-11-07 18:26] #1142 closed

[2022-11-07 18:26] csigs commented on #1143
Resolved as Won't Fix.

[2022-11-10 06:41] yiliang114 opened #1157 "The internationalization of some extensions has failed, such as git's simplified Chinese"
![](https://user-images.githubusercontent.com/6134547/200992223-f09e4224-e76f-4b62-bb05-6caca591739a.png)

Maybe related:

![image](https://user-images.githubusercontent.com/11473889/201016300-99a189c2-d513-4616-bb5a-1c6870ac1b8a.png)

There is no translation here, it is all the default English.

 [vscode.git.i18n.json](https://github.com/microsoft/vscode-loc/blob/main/i18n/vscode-language-pack-zh

[2022-11-10 06:42] yiliang114 commented on #1157
related [165974](https://github.com/microsoft/vscode/issues/165974)

[2022-11-10 06:44] NatureLR commented on #1157
me too

[2022-11-10 07:08] doubaozia opened #1158 "[zh-CN] The top menu "new folder" translated incorrect."
![image](https://user-images.githubusercontent.com/12318032/201023334-5d96852f-8b14-4eae-8688-2994e4518f29.png)

[2022-11-10 07:16] ihola777 commented on #1157
same issue here #165983

[2022-11-10 07:34] Ade-Li opened #1159 "今天更新后 GitLens 就不汉化了，谢谢贡献者。"
![1668065535301](https://user-images.githubusercontent.com/67159054/201027880-65a31c6d-2055-45f4-9c42-04fc6194842b.png)

[2022-11-10 09:29] doubaozia commented on #1158
![image](https://user-images.githubusercontent.com/12318032/201052479-9926d8e8-dd86-4f07-a298-aaf00fbad0a1.png)
When i change the "newFile" translation value, the UI show as above.
![image](https://user-images.githubusercontent.com/12318032/201052853-b767928d-3909-4f3e-b5ca-78832f34abc0.png)
But the en language shows as expected.

[2022-11-10 17:07] TylerLeonhardt commented on #1157
/duplicate https://github.com/microsoft/vscode/issues/165974#issuecomment-1310465539

[2022-11-10 17:07] TylerLeonhardt commented on #1157
This is a duplicate of https://github.com/microsoft/vscode/issues/165974#issuecomment-1310465539 and there's a workaround in that thread.

[2022-11-10 17:07] #1157 closed

[2022-11-10 21:06] crsuzukimsft commented on #1145
Hello @TylerLeonhardt , could you please review this ask?

[2022-11-10 22:45] #1145 closed

[2022-11-11 14:29] vic233333 commented on #1159
same bug, sad from china

[2022-11-12 00:42] MasterEw commented on #1159
same bug

[2022-11-12 01:32] kaoding commented on #1159
same bug

[2022-11-12 01:32] kaoding commented on #1159
same bug

[2022-11-12 02:26] csigs commented on #1158
Thank you for your feedback. We are currently reviewing it (reference 740849).

[2022-11-12 02:26] csigs commented on #1159
Thank you for your feedback. We are currently reviewing it (reference 740850).

[2022-11-12 12:57] mmotejlek opened #1163 "Broken link formatting in the Czech localisation of the Jupyter extension"
The Czech localisation file package.nls.cs.json contains many links which have a space between the brackets containing text and the link address (e.g. `[protokolu] (command:jupyter.viewOutput)` instead of `[protokolu](command:jupyter.viewOutput)`), so they are not recognized as links and are incorrectly displayed (for example in error messages).

Jupyter Extension Version: 2022.9.1202862440

Czech

[2022-11-12 18:26] csigs commented on #1163
Thank you for your feedback. We are currently reviewing it (reference 740972).

[2022-11-13 13:27] DragonsZhou opened #1165 "SCM Translate——Chinese Language Pack for Visual Studio Code v1.73.11090913"
SCM cannot  be translated into Chinese
![image](https://user-images.githubusercontent.com/49547352/201524091-56f02780-fdd4-444e-926e-aef02e00d547.png)

[2022-11-13 18:26] csigs commented on #1165
Thank you for your feedback. We are currently reviewing it (reference 741149).

[2022-11-14 01:59] Tanimodori commented on #1159
Same bug confirmed. The installed version is v1.73.11090913

[2022-11-14 06:22] doubaozia commented on #1158
Updated: I update the theia core extensions from 1.19.0 to 1.20.0 and use vscode-loc 1.53.2 solved this problem, but some top menus are still not fully transformed.

[2022-11-14 06:48] Last-Order-Wsk commented on #1159
link here [link](https://marketplace.visualstudio.com/items?itemName=MS-CEINTL.vscode-language-pack-zh-hans)

[2022-11-14 08:11] translateServers commented on #1159
Thank you very much

[2022-11-14 16:19] v-mholloway commented on #1159
@Ade-Li can you specify in english exactly what the problem is...?

is the specific problem here that alot of the dialog is in not translated...?

[2022-11-14 16:55] vic233333 commented on #1159
@v-mholloway
Yes. some of the translation is missing in v1.73.11090913
You can see the difference between the previous version (v1.73.11020948) and the latest version (v1.73.11090913) in the following screen shoot.
![未标题-1](https://user-images.githubusercontent.com/93087330/201719006-f2e1172f-e526-49bd-82c0-84df9a32b9d5.png)

[2022-11-14 17:13] ikevin92 opened #1166 "Error while installing 'Spanish Language Pack for Visual Studio Code' extension. Please check the log for more details."
2022-11-14 12:05:36.014 [info] [perf] Render performance baseline is 16ms
2022-11-14 12:06:32.757 [info] Settings Sync: Updated current session b27e339a-52c6-4a89-a260-d87f411f3ac1
2022-11-14 12:06:40.394 [error] [jonkwheeler.styled-components-snippets]: Unknown language in `contributes.styled-components-snippets.language`. Provided value: styled-css
2022-11-14 12:06:40.505 [error] [jonkwheeler.st

[2022-11-14 18:26] csigs commented on #1166
Thank you for your feedback. We are currently reviewing it (reference 741634).

[2022-11-14 23:04] crsuzukimsft commented on #1165
Thank you, @DragonsZhou. Could you explain more about this feedback. It is not clear to me.

[2022-11-14 23:25] crsuzukimsft commented on #1158
thank you [doubaozia](https://github.com/doubaozia). Could you list out what is not correct  and what would be the expected translation?

[2022-11-15 01:04] Leslie1900 commented on #1165
Version 1.73.11090913 cannot Chinese and localize the content of vscode source control。Thanks

[2022-11-15 02:26] csigs commented on #1163
The issue has been fixed in localization platform that the fix should be exported to production repo and will take effect in next release! (Reference id: 740972)

[2022-11-15 02:26] #1163 closed

[2022-11-15 03:22] DragonsZhou commented on #1165
VSCode v1.73.11090913 can't Chineseize and localize the menu of SCM.
![image](https://user-images.githubusercontent.com/49547352/201818758-579e9788-5464-4b01-b2ce-e063d982ced5.png)

I guess it's a problem with the Chinese language pack, so I changed the version of the Chinese language pack, but it still doesn't work. Then I changed the VSCode version again, still not working.
So I'm giving feedbac

[2022-11-15 04:11] inqbs commented on #1165
Same problem in korean too.
![capture](https://user-images.githubusercontent.com/52809869/201824475-aa8fe9bf-1a02-46b1-ae21-afd968b918a7.PNG)

[2022-11-15 08:21] doubaozia commented on #1158
![image](https://user-images.githubusercontent.com/12318032/201866250-394cf168-7a83-42cf-820a-da4e41f76549.png)
As the image shows, top menus should end with a brackets and a letter，but some are not. Some submenus are not translated.
dependencies:
    "@theia/callhierarchy": "1.20.0",
    "@theia/console": "1.20.0",
    "@theia/core": "1.20.0",
    "@theia/debug": "1.20.0",
    "@theia/editor": "1

[2022-11-16 00:46] inqbs commented on #1165
Same issue here.
https://github.com/microsoft/vscode/issues/165974

[2022-11-16 05:41] gui-lherme opened #1169 "Error while installing 'Portuguese (Brazil) Language Pack for Visual Studio Code' extension. Please check the log for more details."
16/11/2022 02:38:09 - Microsoft VSIX Installer
16/11/2022 02:38:09 - -------------------------------------------
16/11/2022 02:38:09 - vsixinstaller.exe version:
16/11/2022 02:38:09 - 16.8.3036
16/11/2022 02:38:09 - -------------------------------------------
16/11/2022 02:38:09 - Command line parameters:
16/11/2022 02:38:09 - C:\Program Files (x86)\Microsoft Visual Studio\Installer\resources\app\

[2022-11-16 10:26] csigs commented on #1169
Thank you for your feedback. We are currently reviewing it (reference 742799).

[2022-11-17 21:22] crsuzukimsft commented on #1166
@TylerLeonhardt Could you review this issue?

[2022-11-17 21:33] crsuzukimsft commented on #1169
Hi @TylerLeonhardt , could you please check this ticket?

[2022-11-17 21:41] crsuzukimsft commented on #1159
Hi @TylerLeonhardt could you check on this one? The translations seem to be reverted at the mentioned build number.

[2022-11-18 02:26] csigs commented on #1169
Investigated by Loc Team: It's not a translation issue. (Reference id: 742799)

[2022-11-20 02:02] bigcating opened #1174 "vscode 代码详细提示 如何中文汉化?"
问题图片地址：<img src="https://att.125.la/data/attachment/forum/202211/20/094429jvovwjvfd6hosgh6.png" alt="">

安装插件后 这里无法被汉化 希望能解决下 ，非常感谢！

[2022-11-20 02:03] bigcating opened #1175 "vscode 代码详细提示 没有中文汉化?"
<img src="https://att.125.la/data/attachment/forum/202211/20/094429jvovwjvfd6hosgh6.png" alt="">

[2022-11-20 02:04] #1175 closed

[2022-11-20 02:26] csigs commented on #1174
Thank you for your feedback. We are currently reviewing it (reference 744617).

[2022-11-21 10:19] v-mholloway commented on #1174
@bigcating can you supply comments in English please?
I assume the issue is that you are seeing untranslated text in the product? can you also indicate the specific culture affected?

[2022-11-21 13:22] bigcating commented on #1174
![1](https://user-images.githubusercontent.com/86870983/203065790-4d9892b9-cee7-4523-a5fd-f02156ca7e14.png)
I'm very sorry, my English is poor.
1. I have uploaded the screenshot of the question
2. My question is: "Code inline suggestion" cannot be translated
Thank you very much for your reply.

[2022-11-21 13:24] bigcating commented on #1174
I'm very sorry, my English is poor.
1. I have uploaded the screenshot of the question
2. My question is: "Code inline suggestion" cannot be translated
Thank you very much for your reply.

![1](https://user-images.githubusercontent.com/86870983/203066131-5850d84b-34ff-4592-8c94-c93f15cc7897.png)

[2022-11-21 22:22] yutotnh opened #1177 "Spelling inconsistencies: Repository -> リポジトリ or レポジトリ"
This is the only sentence where the repository is translated as レポジトリ.

I would like to change レポジトリ to リポジトリ in the sentence below.

https://github.com/microsoft/vscode-loc/blob/fb96175e2c73351ee81fcfe2683428ec3df16e39/i18n/vscode-language-pack-ja/translations/extensions/vscode.git.i18n.json#L399

In other texts it is translated as リポジトリ.

https://github.com/microsoft/vscode-loc/blob/fb96175e2c73

[2022-11-22 02:26] csigs commented on #1177
Thank you for your feedback. We are currently reviewing it (reference 745317).

[2022-11-23 17:58] lgleznah opened #1182 "[es-ES] Error de traducción en diálogo de enviar múltiples ficheros a la papelera de reciclaje"
¡Buenos días!

Estoy viendo un error de traducción similar al que ya reporté en #794, solo que esta vez ocurre con el diálogo de eliminar elementos moviéndolos a la papelera de reciclaje, no con el diálogo de eliminarlos permanentemente:

![imagen](https://user-images.githubusercontent.com/36040102/203616016-42701147-2ae9-43a2-8c42-c17ba02ab727.png)

De manera similar, el texto no debería ser "¿Es

[2022-11-23 18:26] csigs commented on #1182
Thank you for your feedback. We are currently reviewing it (reference 746207).

[2022-11-24 11:49] v-mholloway commented on #1182
@lgleznah Can you please provide your feedback in English so we can triage the request properly...?

[2022-11-24 12:13] lgleznah commented on #1182
Indeed!

I'm observing a mistranslation similar to the one I reported in #794, though this time it is present in the "move multiple elements to the recycling bin" prompt, instead of the "remove multiple elements permanently" prompt:

![](https://user-images.githubusercontent.com/36040102/203616016-42701147-2ae9-43a2-8c42-c17ba02ab727.png)

The solution, similarly too, would be to change the `confi

[2022-11-24 18:26] csigs commented on #1177
Resolved as Won't Fix.

[2022-11-24 18:26] #1177 closed

[2022-11-24 18:26] csigs commented on #1182
Resolved as Won't Fix.

[2022-11-24 18:26] #1182 closed

[2022-11-25 15:28] yutotnh opened #1186 "[ja] "の" is enough to connect "とじしろ" and "折りたたみ"."
"の" is enough to connect "とじしろ" and "折りたたみ".

**Current (Wrong)**
![image](https://user-images.githubusercontent.com/57719497/204014773-6e4cc77b-3c22-4ef7-9ace-06c26782ed56.png)

**After (Correct)**
![image](https://user-images.githubusercontent.com/57719497/204013952-18e4fc7f-feff-4004-8417-cd35efc046f1.png)

Line 516 of `i18n/vscode-language-pack-ja/translations/main.i18n.json`

[2022-11-25 18:26] csigs commented on #1186
Thank you for your feedback. We are currently reviewing it (reference 746908).

[2022-11-26 05:49] rFLY opened #1188 "[ru-RU] 2 ampersands in the menu item `View>Sticky Scroll`"
![2ampersands](https://user-images.githubusercontent.com/1749404/204073268-f7917432-8db7-45f6-8a02-e03b36d4e9a4.png)
Maybe it's line 1293 of the main.i18n.json file:
`"vs/editor/contrib/stickyScroll/browser/stickyScrollActions": {
	"miStickyScroll": "&&&Залипание прокрутки",
	"toggleStickyScroll": "Переключить залипание прокрутки",
	"view": "Просмотр"
}
`

[2022-11-26 10:26] csigs commented on #1188
Thank you for your feedback. We are currently reviewing it (reference 747016).

[2022-11-28 18:24] csigs commented on #1186
Resolved as Won't Fix.

[2022-11-28 18:24] #1186 closed

[2022-11-28 18:24] #1188 closed

[2022-11-30 17:35] crsuzukimsft commented on #1174
@TylerLeonhardt could you assist us here? These pop-ups texts are not in the loc side. (Thanks Mark!)

[2022-11-30 18:36] crsuzukimsft commented on #1158
@TylerLeonhardt Could you help with the last comment from this thread? It seems the hotkeys for certain menu items in zh-hans are not visible. I checked in the loc side for any hotkey missing in vs_platform.xlf but didn't find any. Thank you.

[2022-11-30 18:39] crsuzukimsft commented on #1165
Thanks, I see https://github.com/microsoft/vscode/issues/165974 addressed it.

[2022-11-30 18:42] crsuzukimsft commented on #1159
@TylerLeonhardt I think this is related to https://github.com/microsoft/vscode/issues/165974.