[2018-03-06 15:26] qcz opened #2 "Include list of contributors in the readme of community contributed localizations"
Currently a generic Readme is present for every language. They should list the names of contributors like the VS Code monthly release notes does.

[2018-03-07 06:17] danyeh commented on #2
Hi Dániel , thank you for your suggestion! I agree with you. Let's work this out.

[2018-03-08 11:46] ac5er opened #3 "Turkish and Portuguese (Brazil) Language Packs do not work"
I installed Turkish and Portuguese (Brazil) Language Packs. Enabled them by editing `locale.json` but UI language is still English. Bulgarian and Hungarian Language Packs work but these two does not.

I changed `"languageId": "tr"` to `"languageId": "trk"` in Turkish Language Pack's package.json file. Then activate it as `"locale": "trk"` in `locale.json` and it worked.

Also changed `"languageId"

[2018-03-08 19:19] danyeh commented on #3
Hi Adem, thank you very much for reporting the issues and providing solution! I fixed the issues and republished language packs of Turkish and Portuguese (Brazil) as version 1.21.2. I added language id info in readme as well. We will investigate why original id didn't work. Thank you @ac5er !

[2018-03-08 19:19] #3 closed

[2018-03-13 23:41] danyeh commented on #2
@qcz , I revised the readme to include contributors. Please take a look. https://github.com/Microsoft/vscode-loc/blob/release/1.21/i18n/vscode-language-pack-hu/README.md

I think we can author the readme as bi-lingual doc. Hungarian can come first while English in the bottom in same file. If you agree the idea, could you please help to translate it? Create a PR once you finish it. Thank you!

We w

[2018-03-14 05:34] qcz commented on #2
This is a very good idea.
The translation is available here: https://github.com/qcz/vscode-loc/tree/patch-1/i18n/vscode-language-pack-hu
Should I make the PR against the `relase/1.21` branch?

[2018-03-15 01:25] danyeh commented on #2
Thank you Dániel very much! I picked up your translation and published language pack as v1.21.2. I tested in vscode-loc repo, in Marketplace and in VS Code. All look right. Please help to take a look as well.
Yes, if you want to make change. You can PR against the release/1.21 branch. We will follow branch strategy of vscode.

[2018-03-15 01:25] #2 closed

[2018-03-15 19:12] danyeh commented on #3
@ac5er ，code fixed. Now VS Code supports 'tr' as language ID. I have re-published tr language pack and updated readme. It will be great if you can help to translate the readme. You can PR to release/1.21 branch. See example of hu which has localized readme with English in the bottom. https://github.com/Microsoft/vscode-loc/blob/release/1.21/i18n/vscode-language-pack-hu/README.md

[2018-03-15 20:20] ac5er commented on #3
Hi @danyeh ,
I made a pull request.
By the way, I don't know if it is right place to tell but [docs](https://code.visualstudio.com/docs/getstarted/locales) page has wrong language id(trk) for Turkish Language Pack.

[2018-03-15 21:36] danyeh commented on #3
@ac5er , thank you very much for the translation! And thank you for reporting the docs issue. I created a PR to fix that. There is an edit button on the page. Everyone can contribute.

[2018-04-10 10:35] waldyrious opened #14 "How to join another team on Transifex?"
I'm currently a member of the pt_PT team, and I'd like to help out with the pt_BR and occasionally others (e.g. Spanish). What's the procedure to request membership in other teams?

I browsed the Transifex interface, and read both [Visual Studio Code Community Localization Project](https://github.com/Microsoft/Localization/wiki/Visual-Studio-Code-Community-Localization-Project) and [Localize an Op

[2018-04-11 09:33] waldyrious commented on #14
Ah, indeed that's easy to miss. For future reference, the link is visible in one of the project's overview page, e.g. https://www.transifex.com/microsoft-oss/vscode-editor/dashboard/

![screenshot from 2018-04-11 10-24-44](https://user-images.githubusercontent.com/478237/38608558-9ed7d582-3d73-11e8-8b86-df3bdbce7b73.png)

Thanks!

[2018-04-11 09:33] #14 closed

[2018-05-04 00:57] MaleDong opened #15 "Add beautiful Icons for all extended languages"
Issue Type: <b>Feature Request</b>

Now we don't have icons for language extensions, it's a default empty icon:
![noicon](https://user-images.githubusercontent.com/6959154/39609143-28d5c372-4f79-11e8-92fe-ee165feed82a.PNG)
Compared with other plug-in extensions, they have a nice icon to identity themselves:
![normalicons](https://user-images.githubusercontent.com/6959154/39609157-41ea23f8-4f79-11e

[2018-05-04 11:43] lihua06 opened #17 ""locale": "zh-hans"不工作"
https://marketplace.visualstudio.com/items?itemName=MS-CEINTL.vscode-language-pack-zh-hans#overview
简体中文介绍页有错误；

locale": "zh-hans"并不被VSCODE所支持；
应修改为：locale": "zh-CN"；

![tim 20180504202409](https://user-images.githubusercontent.com/20437381/39627637-26f3290e-4fd9-11e8-96df-d9425d23ffb7.png)

[2018-05-05 03:26] danyeh commented on #17
Thanks @MaleDong and @lihua06 . I just deployed new version 1.3.2. Corrected the readme. Both zh-cn and zh-CN should work. zh-hans support is in backlog.

[2018-05-05 03:26] #17 closed

[2018-05-05 03:32] lihua06 commented on #17
@danyeh There's no need to thank me. vscode earned my support!

[2018-05-05 03:52] danyeh commented on #15
Thank you for your suggestion! I checked with icon team, guidance is to use same icon for all languages for now. I have conveyed your suggestion to the team.
1.23.3 now has that icon.

[2018-05-05 03:52] #15 closed

[2018-05-05 09:03] levrik opened #18 "Issues with Version 1.23.1 of German language pack"
Version 1.23.1 has two issues in the German translations again that were fixed in 1.23.0
I just checked Transifex. The correct versions are still marked as correct there.

[2018-05-05 09:07] levrik commented on #18
I just checked the history of the translations in this repo and couldn't find a commit where it was changed.
I think after installation of the German language pack still the included German translations were used and I just realized the issues after I updated to 1.23.1
Could it be that the German language pack here isn't up to date with the included one in VS Code 1.23.0?

[2018-05-06 04:34] danyeh commented on #18
@levrik, thank you for reporting the issue. I re-pulled resources from Transifex and re-published as 1.23.2. Please confirm if this version solve the issue.

[2018-05-06 07:00] reaCodes opened #19 "The new logo may not be suitable"
When the background is black, a part of the logo is visible.

---

![qq 20180506145538](https://user-images.githubusercontent.com/13817254/39670746-0f34e102-513e-11e8-94f1-17d1c58d8999.png)
![qq 20180506150004](https://user-images.githubusercontent.com/13817254/39670753-34fff7dc-513e-11e8-8737-2a48f4b60529.png)

[2018-05-06 08:30] levrik commented on #18
@danyeh Yes. Looks fine now. Thanks!

[2018-05-06 08:30] #18 closed

[2018-05-06 08:33] levrik commented on #19
![image](https://user-images.githubusercontent.com/9491603/39671452-d839ab44-5118-11e8-8f8c-04fd7e027d9a.png)
Looks fine for the German language pack.

[2018-05-06 08:46] reaCodes commented on #19
@levrik Because these two logos are not same.

[2018-05-06 09:10] levrik commented on #19
@reaCodes Yeah, I'm not dumb 😄 Just thought that it maybe got fixed already.

[2018-05-22 11:47] 7cc opened #31 "README.md dead link?"
In the second paragraph,

Localized resource files are managed in [Transifex](https://www.transifex.com/microsoft-oss/). ← 404

could it be https://www.transifex.com/microsoft-oss/public/ ?

[2018-05-22 11:51] 7cc commented on #31
ah,  after I joined one of the translation project, I can visit the link without /public/ in the end of the URL.

[2018-05-22 15:09] danyeh commented on #31
good to know you figured it out.

[2018-05-22 15:09] #31 closed

[2018-08-03 13:52] mjcheetham opened #34 "Custom en-GB Language Pack is not used"
After following the instructions [here](https://github.com/Microsoft/vscode-loc/wiki/How-to-create-language-pack-extension) on how to build and install a language pack VSIX into the Insiders VS Code, I find that the translations are not actually used.

I had a suspicion that the problem was that I am creating a `en-*` language pack and that Code was deciding to take the `en-US` (or just `en`) stri

[2018-08-03 17:25] danyeh commented on #34
@dbaeumer @sandy081 @ramya-rao-a , please take a look and re-assign.
Matthew is building en-GB Language Pack. Please help.
Let us know if need to port the issue to vscode repo.

[2018-08-03 17:33] ramya-rao-a commented on #34
The findings above are correct. If user's locale starts with `en`, we dont use any language packs. We use the default english strings. Can you elaborate on the advantages of having different language packs for English this way?

[2018-08-03 18:25] danyeh commented on #34
Original request is here. Matthew explained there. https://github.com/Microsoft/vscode/issues/35690
There is a new request concern about current en. https://github.com/Microsoft/vscode/issues/54819

[2018-08-10 10:43] mjcheetham commented on #34
@ramya-rao-a, as linked on my original request (Microsoft/vscode#35690) and the new request for an en-AU language pack (Microsoft/vscode#54819), there are a number of differences in spelling and grammar between en-US (the Code default/fallback language) and en-GB/AU.

Many English speakers in Europe are also familiar with the 'British' spellings (and I believe British English is used for official

[2018-08-10 18:02] ramya-rao-a commented on #34
@mjcheetham You can re-use https://github.com/Microsoft/vscode/issues/54819 to continue this discussion. Closing this issue, as there is nothing more to do from the vscode-loc side here.

[2018-08-10 18:02] #34 closed

[2018-08-10 19:42] mjcheetham commented on #34
Thanks!

[2018-08-14 00:53] ramya-rao-a opened #36 "Translate telemetry opt-out related strings as soon as possible"
@danyeh The strings `telemetryOptOut.optOutOption`, `telemetryOptOut.OptOut` and `telemetryOptOut.OptIn` are translated only in 6 locales at the moment. Is there any way to ensure they get translated in the rest and the corresponding extensions get updated in the next few days?

We want to enable an experiment which we can do only when these strings are localized in all the locales.

[2018-08-14 01:08] danyeh commented on #36
@ramya-rao-a , I double checked 9 core languages. They are all localized properly. Could you please hint which language(s) have issue?

Translation in latest language pack can be found here. https://github.com/Microsoft/vscode-loc/tree/release/1.26

[2018-08-14 01:27] ramya-rao-a commented on #36
Looks like github search is not reliable :)

I went through the translations manually and found that only the below are missing
- ps
- pt-br
- tr

[2018-08-14 01:32] danyeh commented on #36
I will ping community members for these community owned languages. If they contribute, I will re-publish language pack.

[2018-08-14 01:44] ramya-rao-a commented on #36
Thanks @danyeh!

[2018-08-19 07:07] edp1096 opened #38 "Git [...] menu not show translated text"
vscode version : 1.26.1
![default](https://user-images.githubusercontent.com/15924482/44306449-fd67ea80-a3c9-11e8-8906-0bf39eba5523.png)

[2018-08-20 16:53] danyeh commented on #38
@edp1096 , thank you for your feedback! Could you please update to Korean language pack 1.26.3 if you haven't? I could not repro the issue on VS Code 1.26.1 + Korean Language Pack 1.26.3.
![image](https://user-images.githubusercontent.com/19785531/44354503-dad3e100-a45e-11e8-9a5f-7c47eba39f65.png)

[2018-08-20 17:49] edp1096 commented on #38
Hello @danyeh , I checked the version is 1.26.3 and found problem caused from userdata/clp folder.

Could you please check attached files?
[clp_normal_clean_install.zip](https://github.com/Microsoft/vscode-loc/files/2303425/clp_normal_clean_install.zip)
[clp_abnormal_my_set.zip](https://github.com/Microsoft/vscode-loc/files/2303426/clp_abnormal_my_set.zip)

[2018-08-20 18:39] danyeh commented on #38
Thank you @edp1096 for the additional info!
@dbaeumer @sandy081 @ramya-rao-a , please take a look and re-assign.

[2018-08-28 10:07] dbaeumer commented on #38
I looked at the zips and there is nothing abnormal even with the clp_abnormal_my_set.zip. The git files are identical and the tcf.json files only differ in a small path segment (e.g. PC9 <-> swshi)

Did you copy that folder ?

[2018-08-29 01:33] edp1096 commented on #38
Yes.
Because maintain same settings, I'm using zipped vscode with --user-data-dir option at my PCs.

[2018-08-30 09:18] dbaeumer commented on #38
Actually copying the user data dir from one PC to another is not supported right now.

[2018-08-30 19:42] dbaeumer commented on #38
@edp1096 yes, that is correct. We have issues there as well. A corresponding item exists in the vscode repository

[2018-09-26 18:11] danyeh commented on #36
I have asked community but these languages still not fully covered. Eventually community contributor will cover this. I close this for now.

[2018-09-26 18:11] #36 closed

[2018-10-24 12:08] L-IU opened #39 "Installing vscode-loc on Linux using VSIX Package goes wrong"
## Installing vscode-loc on Linux using VSIX Package goes wrong
### Installation error

[2018-10-24 16:41] danyeh commented on #39
Thank you @L-IU for the feedback! This is by design behavior if you download from Marketplace because the latest VSIX Package has bigger than VS Code version setting.
Right route is to search language Pack within your VS Code Extension view and click install. Marketplace will auto fall back to the language pack version matches your VS Code version.
![image](https://user-images.githubusercontent.co

[2018-10-24 16:41] #39 closed

[2018-10-24 17:42] L-IU commented on #39
Thank you! ^_^

[2018-12-19 17:17] noeFernandez opened #41 "Wrong transalation of the token generateColorTheme.label in the spanish language pack"
Hi,

I found out the translation for the token `generateColorTheme.label` has a typo, it's translated as `General el tema de color desde la configuración actual` when it should be `Generar el tema de color desde la configuración actual`

[2018-12-22 15:06] electrolom42 opened #42 "Ну что за дела! Предложение:"
Не лучше для каждого языка сделать описание на этом же языке, лучше/удобнее/круче! Заходишь на страницу расширения "Russian Language Pack for Visual Studio Code", а там описание на английском, шик! 🙄

[2019-01-03 15:23] lukaschal commented on #41
On review now.

[2019-01-03 22:12] wanningfe opened #44 "translation issue in vscode-language-pack-zh-hans"
![tim 20190104060852](https://user-images.githubusercontent.com/25128272/50664222-48844200-0fe7-11e9-80f6-6b0dd315b28f.png)

In my opinion,translation for 'Format Document' is not '设置文档格式' but '格式化文件'。

[2019-01-04 14:41] lukaschal commented on #44
On review.

[2019-01-07 15:04] lukaschal commented on #42
@electrolom42 Please, is it possible to add your feedback in ENU language and some screenshots ?

[2019-01-08 17:57] Joelism commented on #44
Oh boy, there's already a round of review in https://github.com/Microsoft/vscode/issues/17120

[2019-01-09 09:50] lukaschal commented on #44
Linguistic answer:

Indeed "设置格式" can be interpreted more than one ways, but readers will know the intended meaning in context. So the current translation seems OK.

[2019-01-09 10:07] lukaschal commented on #41
Fixed as suggested.

[2019-01-16 05:35] wanningfe commented on #44
我记得在语言包社区化之前，format document 的翻译一直是 “格式化文件”。
所以我习惯性的在命令面板输入Format，却找不到“格式化文件“选项。
所以我觉得，既然”格式化文件“不是一个完全错误的翻译，不如继续使用旧的翻译？

[2019-01-17 11:10] y-chinen opened #47 "Update README.md Contributing Translations Description"
I think that it is better to change the explanation of [Contributing Translations] described in the Top README.md from Transifex to MLCP.

[2019-01-22 05:03] moonjoungyoung opened #48 "After installing korean language package, the setting.json has broken."
https://github.com/Microsoft/vscode/issues/66831

[2019-01-28 03:04] shawndon commented on #48
Hello. How is the setting.json broken? Can you provide a  little more information so we can troubleshooting? Are you specifically referring to the Visual Studio Code application after installing the Korean Language Pack? Or are you referring to MLCP and the files in GitHub? Please provide some steps. Thanks.

[2019-01-28 12:47] mandel59 opened #49 "[ja] "grammar" is mistranslated into "文章校正""
https://github.com/Microsoft/vscode-loc/blob/master/i18n/vscode-language-pack-ja/translations/main.i18n.json#L2942
"文章校正" means proofreading, not grammar. It should be "文法 (grammar)" or "文法規則 (grammar rule)".

[2019-01-28 13:17] lukaschal commented on #49
On review.

[2019-01-29 08:16] moonjoungyoung commented on #48
@shawndon

Hi, Shawndon.
Thank you for your comments.

1. How is the setting.json broken?
It has no open tag in the middle of the setting.json file at vs code. I can't access to default setting.json directly, so I need to click the problems - error.

2. Are you specifically referring to the Visual Studio Code application after installing the Korean Language Pack?  Or are you referring to MLCP and

[2019-01-29 09:18] janbaltus commented on #41
Issue is fixed. Please verify & close

[2019-01-29 13:16] lukaschal commented on #49
Fixed.

SRC Grammar

TGT: 文章校正
New TGT: 文法

[2019-01-30 06:35] Raydir opened #50 "German language Pack 1.31.1: Translations in menu are partly gone"
Hi there

I just mentioned, that several Points in the menubar are not translated anymore?

![image](https://user-images.githubusercontent.com/17499573/51962767-9020b100-2461-11e9-8a78-dafc55c9e63a.png)

I did mention this in "Insider-Build" because i tried to press Ctrl+O to open a "Folder" (was configured like that before)

[2019-01-30 07:14] EbXpJ6bp opened #51 "[ja] orthographical variants"
「ターミナル」「端末」 (original: terminal) have the same meaning, but different written forms.
I would recommend 「ターミナル」. Because "Integrated Terminal" is known as 「統合ターミナル」.

[code]

[2019-01-30 07:48] EbXpJ6bp opened #52 "[ja] "{0} of {1}" is mistranslated into "{1} の {0}""
This string indicates the number of the current search match.

2018:
https://github.com/Microsoft/vscode-loc/blob/17374fc8e0c85e80193610dfdc7f04d38002bbfc/i18n/vscode-language-pack-ja/translations/main.i18n.json#L667

2019:
https://github.com/Microsoft/vscode-loc/blob/2b0238ec21fa11d40eccc9356b22e8227fd9ac10/i18n/vscode-language-pack-ja/translations/main.i18n.json#L549

![86d4dd25059ad6850d5e645f2

[2019-01-30 08:06] EbXpJ6bp opened #53 "[ja] "extension" is mistranslated into "拡張子""
[code]
The following strings should be 「拡張機能」:

https://github.com/Microsoft/vscode-loc/blob/2b0238ec21fa11d40eccc9356b22e8227fd9ac10/i18n/vscode-language-pack-ja/translations/main.i18n.json#L1144

https://github.com/Microsoft/vscode-loc/blob/2b0238ec21fa11d40eccc9356b22e8227fd9ac10/i18n/vscode-language-pack-ja/translations/main.i18n.json#L1685

https://github.com/Microsoft/vscode-loc/blob/2b0238e

[2019-01-30 11:07] lukaschal commented on #49
@mandel59 Please verify and close.

[2019-01-30 11:41] lukaschal commented on #52
On review.

[2019-01-30 11:45] lukaschal commented on #53
On review.

[2019-01-30 13:23] lukaschal commented on #50
Due to some merging issues, these menu items needs to be retranslated. Working on solution.

[2019-01-30 13:36] Raydir commented on #50
Hey @lukaschal  thanks for your answer

[2019-02-01 11:11] lukaschal commented on #51
All instances fixed as suggested.

[2019-02-01 11:13] lukaschal commented on #52
Fixed as suggested.

[2019-02-01 11:17] lukaschal commented on #53
Linguistic answer:

拡張子 (TS 335612) is used to refer to "file name extension"  while 拡張機能 (TS 2281655) is for  "extended functionality". Both targets should be appropriately used based on contexts.

[2019-02-01 11:32] lukaschal commented on #53
Fixed as suggested.

[2019-02-04 06:18] #44 closed

[2019-02-05 13:07] EbXpJ6bp commented on #53
Thank you! (#51 #52 #53 )

[2019-02-05 13:07] #53 closed

[2019-02-05 13:07] #52 closed

[2019-02-05 13:08] #51 closed

[2019-02-09 03:44] sxyugao opened #55 "Escape character problem"
Issue Type: <b>Bug</b>

![](https://i.loli.net/2019/02/09/5c5e4b2137e00.png)

Extension version: 1.31.4
VS Code version: Code 1.31.0 (7c66f58312b48ed8ca4e387ebd9ffe9605332caa, 2019-02-05T22:35:56.624Z)
OS version: Windows_NT x64 10.0.17763

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Core(TM) i5-5200U CPU @ 2.20GHz (4 x 2195)|
|GPU Status|2d_canvas: enabled<br>c

[2019-02-09 05:50] zwuis opened #56 "translation suggestion"
https://github.com/Microsoft/vscode-loc/blob/41463450f8dcdc3872182b3f8247b11c74106bfe/i18n/vscode-language-pack-zh-hans/translations/main.i18n.json#L723

Maybe it's better:
[code]

[2019-02-09 06:02] zwuis commented on #56
https://github.com/Microsoft/vscode-loc/blob/41463450f8dcdc3872182b3f8247b11c74106bfe/i18n/vscode-language-pack-zh-hans/translations/main.i18n.json#L790

[code]

[2019-02-09 06:06] zwuis commented on #56
https://github.com/Microsoft/vscode-loc/blob/41463450f8dcdc3872182b3f8247b11c74106bfe/i18n/vscode-language-pack-zh-hans/translations/main.i18n.json#L791

[code]

[2019-02-11 14:34] lukaschal commented on #55
String is localized correctly according to source in a MLCP nad GitHub.

https://github.com/Microsoft/vscode-loc/blob/9726190550e64767ae816dd3752b16605b8380a4/i18n/vscode-language-pack-zh-hans/translations/main.i18n.json

[2019-02-11 16:08] mandel59 commented on #49
I verified the change has been applied. Thank you😁

[2019-02-11 16:08] #49 closed

[2019-02-12 06:18] Joelism commented on #55
``&&`` here denotes a mnemonic, doesn't need escaping.
It' MCLP that needlessly escaped `&&`, making translators and machine translation confused.
After referring to original source, I added mnemonics and tweaked some translations here.

Source:
https://github.com/Microsoft/vscode-loc/blob/41463450f8dcdc3872182b3f8247b11c74106bfe/i18n/vscode-language-pack-zh-hans/translations/main.i18n.json#L422-L

[2019-02-12 08:44] lukaschal commented on #56
On review.

[2019-02-12 09:57] lukaschal commented on #55
Fixed in a MLCP.

下一个问题(&amp;&amp;P)
以前的问题(&amp;&amp;P)
创建桌面图标(&amp;&amp;D)

[2019-02-12 10:04] sxyugao commented on #55
So what about the problem in the picture?

[2019-02-13 03:53] initialdmg opened #58 "转到行列翻译出现字符&amp;"
Issue Type: <b>Bug</b>

菜单：
转到 -> 转到`&amp;&amp;`行/列...

Extension version: 1.31.4
VS Code version: Code 1.31.1 (1b8e8302e405050205e69b59abb3559592bb9e60, 2019-02-12T02:20:54.427Z)
OS version: Windows_NT x64 6.1.7601

[2019-02-13 03:58] initialdmg commented on #58
https://github.com/Microsoft/vscode-loc/blob/41463450f8dcdc3872182b3f8247b11c74106bfe/i18n/vscode-language-pack-zh-hans/translations/main.i18n.json#L4014

[code]
 应该是这里

[2019-02-13 06:34] Joelism commented on #55
SRC:
https://github.com/Microsoft/vscode-loc/blob/41463450f8dcdc3872182b3f8247b11c74106bfe/i18n/vscode-language-pack-zh-hans/translations/main.i18n.json#L4014
NEW:
`"miGotoLine": "转到行/列(&&L)..."`

@lukaschal This one is not mentioned in your comment.

Additionally,
https://github.com/Microsoft/vscode-loc/blob/41463450f8dcdc3872182b3f8247b11c74106bfe/i18n/vscode-language-pack-zh-hans/translations/m

[2019-02-15 13:44] lukaschal commented on #58
@initialdmg  Localized this way in a MLCP. Is it correct ?

SRC:	Go to &&Line/Column...
TGT:	转到行/列(&amp;&amp;L)...

[2019-02-15 13:52] lukaschal commented on #55
On review.

miGotoPreviousProblem

SRC: Previous &amp;&amp;Problem
TGT: 以前的问题(&amp;&amp;P)

[2019-02-15 14:35] qcz opened #61 "MLCP localization problem"
I've tried to continue to localize VS Code to Hungarian on the new MLCP site. I got over the fact that this platform is sub par in every possible aspect as a localization tool compared to Transifex: no easy way to view already localized strings, search for text and expressions in the full localized and non-localized sources, no sub groups, no information about who the translation comes from, and n

[2019-02-18 01:11] initialdmg commented on #58
![default](https://user-images.githubusercontent.com/22365060/52922573-0a579d80-335d-11e9-986a-7b5b7381ed3d.png)

Yes! :+1:

[2019-02-18 03:34] satoushina opened #62 "[ja] "no open repo" is mistranslated into "ソース管理プロバイダーが登録されていません。""
The following strings should be "フォルダーやワークスペースが開かれていません。"
https://github.com/Microsoft/vscode-loc/blob/41463450f8dcdc3872182b3f8247b11c74106bfe/i18n/vscode-language-pack-ja/translations/main.i18n.json#L4109

Original: "ソース管理プロバイダーが登録されていません。" means that "Any Prividers are registered".
Proposal: "フォルダーやワークスペースが開かれていません。" means that "No Folders or workspaces hasn't opened yet".

[2019-02-18 08:57] lukaschal commented on #62
On review.

[2019-02-18 09:05] lukaschal commented on #62
It seems ResourceID "no open repo" is confusing in this case. Source for translation "ソース管理プロバイダーが登録されていません。" is "No source control providers registered." so it is correct.

[2019-02-18 09:10] lukaschal commented on #50
@Raydir Please verify this on latest version and let us know.

[2019-02-18 13:13] Raydir commented on #50
@lukaschal  at the moment the whole "file" aka "Datei" Menu is completely in english.... even "Neue Datei" is "new file" now.

My specs:

*German Language Pack for Visual Studio Code:* 1.31.4

[2019-02-18 14:32] lukaschal commented on #56
Fixed.

SRC:	Please restart VS Code before reinstalling {0}.
Correct TGT:	请在重新安装{0}之前重新启动 VS Code。

SRC:	Unable to install extension '{0}' as it is not compatible with VS Code '{1}'.
Correct TGT:	无法安装扩展名'{0}'，因为它不兼容 VS Code '{1}'。

SRC:	Indent Using Tabs
TGT:	使用 "Tab" 缩进

[2019-02-19 13:14] lukaschal commented on #62
@satoushina Please confirm translation of sentence "No source control providers registered." is correct and close this issue.

[2019-02-19 15:22] lukaschal commented on #55
Fixed as suggested in a MLCP.

SRC: Previous &&Problem
New TGT: 上一个问题(&amp;&amp;P)

[2019-02-20 07:27] satoushina commented on #62
Thank you. I confused. In this case, translation is correct.
This massage is now displayed when both no folders opened and a folder is not initialized yet.
In case when
1-- a folder is not initialized yet    then shown this massage    "Ok,

[2019-02-20 08:00] satoushina commented on #62
Thank you. I confused. In this case, the translation is correct.
This massage is now displayed when both no folders opened and a folder is not initialized yet.
In case when
1-- a folder is not initialized yet -- then shown this massage -- "Ok, I'll register(initialize) and creat repo."
2-- no folders opened               -- then shown this massage -- "What could I do???"
I dropped into 2nd case. T

[2019-02-20 08:00] #62 closed

[2019-02-22 08:30] qcz commented on #61
@janbaltus, @shawndon: The radio silence is worrying. Should I just translate JSON files and send PRs or should I forget any meaningful localization?

[2019-02-22 09:13] janbaltus commented on #61
Please do not translate json directly. It would be overwritten by MLCP next export.
For Tool Feedback @shawndon please.

[2019-02-22 09:25] janbaltus commented on #61
regarding the Suggestion to add it is possible and I tried just now to add third suggestion to string.
In some browsers submit button do not work correctly please try Ctrl+Right arrow for submit.
If you still face this issue please make a screenshot of error message from the top of the page.

[2019-02-25 13:47] #58 closed

[2019-03-01 11:42] d0vi opened #65 "[es] Unicode characters not displaying properly"
Hi! I am using VSCode 1.31.1 and the Spanish Language Pack on Windows 10.

Some characters like `´` and `¿` are missing from this language pack version. Some screenshots:

![imagen](https://user-images.githubusercontent.com/24238283/53636107-5e953400-3c1f-11e9-81eb-e0a6bb810e15.png)

![imagen](https://user-images.githubusercontent.com/24238283/53636042-2db4ff00-3c1f-11e9-9c85-39b35c01ae9a.png)

[2019-03-01 21:16] ulziibay opened #66 "Support for community supported locale MN"
https://envelope-community-staging.azurewebsites.net/ does not give any insight into how to create a new community-supported language pack. Specifically my questions are:

1. What is the requirement?
2. How to create a minimum language pack?
3. What support is expected from the community vs MS localization team?

Thank you.

[2019-03-03 07:57] zwuis commented on #56
https://github.com/Microsoft/vscode-loc/blob/de4779977246828feb2ee0561f21e8a3b21cf5fc/i18n/vscode-language-pack-zh-hans/translations/main.i18n.json#L2581

[code]

[2019-03-03 08:03] zwuis commented on #56
https://github.com/Microsoft/vscode-loc/blob/de4779977246828feb2ee0561f21e8a3b21cf5fc/i18n/vscode-language-pack-zh-hans/translations/main.i18n.json#L2884

[code]

[2019-03-04 10:24] lukaschal commented on #56
Fixed as suggested in a MLCP.

"launch": "全局调试启动配置。应当作为跨工作区共享的 \"launch.json\" 的替代方法。",

[2019-03-04 10:46] lukaschal commented on #56
Fixed as suggested in a MLCP.

"expression": "表达式",

[2019-03-04 12:38] janbaltus commented on #65
This issue got fixed in LP 1.32.3.

[2019-03-04 12:38] #65 closed

[2019-03-04 12:40] janbaltus commented on #66
Please see documentation https://github.com/Microsoft/Localization/wiki/How-to-request-a-new-UI-language-for-VS-Code-project

[2019-03-04 15:55] d0vi commented on #65
I am still sitting on v1.31.4, why does this LP doesn't update?

[2019-03-04 16:57] janbaltus commented on #65
It is only for insiders build.

Please wait till next release for this fix unless you use insiders version of Vscode https://code.visualstudio.com/insiders/

[2019-03-04 23:41] shawndon commented on #48
Are you still having issues with the new version of Visual Studio Code. Could you check another language to see if this is Korean specific?

[2019-03-05 13:29] lukaschal commented on #55
@Joelism Please verify and close.

[2019-03-07 23:01] #41 closed

[2019-03-08 06:22] #55 closed

[2019-03-09 07:18] zwuis commented on #56
https://github.com/Microsoft/vscode-loc/blob/8a64ae3be724f9554e110f42a961d75fe7cfc68b/i18n/vscode-language-pack-zh-hans/translations/main.i18n.json#L3067
[code]
<HR>

https://github.com/Microsoft/vscode-loc/blob/8a64ae3be724f9554e110f42a961d75fe7cfc68b/i18n/vscode-language-pack-zh-hans/translations/main.i18n.json#L3224
[code]
<HR>

https://github.com/Microsoft/vscode-loc/blob/8a64ae3be724f9554e110

[2019-03-11 13:15] lukaschal commented on #50
@Raydir Fixed on version mentioned below.

![image](https://user-images.githubusercontent.com/18324331/54126490-f822c980-4407-11e9-8aa1-48131b4238fd.png)

[2019-03-11 13:21] Raydir commented on #50
Thank you @lukaschal 👍

[2019-03-11 13:21] #50 closed

[2019-03-11 18:59] shawndon commented on #61
@qcz  Thank you very much for your feedback on the MLCP service. Some of the points you mention have already raised internally, but getting this feedback from the actual users helps to validate the usage scenarios and the asks. We will log these requests and issues, which will be prioritized by our developer/engineering team.

This migration cannot be reverted, but we hope it will not be completel

[2019-03-11 18:59] #61 closed

[2019-03-14 02:29] fernandoval opened #69 "Bad brazilian portuguese translation"
Multiple menu items with incomplete translation and double &

![image](https://user-images.githubusercontent.com/8930605/54327130-c8cab300-45e7-11e9-9409-bb9473f33a2e.png)

[2019-03-15 01:26] ferrelll commented on #69
I'm having the exact same problem for some time. I've been using it without the localization since. It would be awesome to have this fixed!

[2019-03-18 11:27] lukaschal commented on #69
All these erros are fixed in a MLCP platform now.

[2019-03-18 13:05] #66 closed

[2019-03-18 13:06] #47 closed

[2019-03-19 08:35] lukaschal commented on #56
On review.

[2019-03-21 08:12] LMZ666 opened #74 "not compatible with VS Code '1.32.3'"

[2019-03-22 11:19] lukaschal commented on #56
Fixed as suggested in a MLCP platform.

[2019-03-27 09:46] EbXpJ6bp opened #76 "[ja] translation mistake"
https://github.com/Microsoft/vscode-loc/blob/6684a29cead0bd74692a759173441b0438682d02/i18n/vscode-language-pack-ja/translations/extensions/git.i18n.json#L245

無視してコミット

[2019-03-27 11:31] lukaschal commented on #76
On review.

SRC: Commit Anyway
TGT: とにかくコミットする

[2019-03-27 13:25] EbXpJ6bp opened #77 "[ja] update syntax of mnemonic"
Can you replace with `\((&[\w])\)` ->`(&$1)`?

`(&[\w])` style seems no longer supported.

![4f4d3b66f5922a3afaae34a6ef8ab76a](https://user-images.githubusercontent.com/8474118/55079274-2f1efd80-50df-11e9-904d-4820b8450565.png)

[2019-03-28 11:16] opamine commented on #74
important

[2019-03-29 10:36] janbaltus commented on #77
We are implementing fix for this issue and fix will be present in 1.33 LP release.

[2019-03-29 11:19] lukaschal commented on #77
Fixed in a MLCP platform now.

[2019-03-29 11:29] lukaschal commented on #76
Fixed as suggested in a MLCP platform.

[2019-03-30 03:15] EbXpJ6bp opened #78 "[ja] translation suggestion"
https://github.com/Microsoft/vscode-loc/blob/22cde702f37dbee8b82adb6200e1047091a417e4/i18n/vscode-language-pack-ja/translations/main.i18n.json#L457

[code]

---

|before|after|
|---|---|
|![ccd77ad6fa0a513000048141cb064c63](https://user-images.githubusercontent.com/8474118/55270551-6a8a1980-52e3-11e9-9c9c-b566e61cb8d6.png)|![ba398ec6cd6d81197d70b5aa0fb277ad](https://user-images.githubusercontent.c

[2019-03-30 11:20] opamine commented on #74
？？？？？？

[2019-03-30 11:21] opamine commented on #74
没有人解决一下么

[2019-03-30 11:33] errlot commented on #74
Via https://marketplace.visualstudio.com/items?itemName=MS-CEINTL.vscode-language-pack-zh-hans#review-details

你可以下载 https://marketplace.visualstudio.com/_apis/public/gallery/publishers/MS-CEINTL/vsextensions/vscode-language-pack-zh-hans/1.32.2/vspackage

[2019-04-01 11:33] lukaschal commented on #78
On review.

[2019-04-01 16:31] lqzhgood opened #81 "[zh-cn] Translation errors occurrencesHighlight"
Setting -> occurrencesHighlight

now

以上翻译有些莫名其妙 【语义符号次数】 是什么？

应该翻译为

**When Double Click "name"**

` "editor.occurrencesHighlight": true,`
![image](https://user-images.githubusercontent.com/9134671/55343458-ba343500-54dd-11e9-9c19-bd0696445b1e.png)

` "editor.occurrencesHighlight": false,`
![image](https://user-images.githubusercontent.com/9134671/55343558-ed76c400-54dd-11e9-9bdd-be1f7ae5b653.pn

[2019-04-01 16:32] lqzhgood commented on #81
by the way ,
When "editor.occurrencesHighlight": true,
How do I change the backgourn color of "user"

[2019-04-01 19:05] rodriggodasilva opened #82 "What is the function &&?"
I would like to help with the translation, but I noticed that in several places of the code there is "&&" in the middle of the words. I wonder if it's mandatory or can I just leave the words?

Example original code:

"actions.clipboard.cutLabel": "Recortar",
"miCut": "Cu&&t",
"actions.clipboard.copyLabel": "Copiar",
"miCopy": "&&Copiar",
"actions.clipboard.pasteLabel": "Colar",
"miPaste": "&&Colar

[2019-04-02 06:51] errlot commented on #81
原文(Source): Controls whether the editor should highlight semantic symbol occurrences.
行为(Behavior):
<img src="https://user-images.githubusercontent.com/14136385/55379658-5a2aa680-5550-11e9-9782-2fe93f0b4dfb.png" width="500">
我选中的是红框中的 `Context`，所有包含它的词(语义符号, ExtensionContext)的匹配项均高亮。
I selected `Context` within the red box, and all occurences of its semantic symbol (ExtensionContext) are highlight

[2019-04-02 11:08] lukaschal commented on #82
"&&" represents hotkey/shortcut in a localized version of product. Without these characters in a target strings shortcuts cannot be used.

[2019-04-02 11:15] lukaschal commented on #81
On review.

SRC:	Controls whether the editor should highlight semantic symbol occurrences.
TGT:	控制编辑器是否突出显示语义符号次数。

[2019-04-02 15:14] rodriggodasilva commented on #82
Thank you for the explanation.

[2019-04-02 15:17] #82 closed

[2019-04-03 01:19] lqzhgood commented on #81
// 由于是中文翻译相关，就直接写中文了。

我仔细研究了一下 好像和上面的认知都不一样。

@errlot
`occurrencesHighlight` 这个选项和你描述的不一致。

不是 同文件 中所有匹配的 词 均高亮。而是仅作用于选中位置的 “词”

`occurrencesHighlight:true` 这个选项会造成两种效果
- **单击** 的位置如果是一个 词， 高亮这个 词
-  如果一个词（user_name）被选中其中的一部分
   - 选中的部分是 **单词** 或其中一部分（name 或者 n 或者 ame），高亮整个词，无论这个词是 *驼峰* *下划线* *横杆* 命名（ "userName" "user_name" "user-name"）。
    - 如果选中的部分包含 **标点符号**（er-na 或者 er_na ），不高亮整个词

为了排除插件影响，

[2019-04-03 01:27] lqzhgood commented on #81
[code]
Can't use

![1](https://user-images.githubusercontent.com/9134671/55446526-97477500-55f2-11e9-87bd-3f1c76bddc92.jpg)

`name` is selected,  `user` not red

[2019-04-03 01:46] errlot commented on #81
@lqzhgood 这个是有语义的
![image](https://user-images.githubusercontent.com/14136385/55446793-ba265900-55f3-11e9-8c9b-9b5798a86f99.png)

另外高亮颜色那个，是我搞错了，他们区分了读访问和写访问，你要改的话要两个都得改
[code]
更多的，去他们的官网看吧(https://code.visualstudio.com/api/references/theme-color)

[2019-04-04 11:27] lukaschal commented on #81
Translated this way in a MLCP now.

SRC:	Controls whether the editor should highlight semantic symbol occurrences.
TGT:	控制编辑器是否突出显示语义符号的匹配项。

[2019-04-05 05:39] EbXpJ6bp commented on #77
Some text remains:

https://github.com/Microsoft/vscode-loc/blob/94a7bfabcf0239d89aa9879fb7964670b483b953/i18n/vscode-language-pack-ja/translations/main.i18n.json#L2174

https://github.com/Microsoft/vscode-loc/blob/94a7bfabcf0239d89aa9879fb7964670b483b953/i18n/vscode-language-pack-ja/translations/main.i18n.json#L2469

https://github.com/Microsoft/vscode-loc/blob/94a7bfabcf0239d89aa9879fb7964670b48

[2019-04-05 05:41] EbXpJ6bp commented on #76
Thank you!

[2019-04-05 05:41] #76 closed

[2019-04-05 10:43] lukaschal commented on #78
Fixed in MLCP platform.

[2019-04-08 07:59] lukaschal commented on #77
Fixed in a MLCP platform now.

[2019-04-08 08:19] errlot opened #84 "Suggestion: sort content of *.i18n.json files"
The diff of a *.i18n.json file in a commit is not all about translation changes, sometimes it's just some objects inside `contents` object changing their positions.
I'd love to see translation changes more clearly, please sort the content of those files.

[2019-04-10 03:10] danyeh commented on #84
@dbaeumer , could you please comment on this?
I noticed same for diff scenario. It is not a product blocker.

[2019-04-10 08:32] dbaeumer commented on #84
I am not sure if the repository is the right place to look at this. Shouldn't the translation tooling support these diffs on a translation level. The vscode-loc repository is only a publishing vehicle to my understanding.

[2019-04-12 01:28] strangegt opened #86 "Shortcut description for Mac"
Hi
In description, the shortcut for change the language Ctrl+Shift+P dont work on MacOS
Must be Cmd+Shift+P

[2019-04-12 11:58] hd321kbps opened #87 "[ru] Extra characters && in keyboard shortcuts"
Extra characters && in keyboard shortcuts.
Version: 1.33.1 (system setup)
OS: Windows_NT x64 10.0.17763
![vs](https://user-images.githubusercontent.com/9886849/56035608-4e4e9980-5d33-11e9-9b01-acb842e13493.png)

[2019-04-15 09:54] lukaschal commented on #87
Fixed in a MLCP platform.

[2019-04-15 13:43] hd321kbps commented on #87
Link please

[2019-04-16 08:27] #69 closed

[2019-04-25 10:41] kingphoenix2000 commented on #56
[https://github.com/Microsoft/vscode-loc/blob/8a64ae3be724f9554e110f42a961d75fe7cfc68b/i18n/vscode-language-pack-zh-hans/translations/main.i18n.json#L4148](https://github.com/Microsoft/vscode-loc/blob/8a64ae3be724f9554e110f42a961d75fe7cfc68b/i18n/vscode-language-pack-zh-hans/translations/main.i18n.json#L4148)

"miGotoNextChange": "下一个更新(&&C)",

should be :

"miGotoNextChange": "下一个更改(&&C)",

and l

[2019-04-30 12:26] zwuis commented on #56
Explanation of the last comment:

https://github.com/Microsoft/vscode-loc/blob/373fec463c88f44baa7fd0c879a916b05da9bb69/i18n/vscode-language-pack-zh-hans/translations/main.i18n.json#L4307
[code]
<HR>
@kingphoenix2000 where is Line 6837?

[2019-04-30 12:36] zwuis commented on #56
https://github.com/Microsoft/vscode-loc/blob/373fec463c88f44baa7fd0c879a916b05da9bb69/i18n/vscode-language-pack-zh-hans/translations/main.i18n.json#L3075
[code]
<HR>

https://github.com/Microsoft/vscode-loc/blob/373fec463c88f44baa7fd0c879a916b05da9bb69/i18n/vscode-language-pack-zh-hans/translations/main.i18n.json#L4755
[code]
<HR>

https://github.com/Microsoft/vscode-loc/blob/373fec463c88f44baa7fd

[2019-05-01 02:08] kingphoenix2000 commented on #56
I mean there are 2  "miGotoNextChange"  items, they all should be "下一个更改(&&C)",you can search the whole json file.
[https://github.com/Microsoft/vscode-loc/blob/8a64ae3be724f9554e110f42a961d75fe7cfc68b/i18n/vscode-language-pack-zh-hans/translations/main.i18n.json#L6837](https://github.com/Microsoft/vscode-loc/blob/8a64ae3be724f9554e110f42a961d75fe7cfc68b/i18n/vscode-language-pack-zh-hans/translati

[2019-05-03 11:43] MaximeLighter commented on #74
Working on VScode v1.33.1 with extension version 1.33.0.
Like @errlot say you can use api link, try https://marketplace.visualstudio.com/_apis/public/gallery/publishers/MS-CEINTL/vsextensions/vscode-language-pack-fr/1.33.0/vspackage

;)

[2019-05-07 10:04] #77 closed

[2019-05-08 02:08] Sun-VanillaSky opened #88 "如何下载到1.33.1版本"
我下载的vscode 和语言包（离线的）版本不对应，安不上

[2019-05-13 12:58] KaMingChung commented on #56
https://github.com/microsoft/vscode-loc/blob/release/1.33/i18n/vscode-language-pack-zh-hans/translations/extensions/git.i18n.json#L198
`"create branch from": "$(plus) 创建新的分支机构...",`
↓
`"create branch from": "$(plus) 从现有来源创建新的分支...",`

[2019-05-14 07:31] lukaschal commented on #78
@EbXpJ6bp  Please verify and close

[2019-05-14 10:44] EbXpJ6bp commented on #78
@luabud Please re-check `miGotoPreviousProblem`

https://github.com/microsoft/vscode-loc/blob/d7382c4e21503acf8f184d752890d046fdb5802a/i18n/vscode-language-pack-ja/translations/main.i18n.json#L523

![](https://user-images.githubusercontent.com/8474118/57691996-9b9a8f80-7680-11e9-9fbe-4250f7bc4f4d.png)

[2019-05-15 02:56] nanasama commented on #88
The prompt message is “Unable to install extension 'ms-ceintl.vacode-language-pack-zh--hans' as it is not compatible width VS Code '1.33.1'.”

[2019-05-15 02:58] nanasama opened #89 "@Sun-VanillaSky Please could you provide your feedback in a english and add some screenshots ?"
The prompt message is “Unable to install extension 'ms-ceintl.vacode-language-pack-zh--hans' as it is not compatible width VS Code '1.33.1'.”

[2019-05-15 04:23] luabud commented on #78
I'm sorry, is it possible that you may have tagged the wrong person?

[2019-05-15 06:59] EbXpJ6bp commented on #78
@luabud I am sorry for mistakenly having sent the mention to you.

[2019-05-16 01:56] Sun-VanillaSky commented on #88
how to down 1.33.1 version ？

Now I have solved this problem，just change version code in download url to 1.33.1.

[2019-05-16 02:02] Sun-VanillaSky commented on #89
Thanks! how to download 1.33.1 version .vsix.
But now I have solved this problem.
Just change version code in download url to 1.33.1.

I think my english is very pool

[2019-05-17 00:05] danyeh commented on #84
Thank you @errlot for your suggestion! Since Dirk mentioned won't invest on sorting of translation in langauge pack json file. I close this issue here.

[2019-05-17 00:05] #84 closed

[2019-05-17 00:10] danyeh commented on #88
Glad to know you have sorted out the solution.
https://marketplace.visualstudio.com/_apis/public/gallery/publishers/MS-CEINTL/vsextensions/vscode-language-pack-zh-hans/1.33.1/vspackage

[2019-05-17 00:10] #88 closed

[2019-05-18 00:02] danyeh commented on #48
I close the issue here. If you still repro the issue, please open in vscode repo. This vscode-loc only deal with translation issue.

[2019-05-18 00:02] #48 closed

[2019-05-21 08:53] lukaschal commented on #78
Translated as "前の問題箇所(&&P)" now in a MLCP platform.

[2019-05-27 04:07] zsynacl opened #90 "[zh-cn] translation of git commands is not correct"
![图片](https://user-images.githubusercontent.com/4392800/58394830-d258a880-8077-11e9-91f4-39f81d7e6d29.png)
![图片](https://user-images.githubusercontent.com/4392800/58395015-c1f4fd80-8078-11e9-876b-941ff4500e3c.png)
1. 条目对应错误。commit staged和commit staged(Amend)对应的中文顺序错了
2. signed off是“签名”的意思。这里应该翻译为“提交（并添加签名）”

[2019-05-27 04:11] zsynacl commented on #90
另外，有如下准确性问题：
- commit All(Amend)  ：提交(修改上次提交)
- commit staged(Amend) 提交已暂存文件（修改上次提交）

[2019-05-28 08:06] slydor opened #91 "[german/de] Misleading translation: 'Not enough space to split terminal'"
The notification hint 'Not enough space to split terminal.' is translated in german with "Nicht genügend Speicherplatz zum Aufteilen des Terminals vorhanden.".

The term "Speicherplatz" is not correct here. The hint want to suggest the user should resize his vs code window to have more space for the terminal. Instead the german reader understands, he would need more memory (RAM) in order to split

[2019-05-29 08:44] lukaschal commented on #91
On review.

[2019-05-30 11:12] lukaschal commented on #91
Fixed.

New TGT: Nicht genügend Platz auf dem Bildschirm zum Aufteilen des Terminals vorhanden.

[2019-05-30 11:22] lukaschal commented on #56
Fixed.

ENU: Next &amp;&amp;Change
CHS: 下一个更改(&amp;&amp;C)

[2019-06-01 12:38] hd321kbps commented on #87
1.34.0 fixed

[2019-06-01 12:38] #87 closed

[2019-06-11 08:54] lukaschal commented on #90
Fixed.

src: Commit Staged (Amend)
new tgt: 提交已暂存文件(修改)

[2019-06-19 04:56] gumingqi commented on #74
Unable to install extension 'ms-ceintl.vscode-language-pack-zh-hans' as it is not compatible with VS Code '1.35.1'.

[2019-06-25 06:43] #91 closed

[2019-06-25 06:43] #90 closed

[2019-06-25 06:44] #78 closed

[2019-06-27 09:09] laomao01 opened #95 "How to download version 1.35.1 of Chinese (Simplified) Language Pack?"
I don't know how to download other version of Chinese (Simplified) Language Pack.
Version 1.36.1 of Chinese (Simplified) Language Pack Could not setup on my machine.

[2019-06-30 06:44] linsui commented on #56
https://github.com/microsoft/vscode-loc/blob/94a7bfabcf0239d89aa9879fb7964670b483b953/i18n/vscode-language-pack-zh-hans/translations/main.i18n.json#L62-L63

[code]

[2019-07-01 10:33] janbaltus commented on #95
You would need to use Insider version of VSCode.
Official release of 1.36 version will be during this week.

[2019-07-01 10:33] #95 closed

[2019-07-13 14:55] nai62 opened #96 "Wrong Japanese translation of "deleteAllLeft""
Issue Type: <b>Bug</b>

The Japanese translation of `deleteAllLeft` in Keyboard Shortcuts is "残りをすべて削除する", which literally means "delete everything that remains," a clear mistranslation of the word "left." For consistency with `deleteAllRight` ("右側をすべて削除"), this should be "左側をすべて削除".

Extension version: 1.36.2
VS Code version: Code 1.36.1 (2213894ea0415ee8c85c5eea0d0ff81ecc191529, 2019-07-08T22:59

[2019-07-15 12:12] gitoni opened #97 "[vscode-remote][de] Tippfehler: Remoteverbindung scließen"
Issue Type: [bug][typo]
Language: German [de]
Extension: [vscode-remote]

Wenn ich eine SSH Verbindung geöffnet habe und diese schließen möchte, gibt es neuerdings den Eintrag
Datei->Remoteverbindung scließen
super, das fehlte noch in der letzen Version!

In der Deutschen Version hat es noch einen Tippfehler: "scließen" statt "schließen"

Extension version: 0.44.0
VS Code version: Code 1.36.0 (0f3

[2019-07-15 12:24] zwuis commented on #56
@lukaschal
@janbaltus
Please fix it.

[2019-07-15 13:08] lukaschal commented on #56
Fixed as suggested in a MLCP.

[2019-07-16 13:13] lukaschal commented on #97
"scließen" not occurs in a translated strings in a MLCP platform for now.

[2019-07-16 13:19] lukaschal commented on #96
Fixed as suggested in a MLCP:

[2019-07-19 11:10] #97 closed

[2019-07-25 07:15] yhvicey commented on #42
I guess he/she means language packages' name should be in their target language, like “中文语言包" for Chinese language package. 😄

[2019-08-01 00:29] weeteckt commented on #42
The readme associated with each language pack is already translated to help Russian speakers understand the language pack in greater details.

[2019-08-01 00:29] #42 closed

[2019-08-01 00:31] weeteckt commented on #96
New language pack is published.

[2019-08-01 00:31] #96 closed

[2019-08-01 00:31] #89 closed

[2019-08-01 00:33] #81 closed

[2019-08-01 00:37] weeteckt commented on #74
please re-open issue if you are still facing the same problem.

[2019-08-01 00:37] #74 closed

[2019-08-16 07:06] MuTsunTsai opened #99 "不一致翻譯：延伸模組 vs 擴充功能"
在繁體中文版中，「extension」這個字有兩種翻法存在：「延伸模組」和「擴充功能」，前者出現超過 250 次而後者超過 100 次。我個人認為兩種翻譯都可以接受，但是建議統一使用其中一種，不要混用。

[2019-08-20 09:56] lukaschal commented on #99
On review.

[2019-08-21 10:20] SetTrend opened #100 "German Language Pack version number doesn't match VS Code version number"
Latest Visual Studio Code version is 1.37.1. The German Language Pack version is 1.38.0 and cannot be used when downloaded for offline install via VSIX file.

[2019-08-22 09:10] janbaltus commented on #100
If you are using Vscode Insider you could use the 1.38.0 version.
For offical release please install extension from Extensions.
It will work with no issues.

[2019-08-22 14:18] SetTrend commented on #100
@janbaltus :

I'm working for a governmental customer where development machines have no Internet access.

So, I can neither install an "unsafe" Insider build nor can I install extensions from the Extensions panel. I need to install extensions manually, after having them downloaded from another machine and verified.

This situation is true for many development environments in high security environ

[2019-08-23 08:55] janbaltus commented on #100
@weeteckt the way we publish LP is this. 3x per release and before oficial release we publish 2 versions of LP.
I am not aware of option how to publish new version of LP and still be able to let user choose the old one.

[2019-08-23 15:27] weeteckt commented on #100
@SetTrend try this:

Ctrl+Shift+X
Right-Click on German Language Pack and you should see the option "Install Another Version..."

![LP_Version](https://user-images.githubusercontent.com/25108435/63604060-b9c93300-c57f-11e9-925d-22395ace09d0.PNG)

[2019-08-23 17:27] weeteckt commented on #100
@SetTrend

Alternatively, you could do this. Just modify the version to the one you need for example 1.37.5 as shown below.

https://marketplace.visualstudio.com/_apis/public/gallery/publishers/MS-CEINTL/vsextensions/vscode-language-pack-de/1.37.5/vspackage

[2019-08-24 12:58] zwuis commented on #56
https://github.com/microsoft/vscode-loc/blob/782f8135997bfcc259ed3d2c5f44b939fee76a84/i18n/vscode-language-pack-zh-hans/translations/main.i18n.json#L310

Maybe it's better:

```"suggest.filtered": "控制是否应从智能感知中筛选某些建议类型。建议类型的列表可以在这里找到： https://code.visualstudio.com/docs/editor/intellisense#_types-of-completions 。",```
<HR>

https://github.com/microsoft/vscode-loc/blob/782f8135997bfcc259ed3d2c5f44b93

[2019-08-27 04:04] SetTrend commented on #100
@weeteckt:

- Try to unplug your LAN cable and disconnect your WLAN, then retry your [first suggestion](#issuecomment-524358491)
  Please read [my previous comment](#issuecomment-523926698).
- Are you going to publish the appropriate version number along with each release of Visual Studio Code in the future? Otherwise your [second comment](#issuecomment-524397334) is not a solution to the issue.

[2019-08-27 10:59] tolibrozi opened #101 "How to create a new language pack for Visual Studio Code"

[2019-08-27 11:00] #101 closed

[2019-08-29 12:22] SetTrend commented on #100
Thank you @weeteckt . Yes your second suggestion worked as a remedy for me.

Do you want me to close this issue or to keep it open as a reminder?

[2019-08-30 09:57] lukaschal commented on #56
Fixed as suggested in a MLCP.

[2019-08-31 02:33] zwuis commented on #56
https://github.com/microsoft/vscode-loc/blob/6decd82c847851424577e945a40f9ea93f72b886/i18n/vscode-language-pack-zh-hans/translations/main.i18n.json#L1739-L1751
[code]

[2019-08-31 02:41] zwuis commented on #56
https://github.com/microsoft/vscode-loc/blob/6decd82c847851424577e945a40f9ea93f72b886/i18n/vscode-language-pack-zh-hans/translations/main.i18n.json#L2836
[code]

[2019-08-31 02:49] zwuis commented on #56
https://github.com/microsoft/vscode-loc/blob/6decd82c847851424577e945a40f9ea93f72b886/i18n/vscode-language-pack-zh-hans/translations/main.i18n.json#L4427
[code]

[2019-08-31 02:52] zwuis commented on #56
https://github.com/microsoft/vscode-loc/blob/6decd82c847851424577e945a40f9ea93f72b886/i18n/vscode-language-pack-zh-hans/translations/main.i18n.json#L840
[code]
<HR>

https://github.com/microsoft/vscode-loc/blob/6decd82c847851424577e945a40f9ea93f72b886/i18n/vscode-language-pack-zh-hans/translations/main.i18n.json#L842
[code]

[2019-09-03 12:44] lukaschal commented on #99
Approved change is replace 擴充功能 with 延伸模組.

[2019-09-04 20:30] MuTsunTsai opened #103 "All entries in the Git menu turns English in v.1.38.2 in Traditional Chinese"
As shown; it wasn't the case in v.1.38.1

![1](https://user-images.githubusercontent.com/39870664/64288898-cb560600-cf95-11e9-8d4c-78e52ae2d02e.png)

Also the "Message (Ctrl + Enter to commit on 'master')" at the input field and the "CHANGES" underneath it was never translated.

[2019-09-05 02:07] ckytx commented on #103
Chinese (Simplified) has same issue.
vscode version 1.38.0

[2019-09-05 03:00] MuTsunTsai commented on #103
@ckytx It works indeed, which would imply that the same issue applies to all extensions, not just Git, and perhaps to more languages than just Chinese. This would certainly require a quick fix.

[2019-09-05 12:57] janbaltus commented on #103
this is known issue and we are working on new LP.

[2019-09-05 12:58] janbaltus commented on #103
please see https://github.com/microsoft/Localization/issues/77

[2019-09-07 05:29] zhangzhonghe opened #104 "简体中文中，1053行翻译错误"
在简体中文版中，第1053行的“背景颜色”应该翻译成”前景颜色“。

[2019-09-07 16:55] guanshen871 opened #105 "Vscode 1.38.0 Git can not use Chinese Langue"
in the version 1.38.0  ,git ui can not use chinese langue. so what i should do ?

[2019-09-07 16:58] #105 closed

[2019-09-10 08:05] BeiYue1 opened #106 "git错误"
当安装中文语言包 用git pull/push会报错Missing or invalid credentials.，卸载此插件可以正常使用

[2019-09-11 06:46] xiaodeji opened #107 "Load or create bundle failed Error"
[Extension Host] Load or create bundle failed  Error: ENOENT: no such file or directory, open 'c:\Users\yanfa224\.vscode\extensions\ms-ceintl.vscode-language-pack-zh-hans-1.38.3\translations\extensions\extension-editing.i18n.json'
	at Object.openSync (fs.js:436:3)
	at Object.module.(anonymous function) [as openSync] (ELECTRON_ASAR.js:160:31)
	at Object.readFileSync (fs.js:341:35)
	at Object.export

[2019-09-11 11:08] janbaltus commented on #107
Please add reprosteps when the error occured and your version of Vscode.

[2019-09-11 11:08] janbaltus commented on #103
please use 1.38.3 version of LP

[2019-09-11 12:53] MuTsunTsai commented on #103
@janbaltus  v.1.38.3 is still the same; nothing changes in the Git menu.

[2019-09-12 01:23] missuor opened #108 "After selecting zh-cn, the SCM display language is (en) but not (zh-cn)"
[code]
Before:
extensions folder not exists in /xxx/.vscode/extensions/ms-ceintl.vscode-language-pack-zh-hans-1.38.3/translations/
![image](https://user-images.githubusercontent.com/4561294/64746418-04feb200-d53e-11e9-808a-c593a7c1cb1b.png)

ln -ns $HOME/.vscode/extensions/ms-ceintl.vscode-language-pack-zh-hans-1.38.3/translations/.build/extensions $HOME/.vscode/extensions/ms-ceintl.vscode-languag

[2019-09-12 01:44] nevertback commented on #108
我也遇到这个问题了，把/extensions文件夹从/.build拷出来就好了
![image](https://user-images.githubusercontent.com/4335773/64747481-bf43e880-d541-11e9-810e-979865bc9225.png)

[2019-09-12 05:48] ShawDanon commented on #108
mac版也是如此

[2019-09-14 03:55] zwuis commented on #104
Please speak English. @zhangzhonghe

[2019-09-16 02:59] tongtingting commented on #107
I also encountered this problem when I bundling extension
VSCode Version: 1.38.0 (also couple versions before)
OS Version: macOS Mojave 10.14.6
Steps to Reproduce:

Start VScode
bundling my extension
Does this issue occur when all extensions are disabled?: Yes

[2019-09-16 07:58] janbaltus commented on #107
Hi @dbaeumer can you please confirm this is comming from localization?

[2019-09-16 08:07] janbaltus commented on #106
Can you please add more info?
Screenshot, version of Vscode, LP.

[2019-09-16 09:15] #100 closed

[2019-09-16 10:24] DifficultNick commented on #107
@janbaltus, yes this error occurs only when I change display language on **not** `en`. When I change it back there is no errors.

[2019-09-16 10:50] dbaeumer commented on #107
@janbaltus this is caused by the language pack now having a unnecessary `.build` folder. The extension will fall back to English in this case.

[2019-09-16 18:15] janbaltus commented on #103
Please try 1.38.4 version where this issue is fixed.

[2019-09-16 18:15] #103 closed

[2019-09-17 07:46] janbaltus commented on #108
Fixed in 1.38.4 LP.

[2019-09-17 07:46] #108 closed

[2019-09-17 07:46] janbaltus commented on #107
Please verify in 1.38.4 LP

[2019-09-17 07:46] #107 closed

[2019-09-17 07:48] janbaltus commented on #104
Please provide English + screnshot from localized build

[2019-09-17 08:13] zhangzhonghe commented on #104
![TIM图片20190917160015](https://user-images.githubusercontent.com/38434641/65023197-eb59d200-d964-11e9-9f55-16fa23ccc333.png)
As shown, just a small error

[2019-09-17 12:16] MuTsunTsai commented on #103
Confirmed.

[2019-09-18 10:07] lukaschal commented on #104
Fixed in a MLCP.

[2019-09-19 09:59] lukaschal commented on #99
Implemented.

[2019-09-20 09:42] zwuis commented on #56
@lukaschal

[2019-09-23 09:22] lukaschal commented on #56
Correct in a MLCP, but incorrect in a json file.

[2019-09-23 11:24] janbaltus commented on #56
To escape "  by \" is  correct. This is the only way how to escape double quote.
Format of json is "resource id": "string"

I am also closing this issue.

[2019-09-23 11:24] #56 closed

[2019-09-24 08:41] #99 closed

[2019-09-24 08:42] #104 closed

[2019-10-03 09:52] bleutwo opened #113 "Remove name from list of contributors"
I would like to remove my name from the list of contributors, my name in the list is Sven Klaasen under the Dutch contributors.

[2019-10-08 08:48] CookieHCl opened #115 "Korean localization error"
Currently using Korean Language Pack for Visual Studio Code 1.38.4

-------------------------

**Korean Language Pack for Visual Studio Code**에 오타가 있습니다.
editor.**formatOnSaveTimeout** 설정 설명이

- 파일 저장 시 실행되는 서식 지정이 취소되기 전까의 제한 시간(밀리초)입니다.

라고 되어있는데

- 파일 저장 시 실행되는 서식 지정이 취소되기 전까**지**의 제한 시간(밀리초)입니다.

로 고쳐야 합니다.

-------------------------

There's a typo in **Korean Language Pack for Visual Studio

[2019-10-08 12:59] lukaschal commented on #115
Fixed as suggested in a MLCP.

[2019-10-10 17:11] goodnighteveryone opened #116 "the speed of downloading extension is too slow"
Issue Type: <b>Performance Issue</b>

I try to download java extension pack,but the speed of downloading is too slow,so what should I do to  improve speed?

Extension version: 1.39.3
VS Code version: Code 1.39.0 (9df03c6d6ce97c6645c5846f6dfa2a6a7d276515, 2019-10-09T06:58:04.439Z)
OS version: Windows_NT x64 10.0.17134
Remote OS version: Linux x64 4.14.105-19-0006

<details>
<summary>System Info</su

[2019-10-11 08:17] AlCalzone opened #117 "German translation for "open" in dialogs is nonsense"
https://github.com/microsoft/vscode-loc/blob/12060709a69f4d6953a0db580eaa7f9571cd10af/i18n/vscode-language-pack-de/translations/main.i18n.json#L1182

This was allegedly fixed in https://github.com/microsoft/vscode/issues/77267 but I still see the wrong translation here and in the latest version of VSCode.

/cc @lukaschal

[2019-10-14 09:50] lukaschal commented on #117
Fixed.

[2019-10-15 11:23] #113 closed

[2019-10-16 07:55] lukaschal commented on #106
@BeiYue1 Could you please provide some detailed info in english ?

[2019-10-17 10:50] janbaltus commented on #116
@goodnighteveryone  please log this request under https://github.com/Microsoft/vscode
This is repo for localization only.

[2019-10-17 10:50] #116 closed

[2019-10-17 11:08] #106 closed

[2019-11-01 03:51] echoix opened #122 "Typos in french main.i18n.json"
There are some typos in the already translated strings found in the file `i18n/vscode-language-pack-fr/translations/main.i18n.json`. Since it is a automatically generated file, I can't submit a pull request, I imagine there is another location where the database needs to be updated first.

1. `"editorOverviewRulerBorder": "Couleur de la bordure de la règle d'apperçu."` should be `"editorOverviewRu

[2019-11-05 14:08] lukaschal commented on #122
On review.

[2019-11-06 09:56] #117 closed

[2019-11-06 09:56] #115 closed

[2019-11-06 10:01] janbaltus opened #123 "JPN - Stash is not localized"
![image](https://user-images.githubusercontent.com/18324209/68288427-b0cb0680-0084-11ea-8bb0-57f4d97c5bd5.png)

[2019-11-06 10:49] lukaschal commented on #123
On review.

[2019-11-07 07:50] AlCalzone commented on #117
How long does it usually take until updated translations are included in a VSCode build? 1.39.2 does not have this fix yet.

[2019-11-07 10:39] janbaltus commented on #117
Please use 1.40.2 version of Language pack
![image](https://user-images.githubusercontent.com/18324209/68382045-2f8e7500-0153-11ea-814f-03c4e6357916.png)

[2019-11-07 11:09] AlCalzone commented on #117
Great!

[2019-11-11 12:59] lukaschal commented on #123
Localized now.

[2019-11-11 13:31] lukaschal commented on #122
Fixed as suggested.

[2019-11-11 13:56] echoix commented on #122
Should next time I need to suggest changes like this, in an issue, or make a pull request of the .json file directly? Was this a format that was the easiest to fix? What is the best way adapted to your workflow?

[2019-11-19 13:40] #123 closed

[2019-11-19 13:42] janbaltus commented on #122
UNfortunately the MLCP tool does not allow direct editing of localized strings. https://github.com/Microsoft/Localization/wiki/Visual-Studio-Code-Community-Localization-Project

[2019-11-19 13:55] echoix commented on #122
I don't see what that wiki page answers for this question, sorry. When there are some suggestions and edits in the already localized strings, should I enter them as an issue with a description like this, or I make a pull request and you try to pull the corrections from the diff?

[2019-11-26 09:41] janbaltus commented on #122
Please log an issue for translation suggestions

[2019-11-26 09:41] #122 closed

[2019-12-01 13:20] zsynacl opened #124 "中文翻译有误"
![图片](https://user-images.githubusercontent.com/4392800/69914519-63259c00-1480-11ea-8bf5-d2e89eafb6c1.png)

此处的“关注链接”翻译有误

[2019-12-02 12:49] lukaschal commented on #124
CHS. On review.

SRC: Follow link
TGT: 关注链接

[2019-12-03 01:40] zsynacl commented on #124
“转到链接”更合适

[2019-12-04 14:08] gematsu opened #125 "[ja] translation suggestion"
Issue Type: <b>Bug</b>

When the updater service finished downloading the patch and demand relaunching VS Code, we can choose [later].
Current Japanese translation of [later] feature is "後続", but it seems a bit strange. How about using "後で" or "今はしない" instead of using "後続"?

Extension version: 1.40.2
VS Code version: Code 1.40.2 (f359dd69833dd8800b54d458f6d37ab7c78df520, 2019-11-25T14:54:45.096Z)

[2019-12-05 13:58] lukaschal commented on #124
Fixed.

new tgt: 转到链接

[2019-12-06 14:05] lukaschal commented on #125
On review.

src: Later
tgt: 後続

[2019-12-09 09:17] lukaschal commented on #125
Fixed.

new tgt: 後で

[2019-12-11 06:54] tankxxl opened #126 "How to download previous versions?"
How to download previous versions?

[2019-12-11 09:59] janbaltus commented on #126
Ctrl+Shift+X
Right-Click on  desired LP Pack and you should see the option "Install Another Version..."
![image](https://user-images.githubusercontent.com/18324209/70611328-4e29d500-1c05-11ea-9839-aeec9320f490.png)

[2019-12-11 09:59] #126 closed

[2019-12-16 08:16] FangHanZreo opened #127 "Chinese (Simplified) Language Pack for Visual Studio Code don't work"
Issue Type: <b>Bug</b>

File -> New Window make my language pack don't work . I need restart vscode.

Extension version: 1.41.1
VS Code version: Code 1.41.0 (9579eda04fdb3a9bba2750f15193e5fafe16b959, 2019-12-11T18:37:42.077Z)
OS version: Windows_NT x64 10.0.18362

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Core(TM) i5-7500 CPU @ 3.40GHz (4 x 3408)|
|GPU Status|

[2019-12-17 09:53] janbaltus commented on #127
Please try to update LP to 1.41.2.
Verified on 1.41 version with 1.41.2 LP and no crash for Chinese (Simplified) Language Pack

[2019-12-17 09:53] #127 closed

[2019-12-20 12:17] #125 closed

[2019-12-20 12:17] #124 closed

[2019-12-24 12:45] stephtr commented on #117
The translation is still wrong for "vs/workbench/contrib/url/common/trustedDomainsValidator/open". Could someone fix that on the Translation Community?

[2020-01-02 12:51] janbaltus commented on #117
this one occurrence was fixed. Will be present in January update of VScode LP

[2020-01-06 01:58] furahadamien opened #135 "Creation of a Language Pack for Kiswahili(Kenya/Tanzania)"
I was going through the available Language Packs and it looks like VS Code is not available in Kiswahili(Kenya/Tanzania). I was so keen to contribute to MLCP in this language but I couldn't find any Strings. I am interested in creating a Language Pack for this Language and hopefully, several other  people can be motivated to contribute to the VS Code Localization of this Language

[2020-01-07 01:55] douxingxiang opened #137 "zh-hans locale wrong translation of "formatting""
file: `i18n/vscode-language-pack-zh-hans/translations/main.i18n.json`
key: `"vs/workbench/contrib/preferences/browser/settingsLayout"."formatting"`
language pack version: `1.41.2`

"formatting" is translating to  '正在格式化', here it should be a noun, so '格式化' is the right translation.

[2020-01-07 11:29] lukaschal commented on #137
On review.

[2020-01-10 12:46] lukaschal commented on #137
@douxingxiang Is it possible to add screenshot of mentioned issue ?

[2020-01-13 10:31] lukaschal commented on #137
Fixed.

new tgt: 格式化

[2020-01-19 10:18] lusingander opened #139 "[ja] transration mistake"
`Group &&Right` is translated to `グループ右(&&R)`, but i think it is better to translate it as `グループ（右）(&&R)`, because the following four menus are the same kind.

![image](https://user-images.githubusercontent.com/31386431/72679124-73a4db00-3aef-11ea-92fd-8bf8d7506368.png)

![image](https://user-images.githubusercontent.com/31386431/72679050-d8ac0100-3aee-11ea-9f23-fc1f06ce97bb.png)

[2020-01-21 08:07] janbaltus commented on #135
based on this Wiki page new localization request for evaluation https://github.com/Microsoft/Localization/wiki/Visual-Studio-Code-Community-Localization-Project

[2020-01-21 08:07] #137 closed

[2020-01-21 09:07] lukaschal commented on #139
On review.

src: Group &&Right
tgt: グループ右(&&R)

[2020-01-22 02:35] MyoHlaiWin opened #140 "en-GB translation file not found Error"
Hello ,

What happen!

en-GB translation file not found.

Please check.

[2020-01-22 13:16] lukaschal commented on #139
Fixed.

new tgt: グループ (右)(&&R)

[2020-01-25 18:20] camilosasia opened #141 "es incorrect translation"
_Peek problem_ is translated to _Problema de pico_, which doesn't make any sense in Spanish. A better translation would be _Ver problema_.

![peekproblem](https://user-images.githubusercontent.com/18406325/73125416-4dff5200-3f85-11ea-8913-e56a9d24289a.png)

[2020-01-27 14:27] lukaschal commented on #141
On review.

[2020-01-28 09:53] janbaltus commented on #140
translation folder recovered.

[2020-01-28 09:53] #140 closed

[2020-01-28 10:33] #139 closed

[2020-01-29 09:09] qiray opened #143 "ru incorrect translation"
There is a translation mistake In open URL dialog in VSCode. Last button label is _"Открыто"_ (it means "is opened"). I think it should be _"Открыть"_.

![screenshot](https://user-images.githubusercontent.com/8692517/73342375-7b067a00-428f-11ea-8c36-36da676ce985.png)

[2020-01-31 08:44] lukaschal commented on #141
Fixed.

new tgt: Ver problema

[2020-01-31 08:55] lukaschal commented on #143
Fixed.

new tgt:  Открыть

[2020-02-04 21:13] robinschreiner opened #144 "[german/de] Incorrect Translation in "Open URL" / trustedDomains Dialog"
There is also a translation mistake in the german open URL dialog in VSCode.
First Button says "Domänen" which is, from language point of view, right but in the technical context not used. Last button "open" is translated to "Eröffnungskurs" which means "opening course".

**Is:** "Eröffnungskurs"
**Should be** "Öffnen"

**Is:** "Domänen"
**Should be** "Domains"

<img width="804" alt="screenshot" s

[2020-02-05 08:10] #141 closed

[2020-02-05 08:11] #143 closed

[2020-02-05 08:12] janbaltus commented on #144
Can you please specify version of LP used?

[2020-02-05 09:26] robinschreiner commented on #144
Currently 1.41.2 is installed. According to VS Code, this is the latest available Version.

[2020-02-05 10:00] janbaltus commented on #144
Please wait for official release of 1.42 or you can use Insider version where 1.42.2 is already published.

[2020-02-05 10:00] #144 closed

[2020-02-07 08:51] uct8086 commented on #135
how could i download the old version package ?

[2020-02-07 10:58] janbaltus commented on #135
Can you please clarify what you mean by Old version package?
This language is not supported yet

[2020-02-08 22:28] furahadamien commented on #135
Does this mean that my request for this Localization is being evaluated? Sorry, I didn't get what you meant by your comment. I was looking at the [wiki](https://github.com/Microsoft/Localization/wiki/Visual-Studio-Code-Community-Localization-Project#list-of-languages-currently-being-evaluated) and I couldn't see it in the list of languages being evaluated.

[2020-03-11 17:30] RobinPang opened #146 "The Translation Issue of Menu"
Issue Type: <b>Bug</b>

【运行(&R)】Display as【&运行】

Extension version: 1.43.2
VS Code version: Code 1.43.0 (78a4c91400152c0f27ba4d363eb56d2835f9903a, 2020-03-09T19:47:57.235Z)
OS version: Windows_NT x64 10.0.18363

[2020-03-13 05:56] AFGXF opened #147 "The Translation Issue of “Run”"
Issue Type: __Bug__

The contents of the "Run" menu have not been translated (zh-cn)

Extension version: 1.43.7

VS Code version: Code 1.43.0

OS version: Windows_NT x64 10.0.18363

![image](https://user-images.githubusercontent.com/54260142/76593693-fc5d5780-6531-11ea-80a9-75e774863976.png)

![image](https://user-images.githubusercontent.com/54260142/76593753-20b93400-6532-11ea-8669-51dee8e6b53d.

[2020-03-13 12:49] lukaschal commented on #146
Actual translations looks like correct in a MLCP.

![image](https://user-images.githubusercontent.com/18324331/76622283-7fca7900-6531-11ea-906c-06b7e876e024.png)

[2020-03-17 09:54] janbaltus commented on #146
Fixed in 1.43.7 LP

[2020-03-17 09:54] #146 closed

[2020-03-17 09:56] janbaltus commented on #147
&Run issue is fixed in 1.43.7 LP, but unloc issue will be fixed in 1.45 LP

[2020-03-17 09:56] #147 closed

[2020-03-18 14:24] Zyx-A opened #148 "A request has failed from JSON Language Features"
Problematic Version:
**`v1.43.8`**
Correct Version:
`v1.43.7`

Today when I open a new window I get this message:

![error](https://user-images.githubusercontent.com/2193314/70080486-7ee18d00-15bb-11ea-8738-6290ab22e7f1.png)

enable `"json.trace.server": "verbose"` :

[code]

OS Env:
OS Version: `CentOS 7.6`
Kernel Version: `4.12.14-1.el7.x86_64`

[2020-03-18 14:25] zhoujin7 opened #149 "Chinese language pack does not work in vscode 1.43.0"
Chinese language pack does not work in vscode 1.43.0

OS: windows 10

![捕获](https://user-images.githubusercontent.com/8288988/76970582-126e7c00-6967-11ea-82cc-6bc622d5c5dd.PNG)

**Install it, Ctrl+Shift+P, config display lang --> zh-cn, restart vscode. but it does not work.**

[2020-03-18 14:52] whossun commented on #149
Chinese language pack 1.43.8不起作用，回退到1.43.7能正常使用

[2020-03-18 15:31] xylds666 commented on #149
Me too.

[2020-03-18 15:32] aixiu commented on #149
回退到1.43.7能正常使用

[2020-03-18 16:52] wejectchen commented on #149
我也发现了。。。

[2020-03-18 16:53] LeoMiter commented on #149
Me too!!!

Version: 1.43.0
Commit: 78a4c91400152c0f27ba4d363eb56d2835f9903a
Date: 2020-03-09T19:34:44.548Z
Electron: 7.1.11
Chrome: 78.0.3904.130
Node.js: 12.8.1
V8: 7.8.279.23-electron.0
OS: Darwin x64 19.3.0

[2020-03-18 18:28] sinsong commented on #149
Same problom, effect after a update...
---
Version: 1.43.1 (user setup)
Commit: fe22a9645b44368865c0ba92e2fb881ff1afce94
Date: 2020-03-18T07:01:20.184Z
Electron: 7.1.11
Chrome: 78.0.3904.130
Node.js: 12.8.1
V8: 7.8.279.23-electron.0
OS: Windows_NT x64 10.0.18363

[2020-03-19 04:27] cacads commented on #149
Chinese (Simplified) Language Pack for Visual Studio Code

Version | 1.43.9 |  
-- | -- | --
Released on | 2018/4/24 上午1:35:37 |  

Last updated | 2020/3/19 上午3:09:46

已经更新，修复了

[2020-03-19 04:50] zhoujin7 commented on #149
已经修复了 更新该插件即可

[2020-03-19 04:50] #149 closed

[2020-03-20 06:07] janbaltus commented on #148
Please update to 1.43.9 which fix this issue

[2020-03-20 06:07] #148 closed

[2020-03-29 16:01] LDYang694 opened #152 "the "question" column will be displayed as english not chinese when in wsl"
![捕获1](https://user-images.githubusercontent.com/62846124/77853916-88050280-7219-11ea-9cc8-44e6c41b9589.PNG)
Issue Type: <b>Bug</b>

the "question" column will be displayed as english not chinese when in wsl

Extension version: 1.44.0
VS Code version: Code 1.43.2 (0ba0ca52957102ca3527cf479571617f0de6ed50, 2020-03-24T07:38:38.248Z)
OS version: Windows_NT x64 10.0.17763
Remote OS version: Linux x64

[2020-03-30 00:12] taksumaki opened #153 ""Open Folder" and "Clone Repository" buttons do not appear in home page using Spanish language"
When installing the **Spanish** language from the ### official Vs Code repository, the **Open Folder and Clone repository buttons disappear** and _only one code text appears_. I am using the **latest available version of Vs Code and the plugin**.

![1](https://user-images.githubusercontent.com/56084970/77864892-9850b980-71e8-11ea-8423-c8c1498c2437.JPG)

![2](https://user-images.githubusercontent.c

[2020-03-31 02:03] FremdSprach opened #154 "Extension Causes A Display Disorder in the Explorer Window of VSCode"
Issue Type: <b>Bug</b>

After Installing the Chinese (Simplified) Language Pack Extension, the VSCode Explorer Window comes into a Display Disorder, the latter two items overlap with each other.

Extension version: 1.44.0
VS Code version: Code 1.43.2 (0ba0ca52957102ca3527cf479571617f0de6ed50, 2020-03-24T07:38:38.248Z)
OS version: Windows_NT x64 10.0.17763

<details>
<summary>System Info</summary>

[2020-03-31 07:45] lukaschal commented on #153
Fixed.

[2020-03-31 08:21] janbaltus commented on #154
Please provide screenshot for this issue both on English and CHS

[2020-03-31 09:40] lukaschal commented on #152
@LDYang694 Could you please provide more detailed repro steps, and confirm if any additional component/extension is used to view this screen ?

[2020-03-31 09:52] FremdSprach commented on #154
@janbaltus

Please see below, there is an obvious overlapping:

![image](https://user-images.githubusercontent.com/30553808/78012789-1b544a00-7378-11ea-8027-543ac46277ca.png)

[2020-03-31 17:24] janbaltus commented on #154
@dbaeumer is this know issue?

[2020-03-31 18:10] dbaeumer commented on #154
@janbaltus actually I don't know.

@isidorn have you seen this?

[2020-04-01 07:56] isidorn commented on #154
This is a vscode issue which we will fix today https://github.com/microsoft/vscode/issues/93774

[2020-04-01 07:56] #154 closed

[2020-04-03 08:54] janbaltus commented on #153
fixed in 1.44.1 LP for insider version of VScode

[2020-04-03 08:54] #153 closed

[2020-04-13 12:50] wraith13 opened #156 "ja: "FILE: アクティブ ファイルを比較しています..." -> "FILE: アクティブ ファイルを比較します...""
`File: Compare Active File With...` コマンドの日本語訳が `FILE: アクティブ ファイルを比較しています...` になっていますが、ここは `FILE: アクティブ ファイルを比較します...` であるべきではないでしょうか？

[2020-04-14 06:55] janbaltus commented on #156
@wraith13 please provide screenshot for this issue.

[2020-04-14 06:58] wraith13 commented on #156
![image](https://user-images.githubusercontent.com/645907/79195094-a64d3e00-7e68-11ea-8030-524171a463cd.png)
Is this all right?

[2020-04-14 07:02] janbaltus commented on #156
Thank you!

[2020-04-14 14:42] lukaschal commented on #156
On review.

[2020-04-16 07:40] lukaschal commented on #156
Will be fixed in next release.

SRCs:
Compare Active File with Saved
Compare Active File With...
Compare Active File with Saved
Compare Active File with Clipboard
Compare Active File With...
Compare Active File with

Approved TGTs:
保存済みファイルとアクティブ ファイルを比較
アクティブ ファイルを比較...
保存済みファイルとアクティブ ファイルを比較
クリップボードとアクティブ ファイルを比較
アクティブ ファイルを比較...
クリップボードとアクティブ ファイルを比較

[2020-04-17 18:53] moxwel opened #158 "[ES] Translation error in Source Control menu"
In the Source Control menu, the buttons **_"Open folder"_** and **_"Clone repository"_** are translated to **_"Aba carpeta"_** and **_"Clone repositorio"_** in Spanish, both of which are wrong.

The best translation are **_"Abrir carpeta"_** and **_"Clonar repositorio"_** respectively.

![image](https://user-images.githubusercontent.com/49621788/79603546-8f9e2580-80ba-11ea-8789-c8c4163004b2.png)

[2020-04-23 03:02] liuyj-vv opened #159 "installation failed"
F:\VMware os\share>code -version
Warning: 'e' is not in the list of known options, but still passed to Electron/Chromium.
Warning: 'i' is not in the list of known options, but still passed to Electron/Chromium.
Warning: 'o' is not in the list of known options, but still passed to Electron/Chromium.
1.44.2
ff915844119ce9485abfe8aa9076ec76b5300ddd
x64

F:\VMware os\share>code --install-extension MS-

[2020-04-28 06:00] janbaltus commented on #159
This is expected 1.45 version of LP can be used only for Insider version of Vs Code.

[2020-04-28 06:00] #159 closed

[2020-05-03 19:55] yuqieang19841028 opened #163 "Git"

[2020-05-05 09:15] MineFriend opened #164 "I've translated the entire Python extension into Italian."
as per title I have translated the entire extension of python in Italian, I refer to this extension (https://marketplace.visualstudio.com/items?itemName=ms-python.python), some lines however are in beta (I added a w.i.p to the sentence for 2 reasons, or I did not know how to translate it or because maybe the translation I did is not very correct (I had to try a lot of functions of python to see wh

[2020-05-05 13:51] lukaschal commented on #158
On review.

File: vscode-extensions\git.xlf
ID: 0; "extensions/git/package.view.workbench.scm.empty"

SRC: In order to use git features, you can open a folder containing a git repository or clone from a URL.\n[Open Folder](command:vscode.openFolder)\n[Clone Repository](command:git.clone)\nTo learn more about how to use git and source control in VS Code [read our docs](https://aka.ms/vscode-scm).

[2020-05-06 23:43] #164 closed

[2020-05-07 13:44] lukaschal commented on #158
Fixed as suggested.

Para utilizar las características de Git, puede abrir una carpeta que contenga un repositorio Git o clonarlo desde una dirección URL.\nAbrir carpeta\nClonar repositorio\nPara obtener más
información sobre cómo usar Git y el control de código fuente en VS Code, lea nuestros documentos.

[2020-05-29 01:20] LUMOGROUP opened #168 "I think we shuold translate the Interactive Editor Playground!"
That's all I want you to see.
![image](https://user-images.githubusercontent.com/36226873/83210413-5ebb1100-a18d-11ea-9cdf-0591e616823e.png)

[2020-05-30 02:19] iamliuzhiyu opened #169 "Chinese language pack translation error"
Chinese：在设置——常用设置——Files:Autosave中，“脏编辑器”应为“未保存的编辑器”。

English：In Settings-Common Settings-Files: Autosave, "Dirty Editor" should be "Unsaved Editor".

[2020-06-01 15:20] lukaschal commented on #169
On review.
[vscode-chs.xlsx](https://github.com/microsoft/vscode-loc/files/4712058/vscode-chs.xlsx)

[2020-06-02 02:52] RungeCC opened #170 "Chinese Language Pack Translation Error: "值必须未数字""
Chinese (Simplified) Language Pack for Visual Studio Code version @1.46.0
发生在 Settings-ui 的 input box 早需要数字类型的项若为非数字，则显示“值必须未数字”；
应为“值必须为数字”
即标签:
[code]
有误。

[2020-06-02 10:22] jisbert commented on #158
_**"Clonar repositorio"**_ and  _**"Abrir carpeta"**_, as suggested by @moxwell, is more idiomatic in Spanish and more accurate translation than _"Clone repositorio"_ and _"Abra carpeta"_.

[2020-06-02 11:21] lukaschal commented on #169
![image](https://user-images.githubusercontent.com/18324331/83514416-e5e0ef80-a4d3-11ea-82ab-a9d76ba7e57e.png)

[2020-06-02 11:25] lukaschal commented on #170
On review.

File: vscode-workbench\vs_workbench_services_preferences.xlf
ID: 0; "src/vs/workbench/services/preferences/common/preferencesValidation.validations.expectedNumeric"
SRC: Value must be a number.
TGT: 值必须未数字。

[2020-06-08 12:52] lukaschal commented on #170
Fixed.

new tgt: 值必须为数字。

[2020-06-09 10:13] lukaschal commented on #168
Interactive Editor Playground is external component and it is not localized for now.

[2020-06-13 05:07] LUMOGROUP commented on #169
Good job, just close this issue.

[2020-06-13 05:11] LUMOGROUP commented on #168
But why vscode put it on the start page without no notification that to tell us it is a extension?

[2020-06-13 05:13] LUMOGROUP commented on #168
I mean ,vscode did not tell me Interactive Editor Playground is an extension.

[2020-06-16 12:37] orblazer opened #173 "Publish extensions to open-vsx"
I'm a [VS Codium](https://github.com/VSCodium/vscodium) user, a FLOSS version of VS Code, it's the same code but without the Microsoft's telemetry and branding.
I want to request if possible to add the _French Language Pack for Visual Studio Code_ extension on the [open-vsx.org](https://open-vsx.org/) market to us doesn't need to works with the Microsoft marketplace as is unclear if it's legal to

[2020-06-19 05:29] #158 closed

[2020-06-23 03:11] pikadun opened #174 "How do I add my extension translations to the language pack?"
https://github.com/microsoft/vscode/issues/54111#issuecomment-647583614

It mean that I should read the translations from the language pack.

[2020-06-25 11:55] #152 closed

[2020-06-25 11:56] #156 closed

[2020-06-30 08:50] #170 closed

[2020-06-30 08:50] #169 closed

[2020-06-30 18:00] shrijap commented on #135
Hi @furahadamien. Thank you for reaching out to us with this request. Currently, we have put new language requests on hold as we have decommissioned MLCP and are working on bringing the community an alternate localization platform which is more robust and better features. Please watch out for the announcement on that on our [Localization Wiki](https://github.com/Microsoft/Localization/wiki). Thank

[2020-07-03 00:04] weeteckt commented on #173
Thanks for the feedback. You could create a fork from https://github.com/microsoft/vscode-loc and generate language packs that you can then publish to the desired location.

[2020-07-03 00:08] weeteckt commented on #174
Thanks for the question.

The export of localizable resources from extension is handled by VS Code source. You could post the same question in the same VS Code repo link to get guidance on how to do this.

[2020-07-10 04:01] ngohungphuc opened #177 "When will Dutch language pack release"
I want to contribute to Dutch language pack but I'm already see it here https://github.com/microsoft/vscode-loc/tree/master/i18n/vscode-language-pack-nl
What will it need to release to market place or what I can help to release it ?
Thank you

[2020-07-23 17:01] #174 closed

[2020-07-23 17:02] #173 closed

[2020-08-04 09:03] moxn1948 opened #180 "The consonants and vowels of Korean are separated."
Issue Type: <b>Bug</b>

The consonants and vowels of Korean are separated in only visual studio code, not another programs. (example ㅇㅏㄴㄴㅕㅇㅎㅏㅅㅔㅇㅛ)
Windows 10 Environment and Complete deletion of cache files and program, restarting program ,, I did everything I could,, What is the solution?

VS Code version: Code 1.47.3 (91899dcef7b8110878ea59626991a18c8a6a1b3e, 2020-07-23T13:12:49.994Z)
OS version

[2020-08-18 17:30] weeteckt commented on #180
@lszomoru - We have reviewed. This is functional and cannot be fixed by the localization team. Would you be able to move this back to microsoft/vscode? Thank you.

[2020-08-31 12:33] kennethzhu opened #182 "why not release the same version with vscode"
Why not release the same version with vscode? I see there are many branches， but it's not convenient to checkout special version? Thank you.

[2020-09-18 04:01] PengJiaqiao opened #186 "Doesn't work with vs_code/1.45.0"
"Unable to install extension 'ms-ceintl.vscode-language-pack-zh-hans' as it is not compatible with VS Code '1.45.0'."

[2020-09-22 19:24] Vinn55 opened #187 "Difference between keys in structure of main.i18n.json"
I check two locales and I found this ![image](https://user-images.githubusercontent.com/59340713/93927042-fe924100-fd20-11ea-9d55-81d8d3fbbe66.png).
Files were downloaded on 14 SEP ‎2020.
Can anyone provide relevant structures for the versions of VS Code?

[2020-09-24 21:46] wobuhuisuanmin opened #190 "我不会算命"
Issue Type: <b>Bug</b>

我今天3岁，我很乖。

Extension version: 1.49.2
VS Code version: Code 1.49.1 (58bb7b2331731bf72587010e943852e13e6fd3cf, 2020-09-16T23:27:51.792Z)
OS version: Windows_NT x64 10.0.19041

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Core(TM) i5-6200U CPU @ 2.30GHz (4 x 2400)|
|GPU Status|2d_canvas: enabled<br>flash_3d: enabled<br>flash_stage3d: enabled

[2020-09-25 17:51] Vinn55 commented on #190
不要在這裡沉迷

[2020-09-25 17:56] wobuhuisuanmin commented on #190
代码的世界，太让我上头了

[2020-10-03 08:25] jekalhong opened #191 "풍선도움말 영문-한글화"
Issue Type: <b>Feature Request</b>

마우스 위치의 풍선도움말에 설명 내용을 한글팩을 설치했을때 한글로 나오게 해주세요~ 감사합니다.

Extension version: 1.49.1
VS Code version: Code 1.49.3 (2af051012b66169dde0c4dfae3f5ef48f787ff69, 2020-10-02T17:57:01.595Z)
OS version: Windows_NT x64 10.0.18363

[2020-10-08 03:46] danyeh commented on #190
No actionable.

[2020-10-08 03:46] #190 closed

[2020-10-16 09:32] funnycom opened #192 "extendsion doesn't work after VS Code updated"
Issue Type: <b>Bug</b>

Whenever VS Code is updated automatically, Korean Language Pack extension does not work, even though the extension is installed and active.
I can solve the problem if edit json file, but shoud I edit cofiguration whenever VS Code is updated ?

Extension version: 1.50.2
VS Code version: Code 1.50.0 (93c2f0fbf16c5a4b10e4d5f89737d9c2c25488a3, 2020-10-07T06:10:52.432Z)
OS versi

[2020-10-16 11:28] #192 closed

[2020-10-31 20:30] rheh opened #194 "Uncommitted typo"
Uncommitted is spelt incorrectly in the following files:

.//i18n/vscode-language-pack-zh-hans/translations/extensions/git.i18n.json:270:"git.timeline.uncommitedChanges": "未提交的更改",
.//i18n/vscode-language-pack-zh-hant/translations/extensions/git.i18n.json:270:"git.timeline.uncommitedChanges": "未認可的變更",
.//i18n/vscode-language-pack-tr/translations/extensions/git.i18n.json:270:	"git.timeline.uncommi

[2020-11-17 01:21] yamsjix opened #195 "Error in vsc-extension-quickstart.md"
Language settings of vscode  changes from "locale.json" to "argv.json".
Description in vsc-extension-quickstart.md  should change.

[2020-11-20 10:09] giovdi opened #196 "Italian wrong translation for "Pin""
Hi all, the Italian translation for "Pin" / "Unpin" is wrong. Should be "Blocca" / "Sblocca" or something like that.
Thanks a lot

![image](https://user-images.githubusercontent.com/2039103/99788031-ce98cb80-2b20-11eb-9522-41fde4f6bf95.png)

[2020-11-20 22:51] stlr00 opened #197 "Some russian translate issues"
1) Please delete "&" here.

![image](https://user-images.githubusercontent.com/61075639/99856977-3e4b9c80-2b9b-11eb-8ffa-b6f471a0ef8d.png)

2) Braces = "Фигурные" Brackets = "Квадратные"
![image](https://user-images.githubusercontent.com/61075639/99857222-ce89e180-2b9b-11eb-99fb-325e60974cb8.png)

[2020-12-15 06:42] ha0y opened #199 "Chinese Language Pack Translation Error"
In the former version of VSCode(e.g. 1.44.1), when a file with extensions available was opened, the message shows

商店中有可以对“xxxx”文件提供帮助的扩展。

![捕获](https://user-images.githubusercontent.com/30557072/102179113-8ed7c080-3ee1-11eb-9a65-fb0df4c70efc.PNG)

But in recent versions, the message was

市场具有可在“xxxx”文件方面提供帮助的扩展

![捕获](https://user-images.githubusercontent.com/30557072/102180162-618c1200-3ee3-11e

[2021-02-03 22:47] danyeh commented on #182
Release does align with VS Code release and release from master.
Other branches just for tracking purpose in case need to go back to fix for a particular release.

[2021-02-03 22:47] #182 closed

[2021-02-03 22:50] danyeh commented on #135
I am closing this. There won't be a community loc platform in near term.
Current recommendation is to follow wiki in this repo to create language pack separately.

[2021-02-03 22:50] #135 closed

[2021-02-06 01:24] laubonghaudoi opened #204 "Request for adding a new locale: Cantonese. We can contribute and help."
This issue was originally opened in https://github.com/microsoft/vscode/issues/112607

As @danyeh mentioned, we could make a community-maintained language pack. May we know how to proceed?

Language name in English: Cantonese
Language Name in its own script: 粵語
ISO 693-3 code of the language: yue

#### Reference

ISO 693 Identifier Documentation: https://iso639-3.sil.org/code/yue

[2021-02-07 09:11] GradyYang opened #205 "About Releases"
I notice that the extension repository only has different branchs, Can you create a release (such as 1.45.1) so that I can use your extension as a opensource software to publish my product, you know the opensource software examination is very strict in my company, software without release cannot pass it. Thanks

[2021-02-09 12:03] qxxiao opened #206 "language"
Issue Type: <b>Bug</b>

with latest version of vscode, the extension doesn't work well in memu commands.

Extension version: 1.53.2
VS Code version: Code 1.53.0 (8490d3dde47c57ba65ec40dd192d014fd2113496, 2021-02-03T16:01:04.046Z)
OS version: Darwin x64 19.6.0

[2021-02-09 12:04] #206 closed

[2021-02-09 20:48] danyeh commented on #204
General steps could work. Assume you want to publish zh-HK language pack
1. Fork this repo.
2. dup i18n/vscode-language-pack-zh-hant to i18n/vscode-language-pack-zh-hk
3. Modify package.json, readme, changelog to reflect new language.
4. Contribute to translation in .json files
5. Follow https://github.com/Microsoft/vscode-loc/wiki/How-to-publish-to-Marketplace to publish to marketplace.
6. Create

[2021-02-10 07:15] laubonghaudoi commented on #204
@danyeh Thanks for the instructions! However, we would like to point out that this is not a `zh-hk` locale, but a `yue-hant` locale. The language name is Cantonese, without region specifications (Cantonese is used in mainland China, Hong Kong, Macau and overseas) Is this okay?

[2021-02-10 17:25] danyeh commented on #204
Thank you for clarify! Then I would suggest i18n/vscode-language-pack-yue-hant in case other contributor would introduce hans in the future.

//    yue          Cantonese
//    yue-Hans     Cantonese
//    yue-Hant     Cantonese

[2021-02-10 17:34] laubonghaudoi commented on #204
I see. So to confirm, the language id would be `yue`, and the folder would be named as `i18n/vscode-language-pack-yue-hant`, is this correct?

[2021-02-10 17:43] danyeh commented on #204
Better to match:
Language ID: `yue-hant`
Folder: `i18n/vscode-language-pack-yue-hant`

[2021-02-17 18:41] laubonghaudoi commented on #204
@danyeh Thanks for the clarifications and we are working on the translation now. But we have another question, where can we find the original `en` texts? They don't seem to be in this repo.

[2021-02-17 18:49] danyeh commented on #204
We don't have corresponding en string json file because source strings are embedded in source code.
But I think can use en-GB as reference. @nexue2020 , can you refresh en-GB to latest? Thanks!
https://github.com/microsoft/vscode-loc/tree/master/i18n/vscode-language-pack-en-GB

[2021-02-18 18:21] laubonghaudoi commented on #204
@danyeh @nexue2020 We are referring to the translations in `en-GB`, but it seems like it is missing a lot of entries. Many items in the traditional Chinese locale do not exist in `en-GB`, please see the screenshot below:
![2021-02-18 09 17 03](https://user-images.githubusercontent.com/11172180/108394916-1aafe680-71ca-11eb-96b3-3343f108d37e.jpg)

Is this normal? We are curious how the translators o

[2021-02-20 04:24] lsht-cn opened #207 "Interactive Editor Playground is not localized."
It is really unfriendly to users who does not use English. Foreign users cannot try and learn the useful skills in vscode. So, it is supposed to be localized.

[2021-02-20 04:34] lsht-cn commented on #207
This problem is not solved for a really long time.

[2021-02-27 06:12] liphx commented on #186
同样的问题，Linux 命令行安装失败

[code]

[2021-03-02 05:42] nexue2020 commented on #204
en-GB is re-published last week. Closing the issue as resolved.

[2021-03-02 05:42] #204 closed

[2021-03-21 04:41] Maxpxt opened #209 "Weird translation of git related terms in Brazilian Portuguese"
There are various weird translations of git-related terms in the source control view.

The guide for what I take to be the correct translation of the git-related terms which don't have and obvious translation is:
* "staged [thing]" should translate to "[thing] preparada". This is the translation currently used -- with some errors -- in the context menus.
* "commit" should, when acting a verb, tran

[2021-03-21 16:23] Maxpxt opened #213 "Outdated "Translations" section in the "How to Contribute" page in the wiki"
The link in [How-to-Contribute#Translations](https://github.com/Microsoft/vscode/wiki/How-to-Contribute#Translations) (section reproduced below) in the wiki is broken. Also, shouldn't this section redirect readers to [vscode-loc](https://github.com/microsoft/vscode-loc)?

[2021-03-23 03:31] danielcheng80 opened #210 "Weird translation in Chinese Traditional (zh-tw)"
Chinese (Traditional) Language Pack for Visual Studio Code @1.54.3
![image](https://user-images.githubusercontent.com/6923624/112088514-eebdc180-8bca-11eb-8ffe-c3cbdee50732.png)
I guess the "轉寄" should be "下一步".

Environment:
版本: 1.54.3 (user setup)
認可: 2b9aebd5354a3629c3aba0a5f5df49f43d6689f8
日期: 2021-03-15T10:55:45.459Z
Electron: 11.3.0
Chrome: 87.0.4280.141
Node.js: 12.18.3
V8: 8.7.220.31-elect

[2021-03-27 12:23] wojtekmaj opened #211 "How do I contribute?"
I can't seem to find a place where I could actually contribute to the language packs.

In readme, we read:

[A quick search](https://www.google.com/search?client=firefox-b-d&q=Microsoft+Localization+Community) returns nothing useful but a... discussion board?

and also:

[This search](https://www.google.com/search?q="Microsoft+Localization+Platform") returns nothing useful but the very README I'm

[2021-03-27 12:25] wojtekmaj commented on #211
Found this... https://envelope-community.azurewebsites.net/ but links to FAQ and so on are also dead here. Also "First week of April..." which year? If 2020, there's no info for almost a year now? If 2021, were changes done ahead of time?

[2021-03-28 16:21] leo-carmo opened #212 "Atalhos de teclado da tecla Alt estão em conflito / Conflicting Alt keyboard shortcuts"
\
![Alt shortcuts](https://user-images.githubusercontent.com/51187764/112759248-8c98fe00-8fc8-11eb-88f2-efba8ed67517.jpg)
Issue Type: <b>Bug</b>

Não há procedimento sequencial. Basta notar que os menus Arquivo, Acessar e Ajuda estão todos compartilhando a tecla A para acesso via Alt+tecla de atalho, o que é uma inconveniência, especialmente para um aplicativo feito para se usar só com teclado. /

[2021-03-31 10:41] wojtekmaj opened #214 "Issues with Polish translation"
_Please note that this ticket is WIP as I'm currently testing Polish translation heavily in daily use._

## Incorrect translations

| Original phrase (may not be accurate) | Current translation | Suggested translation | Comment |
|--|--|--|--|
| Open editors | Otwórz edytory | Otwarte edytory | (1) |
| Replace preview | Zastąp podgląd | Podgląd zmian | (1) |
| Message (Enter to commit to "master")

[2021-04-04 16:27] jdbruxelles opened #215 "Typo report [fr]"
[code]
instead of:
https://github.com/microsoft/vscode-loc/blob/9429f6ddf09aeb8fb42b2cc38f7069da14736b8b/i18n/vscode-language-pack-fr/translations/main.i18n.json#L1508

[code]
instead of:
https://github.com/microsoft/vscode-loc/blob/9429f6ddf09aeb8fb42b2cc38f7069da14736b8b/i18n/vscode-language-pack-fr/translations/main.i18n.json#L3656

[2021-04-08 01:35] startdawn opened #216 "npm设置无效"
Issue Type: <b>Bug</b>

点开设置，扩展，npm【从资源管理器上下文菜单中启用运行文件夹包含的NPM脚本】设置无效

Extension version: 1.55.2
VS Code version: Code 1.55.0 (c185983a683d14c396952dd432459097bc7f757f, 2021-03-30T16:01:55.261Z)
OS version: Windows_NT x64 10.0.14393

[2021-04-14 12:40] kondongx opened #217 "Start page error in zh-cn"
![image](https://user-images.githubusercontent.com/28899471/114711400-79748500-9d61-11eb-9334-0f3707120bde.png)

It should look like this in en

![image](https://user-images.githubusercontent.com/28899471/114711292-5cd84d00-9d61-11eb-966a-f7b4d81f012a.png)

[2021-04-27 22:27] g-e-o-m-e-t-r-i-c opened #219 "Chinese extension remains in inline hints even after uninstalling"
![image](https://user-images.githubusercontent.com/79387351/116320408-c721d080-a7ea-11eb-84c7-ca5fe363cc98.png)
I have just installed and uninstalled the Chinese Language Pack, however the Chinese still remains in the inline hints. Why is this so?

[2021-04-29 09:17] g-e-o-m-e-t-r-i-c commented on #219
I managed to fix it by deleting the "locale" line in argv.json

[2021-04-29 09:17] #219 closed

[2021-05-03 20:33] JianDong1988 opened #220 "Cann't connection to extensions server after installed Chinese(Simplified)"
Issue Type: <b>Bug</b>

Cann't connection to extensions server after installed Chinese(Simplified), the package id is ms-ceintl.vscode-language-pack-zh-hans, I try to restart Vs Code & Set Proxy, but it not work yet.

Extension version: 1.55.2
VS Code version: Code 1.55.2 (3c4e3df9e89829dce27b7b5c24508306b151f30d, 2021-04-13T09:35:57.887Z)
OS version: Windows_NT x64 10.0.19042

<details>
<summary>

[2021-05-08 02:25] elve960520 opened #221 "open new window it not work"
when i start vscode it works
but when i start a new window ,it can't work
👆it appered when i update vscode to 1.56.0

[2021-05-09 05:40] pan93412 commented on #210
@nexue2020 @danyeh I'm curious that could these feedback got noticed by you without any mentions? [There has been a number of feedback now](https://github.com/microsoft/vscode-loc/issues) and most of them are neither replied nor improved. :(

[2021-05-15 11:15] aidiss opened #222 "Lithuanian localization"
Is it possible to add new localization for Lithuanian language.

This was not clear to me from the readme.

Thank you.

[2021-05-19 12:13] LinqLover opened #223 "[German] Translation errors for remove conditional breakpoint dialog"
The following strings are incorrect and need to be replaced:

- `haltepunkt` -> `Haltepunkt` (has to start with first letter everywhere)
- `Deaktivieren Haltepunkt` -> `Haltepunkt deaktivieren`

[2021-05-24 07:09] SteveChung26 opened #225 "It is not compatible with vs code '1.56.2'"
I downloaded ...zh-hans-1.57.0.vsix and installed it offline, but this line, It is not compatible with vs code '1.56.2', printed on cmd.

[2021-05-25 05:52] hjysmi commented on #225
same issue when installed it offline

[2021-05-25 13:38] wdrk opened #226 "[Korean] Translation error."
<img width="631" alt="vscode_en" src="https://user-images.githubusercontent.com/81424145/119506493-ec353f00-bda8-11eb-8610-7bfa6f56f854.PNG">
<img width="483" alt="vscode_ko" src="https://user-images.githubusercontent.com/81424145/119506505-ef302f80-bda8-11eb-8525-70f8f1ed47b2.PNG">

Hello.
It's a strange Korean translation.
"이 파일에서 사용할 [프로그래밍 언어를 선택](https://#)하세요. 타이핑을 시작하면 이 메시지는 없어지며, [다시 표시하지

[2021-06-06 01:44] illbebach commented on #225
Same here.  Offline install on Ubuntu fails.

[2021-06-06 19:50] SetTrend opened #241 "German: Untitled hint erroneous"
The German translation for the hint message of untitled files apparently doesn't replace a provided placeholder:

![German untitled hint](https://user-images.githubusercontent.com/9283914/120938004-fd6b3d80-c710-11eb-889c-b637f08857ac.png)

Apparently, this error is similar to #226.

[2021-06-08 07:01] dbaeumer opened #254 "Incomprehensible German translation"
German

<img width="748" alt="capture" src="https://user-images.githubusercontent.com/1931590/121138499-0b67ae00-c838-11eb-8228-c00bf135f7b1.png">

English

<img width="518" alt="capture" src="https://user-images.githubusercontent.com/1931590/121138533-17ec0680-c838-11eb-9dd9-d7aaaa5dcf18.png">

[2021-06-08 17:34] TylerLeonhardt commented on #241
@isidorn to fix this you can "version" the localization id.

[2021-06-08 17:35] TylerLeonhardt commented on #226
This is a duplicate of #241. Thanks!

[2021-06-08 17:35] #226 closed

[2021-06-08 17:38] TylerLeonhardt commented on #225
This is expected. The latest version of the language pack supports VS Code 1.57+. You should get an older version of the language pack if you want to use it with 1.56.

Thankfully the _minor_ versions of the language pack align with the _minor_ versions of VS Code:

1.55 is for 1.55
1.56 is for 1.56
1.57 is for 1.57
etc.

So you can rely on that.

[2021-06-08 17:38] #225 closed

[2021-06-09 10:01] isidorn commented on #241
Thanks for the ping, fixed via https://github.com/microsoft/vscode/commit/6bf4b4f6ddd5f54dbd1cade463559d1746e9ea0b

[2021-06-09 10:01] #241 closed

[2021-06-11 07:44] iSpid3r opened #272 "[Russian] Опечатка во всплывающем меню расширений"
В расширениях при нажатии на троеточие открывается меню, в котором есть пункт "Проверка обновлений расширения".

![11-06-2021 10-40-40](https://user-images.githubusercontent.com/20419104/121649902-ae6f3080-caa1-11eb-8706-40f5560b1b05.png)

Вот только проверяет эта кнопка ВСЕ расширения сразу. Соответственно, корректнее назвать ее "Проверка обновлений расширений" (или лучше даже проще — "Проверка о

[2021-06-13 19:12] liyuhang1997 opened #275 "[zh-hans] Markdown syntax error"
https://github.com/microsoft/vscode-loc/blob/main/i18n/vscode-language-pack-zh-hans/translations/main.i18n.json#L1502

`"telemetry.enableTelemetryMd": "实现将使用数据和错误发送到 Microsoft 联机服务。在 [此处] 阅读我们的隐私声明({0})。",`

Should be modified to

`"telemetry.enableTelemetryMd": "实现将使用数据和错误发送到 Microsoft 联机服务。在 [此处]({0}) 阅读我们的隐私声明。",`

![image](https://user-images.githubusercontent.com/16591303/121819169-477a9300-c

[2021-06-14 05:06] Guyutongxue commented on #217
Seems a space is missing from [here](https://github.com/microsoft/vscode-loc/blob/main/i18n/vscode-language-pack-zh-hans/translations/extensions/git.i18n.json#L480).

By the way, "可控存储库" should be "克隆存储库".

[2021-06-16 08:43] v-ericawu opened #276 "[Loc] " "" " Double quotes are not localized(zh-cn)"
VS Code Version: VS Code 1.56.2

Notes:
There is a certain distance between the Chinese double quotation mark and the content before and after the Chinese double quotation mark

Steps to Reproduce:
1. Open VS Code.
2. Install Simplified Chinese language package.
3. Observe the double quotes drawn in the picture.

Actual:
![01](https://user-images.githubusercontent.com/78774400/122187701-db687c80-c

[2021-06-16 08:56] v-ericawu opened #277 "[LOC] Double quotation marks (" ") become square brackets ([ ]) (zh-tw)"
VS Code Version: VS Code 1.56.2

Steps to Reproduce:
1. Open VS Code.
2. Install Chinese(Traditional) Language package.
3. Observe the symbols in the picture.

Actual:
The symbols shown in the figure are square brackets ("")
![01](https://user-images.githubusercontent.com/78774400/122189337-701faa00-cec3-11eb-988a-06bb021adf06.png)

Expected:
The symbol shown in the figure is double quotation mark

[2021-06-16 09:05] v-ericawu opened #278 "[LOC] There should be spaces on both sides of "vscode-loc"(zh-cn)"
VS Code Version: VS Code 1.56.2

Steps to Reproduce:
1. Open VS Code.
2. Install Chinese(Simplified) Language package.
3. Observe the "vscode-loc".

Actual:
There are no spaces on both sides of "vscode-loc"
![01](https://user-images.githubusercontent.com/78774400/122190876-cfca8500-cec4-11eb-953b-fbe720e16552.jpg)

Expected:
There are spaces on both sides of "vscode-loc"
![02](https://user-images.

[2021-06-16 09:31] v-ericawu opened #279 "[LOC] ":" is not localized(zh-cn)"
VS Code Version: VS Code 1.56.2

Steps to Reproduce:
1. Install Simplified Chinese language package.
2. Open a .ts file with VS Code.
3. Navigate to "Outline" and click "More Actions...".
4. Observe the ": ".

Actual:
![01](https://user-images.githubusercontent.com/78774400/122194048-a7905580-cec7-11eb-8310-7e46fa05da1f.PNG)

Expected:
": " is localized(There is a certain distance between the Chin

[2021-06-16 10:07] v-ericawu opened #280 "[LOC] "Reveal in Explorer" is not localized"
VS Code Version: VS Code 1.56.2
OS Version: WSL on windows

Steps to Reproduce:
1. Install Simplified Chinese language package.
2. Open a .ts file with VS Code.
3. Right-Click the file and observe the "Reveal in Explorer".

Actual:
![01](https://user-images.githubusercontent.com/78774400/122199927-21770d80-cecd-11eb-8d3c-a1cb949dfce4.PNG)

Expected:
"Reveal in Explorer" is localized
![image](https

[2021-06-16 10:25] v-ericawu opened #281 "[LOC] Shortcut prompt(R) disappears"
VS Code Version: VS Code 1.56.2
OS Version: Win10 and Linux VM

Notes:
1. Have (R): ja\ko\zh-cn\zh-tw languages
   Not have (R): Remaining other languages
2. There is no "R" for “Restart” button on the MAC version

Steps to Reproduce:
1. Install all language packages.
2. Open a .ts file with VS Code.
3. Press F1 to open command palette.
4. Choose the "Confugure Display Language" ->en.
5. Observe t

[2021-06-16 10:54] v-ericawu opened #282 "[LOC] Some options are not localized"
VS Code Version: VS Code 1.56.2
OS Version: Linux ARM64

Steps to Reproduce:
1. Install Simplified Chinese language package.
2. Open a .ts file with VS Code.
3. Navigate to the top toolbar.
4. Click "运行" and "帮助".
5. Observe "Getting Started", "Open Configurations", "Toggle Breakpoint", "Enable/Disable/Remove All Breakpoints".

Actual:
![image](https://user-images.githubusercontent.com/78774400/12

[2021-06-16 10:59] v-ericawu opened #283 "[LOC] "关" localization error"
VS Code Version: VS Code 1.56.2
OS Version: Linux ARM64

Steps to Reproduce:
1. Install Simplified Chinese language package.
2. Open a .ts file with VS Code.
3. Navigate to the top toolbar.
4. Click "文件" and observe "关".

Actual:
![image](https://user-images.githubusercontent.com/78774400/122207558-d9f47f80-ced4-11eb-9494-af2f412f54b4.png)

Expected:
![image](https://user-images.githubusercontent.

[2021-06-16 11:07] v-ericawu opened #284 "[LOC] The location of the shortcut key is incorrect"
VS Code Version: VS Code 1.56.2
OS Version: Linux version

Steps to Reproduce:
1. Open a .ts file with VS Code.
2. Navigate to the top toolbar.
3. Click "File" and "Help".
4. Observe the location of the shortcut.

Expected:
Some distance from the text description
![image](https://user-images.githubusercontent.com/78774400/122208128-83d40c00-ced5-11eb-9fbd-c934cbc3c2d7.png)
![image](https://user-im

[2021-06-17 18:24] TylerLeonhardt opened #286 "Investigate automatic publishing"
* Run it weekly (Monday maybe)
* Do we need a manual approval

[2021-06-17 18:41] TylerLeonhardt commented on #286
Need to set up a meeting with @lszomoru to talk about this

[2021-06-20 15:25] saschanaz opened #296 "Inconsistent Korean translation for vs/workbench/contrib/codeEditor/browser/toggleWordWrap/miToggleWordWrap"
The translation for "Word Wrap" has consistently been "자동 줄 바꿈" but the recent changes made it "자동 래핑". It should be reverted.

I strongly suspect this change was accidental, because it originally was "자동 줄 바꿈", was changed to English and then was translated again. (See how `miToggleWordWrap` has changed.)

https://github.com/microsoft/vscode-loc/blob/bfe580f94a58593aa23fe48ddaf7f87b5f6078d1/i18n/

[2021-06-20 15:27] saschanaz commented on #296
I'd like to contribute but the README does not provide any good link for me.

[2021-06-22 22:23] TylerLeonhardt commented on #286
We now have a GitHub Action that runs weekly.

[2021-06-22 22:23] #286 closed

[2021-06-22 22:29] TylerLeonhardt opened #304 "Run VS Code smoke tests as a part of CI"
Requirements:
* [ ] Updated VS Code Smoke test to stop using the DOM (@dbaeumer is working on this now)
* [ ] Modify the vscode Localization smoke tests to take in a VSIX file instead of pulling from the marketplace as an option
* [ ] Modify CI to run Localization smoke test with VSIX file that is built in CI

[2021-06-23 19:33] nexue2020 commented on #296
Thank you for the feedback. We submitted an internal feedback ticket to resolve this.

https://dev.azure.com/GlobalCollaborationService/Global%20Collaboration%20Service%20Project/_workitems/edit/96334

[2021-06-23 19:33] #296 closed

[2021-06-24 13:02] JoCat opened #312 "[Russian] Typo in PHP notification / Опечатка в уведомлении PHP"
A typo in the file was most likely translated by mistake.
Specified by: `php.validate.exeКутаблепас`
Correct: `php.validate.executablePath`

---

Опечатка в файле, скорее всего было переведено по ошибке.
Указано: `php.validate.exeКутаблепас`
Правильно: `php.validate.executablePath`

---

https://github.com/microsoft/vscode-loc/blob/6f95a406a49a315581808e081693abfa21fddaf9/i18n/vscode-language-pack

[2021-06-24 18:09] nexue2020 commented on #312
Thank you for the feedback. Internal ticket has been created to take care of this: https://dev.azure.com/GlobalCollaborationService/Global%20Collaboration%20Service%20Project/_workitems/edit/96617

[2021-06-24 18:09] #312 closed

[2021-06-24 18:11] nexue2020 commented on #283
I didin't see the diff between actual v.s. expected. can we have more clarifications?

[2021-06-24 18:13] nexue2020 commented on #282
We cannot find a hit in our backend queries. Is this still reproducible? If yes, please re-open the ticket and provide the Source File in question.

[2021-06-24 18:13] #282 closed

[2021-06-24 18:15] nexue2020 commented on #280
Didn't find a hit in our backend queiries:
![image](https://user-images.githubusercontent.com/73669577/123312575-65759e00-d4dd-11eb-8374-ee2a1c86db27.png)

Close as not reproducible.

[2021-06-24 18:15] #280 closed

[2021-06-24 18:16] nexue2020 commented on #279
Please provide the source file of the affected string to help narrow down the backend queiries.

[2021-06-24 18:16] nexue2020 commented on #278
Please provide the source file of the affected strings. Thank you.

[2021-06-24 18:17] nexue2020 commented on #277
Please provide the source file of the affected strings. Thank you.

[2021-06-24 18:18] nexue2020 commented on #276
Please provide the source file of the affected strings. Thank you.

[2021-06-24 18:20] nexue2020 commented on #275
Close ticket and Filed internal feedback ticket: https://dev.azure.com/GlobalCollaborationService/Global%20Collaboration%20Service%20Project/_workitems/edit/96618

[2021-06-24 18:20] #275 closed

[2021-06-24 18:20] nexue2020 commented on #275
Thank you for the feedback.

[2021-06-24 18:22] nexue2020 commented on #272
Sorry we are not able to review ticket with description in non-English language.

[2021-06-24 18:22] #272 closed

[2021-06-24 18:28] nexue2020 commented on #254
Close and filed internal ticket: https://dev.azure.com/GlobalCollaborationService/Global%20Collaboration%20Service%20Project/_workitems/edit/96619

[2021-06-24 18:28] #254 closed

[2021-06-24 18:40] nexue2020 commented on #217
Thank you for the feedback!

Close the ticket and filed internal work item: https://dev.azure.com/GlobalCollaborationService/Global%20Collaboration%20Service%20Project/_workitems/edit/96620

[2021-06-24 18:40] #217 closed

[2021-06-25 22:32] saschanaz opened #315 "Unexpected single `&` in vs/workbench/contrib/codeEditor/browser/toggleWordWrap/miToggleWordWrap"
Followup for #296.

https://github.com/microsoft/vscode-loc/blob/f80c2333847ba60380cf083c9dc94f0c15262ff1/i18n/vscode-language-pack-ko/translations/main.i18n.json#L3986

It should be `&&W` instead.

[2021-06-28 02:27] v-ericawu commented on #283
@nexue2020 The actual "关" is narrower than the expected "关" (note: there is no space between "关" and the content that follows)
![image](https://user-images.githubusercontent.com/78774400/123570688-5ce1d800-d7fb-11eb-93de-afcc9a741dd1.png)

[2021-06-30 01:50] heartacker opened #325 "请在插件语言的名字中添加对应的语言的称呼"
如chinese。
![image](https://user-images.githubusercontent.com/1876302/123889275-b971fe00-d987-11eb-954b-16bfd35752e4.png)

建议在插件的标题添加 (中文)文字
[code]
change to
[code]

对应的日语
[code]
change to
[code]

这样对应的国家的人员就方便的找到对应的语言包

![image](https://user-images.githubusercontent.com/1876302/123889667-9267fc00-d988-11eb-821f-4d8a18c4c87d.png)

[2021-07-02 18:32] Colengms commented on #278
@nexue2020 Is it https://github.com/microsoft/vscode-loc/blob/main/i18n/vscode-language-pack-zh-hans/README.md ?

[2021-07-07 11:24] FrostMiKu opened #339 "A spelling mistake in the zh-hans/typescript-language-features.i18n.json file"
Line 236 - 237
[code]
Should be `npm` not `pnm`，and some markdown format errors.

fixed:
[code]

[2021-07-09 06:48] zhuyc110 opened #340 "Incorrect translation"
https://github.com/microsoft/vscode-loc/blob/0b8b84ee39a0fb87a8064e6d5381a1a29f8d0e83/i18n/vscode-language-pack-zh-hans/translations/main.i18n.json#L6429

Hi,

Good to get the Chinese Language Package, one issue here:

Translation of "Formatting" in settings should be "格式化", rather than "正在格式化"
![image](https://user-images.githubusercontent.com/8545052/125035645-aa482a00-e0c4-11eb-93ac-59acfde0aca

[2021-07-10 07:26] sjdhome opened #341 "[LOC] Incorrect translation of quotes"
There is a quotation mark translation error that causes the clone button to not display properly.
![屏幕截图 2021-07-10 151235](https://user-images.githubusercontent.com/11871061/125155369-e1d0d800-e191-11eb-8096-cfd039bfac61.png)
![屏幕截图 2021-07-10 151106](https://user-images.githubusercontent.com/11871061/125155366-e09fab00-e191-11eb-9342-cbf786f08d95.png)
The cause of the problem is as follows:
http

[2021-07-10 13:03] bn3t opened #342 "French translation not ideal for selectLanguage"
This translation is not ideal: `langue` is for spoken languages, `langage` is for programming languages. See https://fr.wikipedia.org/wiki/Langage_de_programmation.

I would suggest to convert:
[code]

To:

[code]
Kind regards,
Bernard.

[2021-07-12 04:16] moxwel opened #343 "[LOC] [ES] Workspace Trust links not working"
In the latest version of VSCode (v1.58), they implemented links in the Workspace Trust page to directly configure settings.
See [version notes](https://code.visualstudio.com/updates/v1_58#_workspace-trust).
![image](https://user-images.githubusercontent.com/49621788/125230021-f605f980-e2a5-11eb-9aca-d7f5ec2129d2.png)

But in the Spanish Translation, they aren't working.
![image](https://user-image

[2021-07-13 00:59] manudeli opened #345 "Korean translation not ideal for localization 지역화 -> 현지화"
#344
[See what diff in this pull request](https://github.com/microsoft/vscode-loc/pull/344/files)

현지화 is more understandable than 지역화 to translate localization.👈

I would suggest to convert:
[code]
To:
[code]

Kind regards,
Jonghyeon.

[2021-07-17 17:32] simonla opened #350 "[zh-hans] Translation of smoothScrolling is inconsistent"
I searched 平滑滚动 in the settings to enable this feature

As shown in the picture, I did not get the right result

This is because the translation of smoothScrolling want to explain it's effect instead of literal meaning

![Snipaste](https://user-images.githubusercontent.com/14934570/126044537-3a58ac3f-a5e3-49d2-97f7-522b809cd86a.png)

SmoothScrolling in the following two items should have consisten

[2021-07-18 11:51] HiroMuraki opened #353 "[zh-hans] Tanslation of "Start Extension Bisect"'s MesageBox content is incorrect"
The "Binary Search" looks like should be translated into "二分查找" or "二分搜索" instead of "二进制搜索"

[2021-07-20 07:30] Pentar0o opened #1209 "Incorrect French Translation"

[2021-07-22 03:22] wzhli opened #362 "[zh-hans] request more appropriate translation for "duplicateWorkspace" and "duplicateWorkspaceInNewWindow"""
**Location**:  "vs/workbench/browser/actions/workspaceActions" - "duplicateWorkspace"
**Translation Now**: "重复工作区"
**Suggested Translation**: "复制工作区到新窗口"

**Location**: "vs/workbench/browser/actions/workspaceActions" - "duplicateWorkspaceInNewWindow"
**Translation Now**: "在新窗口中复制为工作区"
**Suggestion**: I think this is redundant with "duplicateWorkspace" functionally, as when we click "duplicateWorks

[2021-07-28 10:24] v-mholloway commented on #345
@manudeli can you advise why this was reopened...?

[2021-07-28 10:34] manudeli commented on #345
I closed this issue on my mistake, so I reopened
Do I have anything to do to reflect my suggestion?

[2021-07-28 10:40] v-mholloway commented on #345
@manudeli
perhaps I'm confused, but looking at the commit at the start of this thread, (https://github.com/microsoft/vscode-loc/pull/344/files ) it appears as if your suggested translations have already been implemented.

[2021-07-28 10:42] v-mholloway commented on #345
@manudeli my bad... I see your PR require approval

[2021-07-28 14:24] manudeli commented on #345
@v-mholloway  Then, Do I have to do anything to reflect my suggestion?
Is waiting what I need to do? Actually, I couldn't be confident that I understand what your comment means
Could you explain what I have to do more, please?

[2021-07-28 14:31] v-mholloway commented on #345
@manudeli it's ok, your translations should be fine, but I don't have permissions to check them in. I'll have to leave that to an FTE to do.

[2021-07-28 14:37] manudeli commented on #345
@v-mholloway Thanks👍  Got it!

[2021-07-29 05:55] musonius opened #382 "Spelling mistake in the German Language Pack"
Issue Type: <b>Bug</b>

There are some texts containing the misspelled word "Arbeitsbereichsvertrauensstellung" (e.g. "Arbeitsbereichsvertrauensstellung verwalten" in the gear wheel menu and the title "Arbeitsbereichsvertrauensstellung"of the page for managing workspace trusts).

It should be: Arbeitsbereichsvertrauenseinstellung

That is: The part "ein" of "einstellung" at the end of the very lon

[2021-07-29 11:43] v-mholloway commented on #382
bug opened [111395](https://dev.azure.com/GlobalCollaborationService/Global%20Collaboration%20Service%20Project/_workitems/edit/111395)

[2021-07-29 11:52] v-mholloway commented on #362
bug opened [111400](https://dev.azure.com/GlobalCollaborationService/Global%20Collaboration%20Service%20Project/_workitems/edit/111400)

[2021-07-29 11:58] v-mholloway commented on #353
@HiroMuraki can you advise if this is the product string you refer to...?
![image](https://user-images.githubusercontent.com/77055370/127487916-0c6def75-fc56-40b2-8899-428f29815cbe.png)

[2021-07-29 11:59] v-mholloway commented on #353
its the only one in the product containing the English string "binary search"

[2021-07-29 12:03] v-mholloway commented on #350
@simonla can you confirm if these are the product strings you refer to...?
![image](https://user-images.githubusercontent.com/77055370/127488502-6db041e7-4a06-4c13-8276-3287509d190f.png)

[2021-07-29 12:05] v-mholloway commented on #350
Note: these are the only matches in the product with the zh-hans strings you provided.

[2021-07-29 12:07] simonla commented on #350
yes

[2021-07-29 13:59] v-mholloway commented on #350
Bug opened [111479](https://dev.azure.com/GlobalCollaborationService/Global%20Collaboration%20Service%20Project/_workitems/edit/111479)

[2021-07-29 14:23] v-mholloway commented on #343
removed these spaces to try mitigate this issue...
![image](https://user-images.githubusercontent.com/77055370/127509196-083d2cbf-5301-471e-896f-05da2d7517b6.png)

[2021-07-29 14:27] v-mholloway commented on #342
looks like this was corrected in Fabric yesterday...
![image](https://user-images.githubusercontent.com/77055370/127509901-ba134170-9bfe-42ce-87c8-4e6ef31b795a.png)

[2021-07-30 08:29] HiroMuraki commented on #353
yes it is. The "... binary search..." in the first sentence should be tranlasted into "二分搜索" or 二分查找"

Just for instance, the full sentence can be translate into "扩展二等分将通过二分查找的方式确认引起问题的扩展。在此过程中，窗口将会不断重新加载（约{0}次），每次都必须确认是否出现问题“

[2021-07-30 10:55] v-mholloway commented on #353
@HiroMuraki change now implemented. will take a few days to migrate to the build

[2021-07-31 17:50] fknipp opened #386 "[de] Improve translation of duplicateWorkspace"
In _vs/workbench/browser/actions/workspaceActions_ in _main.i18n.json_, the translation for **duplicateWorkspace** is **Doppelter Arbeitsbereich**.

Doppelter Arbeitsbereich sounds like a state, like _this is a duplicated workspace_. Therefore, I'd suggest to say **Arbeitsbereich duplizieren**.

[2021-07-31 23:57] 3rror opened #387 "[Italian] small typo in the translation of "copyExtension""
There is a small typo in the Italian translation of "copyExtension" inside the contextual menu when the user right-clicks on an extension. It should be "Copia" instead of "Coppia".

Steps:
1. Open the extensions panel
2.  Right-click on an extension
3.  See "Coppia" instead of "Copia"

This is the corresponding line in [main.i18n.json](https://github.com/microsoft/vscode-loc/blob/9945f1a67506d80a7

[2021-08-02 06:31] peter31990 opened #388 "Double language in Preferences"
![obraz](https://user-images.githubusercontent.com/11589305/127814208-83f4c7c5-1131-478e-8cf2-23d45c06e49f.png)

[2021-08-03 20:04] hfabio opened #390 "Wrong meaning in pt-br"
Please, change "Abrir pasta continente" at:
https://github.com/microsoft/vscode-loc/blob/0868ed21eabc9785bbec81ae0475f49b25d57c1c/i18n/vscode-language-pack-pt-BR/translations/main.i18n.json#L5728

to "Abrir pasta que contém"

[2021-08-06 00:40] DavidWesley opened #394 "After the most recent atualization, the portuguese language pack extension no more run"
Issue Type: <b>Bug</b>

Open VSCode
Install Portuguese languange pack
Wait

Extension version: 1.59.2
VS Code version: Code 1.59.0 (379476f0e13988d90fab105c5c19e7abc8b1dea8, 2021-08-04T23:13:12.822Z)
OS version: Windows_NT x64 10.0.19043
Restricted Mode: No

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Core(TM) i7-7500U CPU @ 2.70GHz (4 x 2904)|
|GPU Status|2d_ca

[2021-08-06 10:42] EV1LG0D opened #395 "Chinese (Traditional) untranslated line"
See my picture, when you right click on code area, "find all reference" should changed to " 尋找所有參考"
![圖片](https://user-images.githubusercontent.com/18423666/128498287-6c73651f-ba04-45ca-beb5-44bdb4114984.png)

[2021-08-07 06:17] #341 closed

[2021-08-07 15:37] simon-pct opened #396 "[FR] "Clone Repository" button link not workingnot appear in home page using Spanish language"

[2021-08-07 17:44] #394 closed

[2021-08-08 05:01] ted1030 opened #397 "Traditional Chinese translation of text labels on the notebook toolbar is not correct"
![image](https://user-images.githubusercontent.com/37107237/128621355-3137761e-bebb-48c3-b4a5-0ed1fa164e38.png)
1.In English UI, the red circle above is "code", but it means "verification code" in Traditional Chinese UI. The correct translation is like the red circle below.
2. Some text is not translated.

[2021-08-11 16:51] darkfessing opened #399 "[RU] Terminal - Move to Editor Area"
New feature with terminal move: not translated into Russian. See screenshot.

![2021-08-11_19-49-54](https://user-images.githubusercontent.com/78741712/129070342-9b7aa721-06d8-4d38-95dd-dcd677aa0a6d.png)

[2021-08-14 22:45] dnicolson opened #401 "[zh-hans] Capitalization of "URL""
There is a [single instance](https://github.com/microsoft/vscode-loc/blob/a0d0ad3c704fcb0861cdb4f8295bdf9c9ef45970/i18n/vscode-language-pack-zh-hans/translations/extensions/simple-browser.i18n.json#L14) of "URL" being in lowercase, compared to 44 occurrences where it is uppercase.

[2021-08-16 10:09] ZJKung opened #402 "[zh-hant] Request correct translation in "vs/workbench/services/extensionManagement/browser/extensionBisect""
In `i18n\vscode-language-pack-zh-hant\translations\main.i18n.json`

Location: `vs/workbench/services/extensionManagement/browser/extensionBisect`  :

Translation Now:
[code]
Correct Translation:
[code]

![image](https://user-images.githubusercontent.com/34116485/129547654-4c929c3c-d51a-418b-aae9-7f477fb6a443.png)

[2021-08-16 11:27] v-mholloway commented on #387
change implemented. - it will take a few days to get into the build

[2021-08-16 11:33] v-mholloway commented on #390
change implemented - will take a few days to make it into the build

[2021-08-16 11:37] v-mholloway commented on #399
cannot find that string in the VScode subtenant.

[2021-08-16 11:40] v-mholloway commented on #401
Change implemented - it will take a few days to make it into the build

[2021-08-16 11:53] v-mholloway commented on #397
@ted1030 can you provide the Chinese text in this conversation so we can perform a search?

[2021-08-16 11:55] ted1030 commented on #397
The first is "驗證碼", and the second is "程式碼".

[2021-08-16 12:07] ted1030 commented on #397
Thanks.

[2021-08-16 12:09] v-mholloway commented on #386
bug opened 116506[https://dev.azure.com/GlobalCollaborationService/Global%20Collaboration%20Service%20Project/_workitems/edit/116506](url)

[2021-08-16 13:22] v-mholloway commented on #402
bug opened [116516](https://dev.azure.com/GlobalCollaborationService/Global%20Collaboration%20Service%20Project/_workitems/edit/116516)

[2021-08-16 13:29] v-mholloway commented on #395
@EV1LG0D can you provide more information as to how you reproduce this issue?

Note: all occurrences of that string in vscode, dev16 & dev17 Fabric translations are localized.
could the issue be further downstream?

[2021-08-16 20:15] hfabio commented on #390
Awesome, thank you!

[2021-08-17 10:23] OkayPJ commented on #315
Same in the zh-hans translations
https://github.com/microsoft/vscode-loc/blob/2405d6413c3f8fb940183d05b362528ae52f684e/i18n/vscode-language-pack-zh-hans/translations/main.i18n.json#L4053

[2021-08-17 12:58] v-mholloway commented on #382
linguists comments -
"there's nothing to change here"
"Trust = Vertrauensstellung and NOT VertrauensEINstellung"

[2021-08-17 12:58] #382 closed

[2021-08-17 13:24] hex-ci opened #407 "[zh-hans] Request correct translation in "vs/workbench/browser/workbench.contribution""
In `i18n/vscode-language-pack-zh-hans/translations/main.i18n.json`

Location: `vs/workbench/browser/workbench.contribution`

Translation Now:

[code]

Correct Translation:

[code]

[2021-08-17 18:19] dnicolson commented on #401
Closed via #403.

[2021-08-17 18:19] #401 closed

[2021-08-18 09:53] ZohebMOPO opened #411 "Language Pack for Hindi"
Can we start making a language pack for Hindi?. Hopefully I will make a PR

[2021-08-19 11:56] v-mholloway commented on #407
fix implemented: please allow a few days for the change to make it into the build

[2021-08-20 14:38] EV1LG0D commented on #395
just right click on code line.

[2021-08-20 14:38] EV1LG0D commented on #395
just right click on code line.

[2021-08-23 19:11] sdlins opened #420 "Unreachable keyboard shortcut for buttons due to accented letters [pt_BR]"
Hi, not sure it has something to do with the portuguese translation itself but, please, follow these steps:

1. Open a file or create a new one;
2. Make some edit;
3. Try to close the file;
4. You will see the alert confirmation asking you about saving. The options are: "`S`alvar" | "N`ã`o Salvar" | "Cancelar";

To save, I can press `S` that is fine. But, when I dont want to save, I **can't type `

[2021-08-24 03:00] QuentinHsu opened #422 "【zh-hans - 翻译建议】“替换云中的数据” => “将本地数据替换成云中数据”"
vscode-language-pack-zh-hans

https://github.com/microsoft/vscode-loc/blob/7b4380ac88439fc382a87539bc5e69d40dc6dfb0/i18n/vscode-language-pack-zh-hans/translations/main.i18n.json#L9837

上述翻译内容存在歧义：

翻译内容末尾的 “替换云中的数据”，有可能会理解为：将本地的数据作为父本，将云中的数据替换掉。进而与对应提示框中的 “替换本地” 选项产生矛盾，以至于疑惑。

https://github.com/microsoft/vscode-loc/blob/7b4380ac88439fc382a87539bc5e69d40dc6dfb0/i18n/vscode-language-pack-zh-hans/tr

[2021-08-24 10:52] v-mholloway commented on #420
a fix for this was already implemented, but it can take a number of days to make it into the build
Resource ID:	0;"Xliff file"\0;"Xliff Resources"\0;"src/vs/workbench/services/dialogs/browser/abstractFileDialogService.dontSave"
Relative File Path:	vscode-loc-drop/loc/en/src/en/vscode-workbench/vs_workbench_services_dialogs.xlf.lcg
Project:	VSCode
Subtenant:	VSCode

[2021-08-24 10:58] v-mholloway commented on #422
@QuentinHsu can you please provide more details in english here...
English String:?
Existing Translation:?
Proposed Translation:?

[2021-08-24 12:51] QuentinHsu commented on #422
I'm very sorry, but I initially thought I was using simplified Chinese to describe the content because it was about the translation of simplified Chinese.

https://github.com/microsoft/vscode-loc/blob/7b4380ac88439fc382a87539bc5e69d40dc6dfb0/i18n/vscode-language-pack-zh-hans/translations/main.i18n.json#L9837

The above translation contains ambiguities.

The "替换云中的数据" at the end of the translated c

[2021-08-24 13:02] v-mholloway commented on #422
@QuentinHsu thanks for the additional information. The change has now been implemented, but please allow a few days for the change to get into the build.

[2021-08-25 10:14] v-mholloway commented on #215
fix implemented. please allow a few days for the change to make it into the build

[2021-08-25 10:50] v-mholloway commented on #345
@danyeh would you have permissions to approve this https://github.com/microsoft/vscode-loc/pull/344/files to mitigate this issue?

[2021-08-25 10:53] v-mholloway commented on #315
fixes implemented - please all ow a few days for changes to get into the builkd

[2021-08-25 10:56] v-mholloway commented on #340
fix implemented - please allow a few days for the change to get into the build

[2021-08-25 10:57] v-mholloway commented on #342
closing a fix should now be in the build

[2021-08-25 10:57] #342 closed

[2021-08-25 10:57] v-mholloway commented on #343
closing as fix should now be in the build

[2021-08-25 10:57] #343 closed

[2021-08-25 10:58] v-mholloway commented on #350
closing as bug 111479 now resolved

[2021-08-25 10:58] #350 closed

[2021-08-25 10:59] v-mholloway commented on #353
closing as fix should now be in the build

[2021-08-25 10:59] #353 closed

[2021-08-25 11:00] v-mholloway commented on #362
closing as bug 111400 now resolved

[2021-08-25 11:00] #362 closed

[2021-08-25 11:01] v-mholloway commented on #386
closing as bug 116506 now resolved

[2021-08-25 11:01] #386 closed

[2021-08-25 11:01] v-mholloway commented on #387
closing a fix should be in the build now

[2021-08-25 11:01] #387 closed

[2021-08-25 11:02] v-mholloway commented on #390
closing as change should be in the build now

[2021-08-25 11:02] #390 closed

[2021-08-25 11:04] v-mholloway commented on #407
closng as fix should now be in the build

[2021-08-25 11:04] #407 closed

[2021-08-25 11:05] v-mholloway commented on #402
closing as bug 116516 now resolved

[2021-08-25 11:05] #402 closed

[2021-08-25 11:06] v-mholloway commented on #397
closing as change should be in the build now

[2021-08-25 11:06] #397 closed

[2021-08-25 14:12] v-mholloway commented on #197
these changes have also been implemented in Fabric - closing

[2021-08-25 14:24] v-mholloway commented on #199
Bug opened [118651](https://dev.azure.com/GlobalCollaborationService/Global%20Collaboration%20Service%20Project/_workitems/edit/118651)

[2021-08-25 14:47] ha0y commented on #199
@v-mholloway I really appreciate that you have resumed the l10n project after nearly one year. I'm suffering from those string translated by machine. Is it possible that we can contribute to translation instead of opening issues, just like the former MLCP? (I am a translator volunteer of [Home Assistant](https://github.com/home-assistant), having contributed 20000+ words.)

[2021-08-26 03:20] heartacker opened #427 "Simplified Chinese un translated"
Find all ref and Hierarchy
![image](https://user-images.githubusercontent.com/1876302/130894967-17df7306-4ffb-4425-9b35-64f9d51814f8.png)

same as https://github.com/microsoft/vscode-loc/issues/395

[2021-08-26 03:30] heartacker opened #428 "ReferenceView not Localization"
this extension:
buildin vscode:
https://marketplace.visualstudio.com/items?itemName=ms-vscode.references-view

1. view
![image](https://user-images.githubusercontent.com/1876302/130895697-ee3a5537-4e98-4479-9b54-fb39ad390d9f.png)

2. menu
ref issue:(about reference view)
https://github.com/microsoft/vscode-loc/issues/427
https://github.com/microsoft/vscode-loc/issues/395

[2021-08-26 13:05] heartacker opened #430 "cn-zh 建议将notebook 的 `在单元格上方执行` 改为 `执行上方所有单元格`"
将notebook 的 `在单元格上方执行` 改为 `执行上方所有单元格 `
#410
在单元格上方执行： 类似把这个cell 放在别的地址执行，应该是`执行上方的所有单元格，以便于后续执行当前单元格`

[2021-08-27 13:04] ha0y opened #434 "[zh-cn] A bunch of translation optimization"
Language: Chinese Simplified

---

String Identifier: noFolderHelp
Current Translation: `你尚未打开文件夹。\r\n[打开文件夹](command:{0})`
Requested Translation: `尚未打开文件夹。\r\n[打开文件夹](command:{0})`

---

String Identifier: searchWithoutFolder
Current Translation: `你尚未打开或指定文件夹。当前仅搜索打开的文件 -`
Requested Translation: `尚未打开或指定文件夹。当前仅搜索打开的文件 - `
Note: There should be a space at the end
<img width="378" alt="屏幕快照 2021-08

[2021-08-28 22:38] manudeli opened #437 "Korean: More proper sentence"
https://github.com/microsoft/vscode-loc/pull/435#pullrequestreview-741060890 #

[2021-08-28 23:00] #437 closed

[2021-08-28 23:02] manudeli commented on #345
I added change sentence understandable #431

[2021-08-28 23:33] danyeh commented on #345
@manudeli , @v-mholloway , thank you for  the feedback and followup!
I merged the PR so readme.md can take effect.
However, even the workbench feedback was merged in same time, the file will be overwritten by translation from loc platform (Fabric). So in the future, please just open 'Issue', don't create PR unless it is readme.md.

@v-mholloway , please help to follow up new workbench feedback (se

[2021-08-30 10:26] v-mholloway commented on #345
@danyeh string for workbench.editor.languageDetection now updated in Fabric.

[2021-08-30 10:26] #345 closed

[2021-08-30 10:40] v-mholloway commented on #215
fix should now be in the build - closing

[2021-08-30 10:40] #215 closed

[2021-08-30 10:40] v-mholloway commented on #339
fix should be in the build now - closing

[2021-08-30 10:40] #339 closed

[2021-08-30 10:47] v-mholloway commented on #427
@heartacker thanks for pointing that out.
@danyeh I cannot track down these resources in Fabric (https://github.com/microsoft/vscode-references-view/blob/566d5c35ff18f6000f6beb142c6cf108cecd39a2/package.json#L65-L161)
would you know where they can be translated?

[2021-08-30 10:49] v-mholloway commented on #430
closing as changes should be in the build now

[2021-08-30 10:49] #430 closed

[2021-08-30 11:01] v-mholloway commented on #434
changes now implemented - please allow a few days for fixes to get into the build

[2021-08-30 12:19] v-mholloway commented on #210
@danielcheng80
Can you provide a string identifier so I can be sure of the correct resource to change?

This is the string I find in our Translation platform (identifier 'simpleBrowserView.control.forward.title')...
![image](https://user-images.githubusercontent.com/77055370/131337535-6655700e-e646-4984-b991-2cc70d4e7be0.png)

[2021-08-30 12:21] pan93412 commented on #210
Seems like it is. Thanks a lot! :)

[2021-08-30 12:28] v-mholloway commented on #209
@Maxpxt
where possible could you use this template for strings you want changed...?
could you use this template:
Culture: *****
String Identifier: ***** (e.g. notebookActions.executeAbove)
English String: *****
Current Translation: *****
Requested Translation: ****
Screen Shot: ***** (when applicable)

[2021-08-30 12:31] v-mholloway commented on #210
fix implemented. please allow a few days for the change to get into the build

[2021-08-30 12:33] pan93412 commented on #210
Thanks :)

[2021-08-30 12:44] v-mholloway commented on #283
@v-ericawu could you use this template so we can target the correct resource for review...?
Culture: *****
String Identifier: ***** (e.g. notebookActions.executeAbove)
English String: *****
Current Translation: *****
Requested Translation: ****
Screen Shot: ***** (when applicable)

also, in your two screen shots above (actual and expected). Can you let us know the different platforms from which yo

[2021-08-30 12:49] v-mholloway commented on #325
@heartacker as before, might you be able to use this template to target the strings in question...?
Culture: *****
String Identifier: ***** (e.g. notebookActions.executeAbove)
English String: *****
Current Translation: *****
Requested Translation: ****
Screen Shot: ***** (when applicable)

currently I cannot track down those resources.

[2021-08-30 12:56] v-mholloway commented on #281
@v-ericawu we are not seeing this (R) in VSCode translations...
can you advise if you still experience this and where possible fill out this template so we can target the correct strings...
Culture: *****
String Identifier: ***** (e.g. notebookActions.executeAbove)
English String: *****
Current Translation: *****
Requested Translation: ****
Screen Shot: ***** (when applicable)

[2021-08-30 13:03] v-mholloway commented on #278
@danyeh as this is in the ReadMe, would you be able to approve this PR...?
[https://github.com/microsoft/vscode-loc/pull/441/files](https://github.com/microsoft/vscode-loc/pull/441/files)

[2021-08-30 13:06] v-mholloway commented on #277
@v-ericawu can you confirm that these issues are in the ReadMe...?
[https://github.com/microsoft/vscode-loc/blob/main/i18n/vscode-language-pack-zh-hant/README.md](https://github.com/microsoft/vscode-loc/blob/main/i18n/vscode-language-pack-zh-hant/README.md)

[2021-08-30 13:08] v-mholloway commented on #279
@v-ericawu can you fill out this template so we can target the correct strings...
Culture: *****
String Identifier: ***** (e.g. notebookActions.executeAbove)
English String: *****
Current Translation: *****
Requested Translation: ****
Screen Shot: ***** (when applicable)

[2021-08-30 13:14] v-mholloway commented on #276
@danyeh as this is the ReadMe, could you approve this PR?
[https://github.com/microsoft/vscode-loc/pull/441/files](https://github.com/microsoft/vscode-loc/pull/441/files)

[2021-08-30 14:51] heartacker commented on #427
hi, maybe we should file a issue to vscode-reference-view and tell her: let's get start to support ` i18n`

[2021-08-31 01:04] ZanderBrown opened #443 "British English ‘unpublished’?"
What happened?

[2021-08-31 10:21] v-mholloway commented on #276
PR Approved - closing

[2021-08-31 10:21] #276 closed

[2021-08-31 10:22] v-mholloway commented on #278
PR Approved - closing

[2021-08-31 10:22] #278 closed

[2021-08-31 10:44] v-mholloway commented on #214
Bug Opened [120012](https://dev.azure.com/GlobalCollaborationService/Global%20Collaboration%20Service%20Project/_workitems/edit/120012)

[2021-08-31 11:14] v-mholloway commented on #212
change implemented - please allow a few days for the fix to get into the build

[2021-08-31 11:46] stlr00 commented on #197
But it steel not fixed

[2021-08-31 11:57] v-mholloway commented on #196
@giovdi the suggestions you provided
'Blocca editor' - 'Block Editor'
'Sblocca editor'- 'Unlock Editor'

do not appear consistent with the meaning of 'Pin' or 'Unpin' can you give more details as to what you think the translations should be...?

Fabric Resources IDs:
0;"Xliff file"\0;"Xliff Resources"\0;"src/vs/workbench/browser/parts/editor/editor.contribution.pin"
0;"Xliff file"\0;"Xliff Resourc

[2021-08-31 13:53] v-mholloway commented on #209
bug opened [120100](https://dev.azure.com/GlobalCollaborationService/Global%20Collaboration%20Service%20Project/_workitems/edit/120100)

[2021-08-31 13:56] v-mholloway commented on #207
@lsht-cn what culture do you refer to...?
and can you provide more details as to the string in question... screen shot? string identifier?

[2021-09-01 01:36] heartacker commented on #399
FYI: https://github.com/microsoft/vscode/issues/132024 @v-mholloway

[2021-09-01 10:58] v-mholloway commented on #434
closing as changes should be in the build by now

[2021-09-01 10:58] #434 closed

[2021-09-01 11:01] v-mholloway commented on #210
closing as changes should be in the build now

[2021-09-01 11:01] #210 closed

[2021-09-01 11:02] v-mholloway commented on #199
closing as global bug now resolved

[2021-09-01 11:02] #199 closed

[2021-09-01 11:13] v-mholloway commented on #223
@LinqLover can you provide more information as to the strings that require changing...?
if you could use this template where applicable please...
Culture: *****
String Identifier: ***** (e.g. notebookActions.executeAbove)
English String: *****
Current Translation: *****
Requested Translation: ****
Screen Shot: ***** (when applicable)

[2021-09-01 11:14] v-mholloway commented on #216
@startdawn can you provide more information (in english) as to the issue here.
could you use this template if possible...
Culture: *****
String Identifier: ***** (e.g. notebookActions.executeAbove)
English String: *****
Current Translation: *****
Requested Translation: ****
Screen Shot: ***** (when applicable)

[2021-09-01 11:16] v-mholloway commented on #191
@jekalhong can you give more information (in english) as to your request here?
 might you be able to use this template to target the strings in question...?
Culture: *****
String Identifier: ***** (e.g. notebookActions.executeAbove)
English String: *****
Current Translation: *****
Requested Translation: ****
Screen Shot: ***** (when applicable)

[2021-09-01 12:45] LinqLover commented on #223
- Culture: de-de
Current translation: "Dieser haltepunkt hat eine Bedingung, die beim Entfernen verloren geht. Deaktivieren Sie stattdessen ggf. den haltepunkt."
Requested translation: "Dieser Haltepunkt hat eine Bedingung, die beim Entfernen verloren geht. Deaktivieren Sie stattdessen ggf. den Haltepunkt."
- Culture: de-de
Current translation: "Deaktivieren Haltepunkt"
Requested translation: "Hal

[2021-09-01 14:04] v-mholloway commented on #223
@LinqLover unfortunately I cannot find these strings in our localization platform. they may have been fixed since the initial post.
if you still see the issues, please send on some screen shots for us to work with.

[2021-09-01 14:29] v-mholloway commented on #395
closing this as a duplicate of https://github.com/microsoft/vscode-loc/issues/427

[2021-09-01 14:29] #395 closed

[2021-09-02 11:29] v-mholloway commented on #212
closing as fix should be in the build by now

[2021-09-02 11:29] #212 closed

[2021-09-03 03:31] LunaGod opened #450 "[zh-hans] The keywords of the inlayHints sample code should not be translated"
In `i18n/vscode-language-pack-zh-hans/translations/extensions/typescript-language-features.i18n.json`
Location: `contents/package`
Translation Now:
[code]
Correct Translation:
[code]

[2021-09-03 05:35] ycrack opened #451 "Typo in japanese"
Isn't this "インデント" (indent) rather than "インシデント" (incident) ?
https://github.com/microsoft/vscode-loc/blob/80be8adc469bcac3cbd80805e8b98109e973c7de/i18n/vscode-language-pack-ja/translations/main.i18n.json#L1468

[2021-09-03 10:42] v-mholloway commented on #209
closing as global bug now resolved

[2021-09-03 10:42] #209 closed

[2021-09-03 15:19] ted1030 commented on #277
@v-ericawu
The symbols in the first figure are "「" and "」", not square brackets "[" and "]".

[2021-09-03 17:40] ted1030 opened #452 "zh-tw translation suggestion"
![image](https://user-images.githubusercontent.com/37107237/132031393-5ed3dfce-40dc-4ed0-9a89-b9141d29019e.png)
Restart: 重新啟動
Restart Kernel: 重新啟動核心
Interrupt: 中斷
Interrupt Kernel: 中斷核心
Variables: 變數
Open Variables View: 開啟變數面板
Export: 匯出
Export As: 匯出為

When clicking "Export"
![image](https://user-images.githubusercontent.com/37107237/132033279-3989caae-f432-4568-9745-5b9408db181c.png)
Export As:

[2021-09-06 01:46] v-ericawu commented on #277
@v-mholloway Sorry for the late reply, the question is here in the ReadMe:
![image](https://user-images.githubusercontent.com/78774400/132149111-21abeb59-793d-4ed4-819f-f0912def43c7.png)

[2021-09-06 01:52] v-ericawu commented on #277
@ted1030 I think we should replace "**「」**" with " **" "** "
as the picture shows:
![image](https://user-images.githubusercontent.com/78774400/132149517-08172d66-5a09-4557-9417-6a9dada37429.png)

[2021-09-06 12:41] v-mholloway commented on #277
@v-ericawu can you make the necessary changes to the ReadMe and send on the link to the Pull request so I can get it approved...?

[2021-09-06 12:57] v-mholloway commented on #450
fix implemented - please allow a few days for changes to get into the build

[2021-09-06 13:00] v-mholloway commented on #451
@ycrack  yes it is. Can you provide the full translation please
"render tree indent guides": "????????????????????????"

[2021-09-06 13:10] v-mholloway commented on #452
@ted1030 any of strings I search for either cannot be found or are already translated in our localization databases.
can you provide any more information as to string identifiers and what your local setup consists of...?

[2021-09-06 13:18] ted1030 commented on #452
VS Code 1.60
Windows 10 20H2
Python extension 2021.9.1191016588
Jupyter extension 2021.9.1001205359

I found all strings in https://github.com/microsoft/vscode-jupyter/blob/main/package.nls.json
But those are not translated in the zh-tw version.

[2021-09-06 16:02] v-mholloway commented on #452
@danyeh @crsuzuki@microsoft.com I'm not finding these resources in Fabric. Would you guys know where they might be located?

[2021-09-07 00:32] ycrack commented on #451
@v-mholloway Sure.
[code]

NOTE: I'm not familiar with translation, so I'm not sure about accuracy of this.

[2021-09-07 02:03] v-ericawu commented on #277
@v-mholloway I don't know how to send a pull request, could you help to send a pull request?
The revised part is as follows:
![image](https://user-images.githubusercontent.com/78774400/132272617-2bac7d93-6d17-4aca-aaf4-ed913cb6af20.png)

[2021-09-07 10:20] v-mholloway commented on #451
bug opened [122234](https://dev.azure.com/GlobalCollaborationService/Global%20Collaboration%20Service%20Project/_workitems/edit/122234)

[2021-09-07 10:26] v-mholloway commented on #277
Pull request created with changes...
https://github.com/microsoft/vscode-loc/pull/453

@danyeh @crsuzuki@microsoft.com could you folks approve this PR...?

[2021-09-08 13:46] v-mholloway commented on #214
global bug resolved - closing

[2021-09-08 13:46] #214 closed

[2021-09-08 13:47] v-mholloway commented on #450
closing as changes should now be in the build

[2021-09-08 17:45] LinqLover commented on #223
Here it is:

![image](https://user-images.githubusercontent.com/38782922/132558689-8fe72d55-32e8-45e8-b01b-c1d24978a0f3.png)

Raised when clicking on a disabled breakpoint that has a condition.

[2021-09-09 11:17] v-mholloway commented on #223
@LinqLover the strings in that dialog are not the same as in your earlier comment... in any case, I still cannot find that dialog string in our translation libraries...
@danyeh might you know?

[2021-09-09 15:49] edimitchel opened #456 "Typo in French about Typescript"
Hi,

An issue was found in the translation of Typescript.

See #455

[2021-09-10 10:31] v-mholloway commented on #456
changes implemented in the Fabric system - please allow a few days for fixes to get into the build.
You can discard your pull request now.

[2021-09-11 13:46] plastic041 opened #457 "[Korean] whitespace in markdown code block backtics"
https://github.com/microsoft/vscode-loc/blob/cf72d279d29bd641445eb9420902b8a7cdb8bd4e/i18n/vscode-language-pack-ko/translations/extensions/typescript-language-features.i18n.json#L163

Line 163,

    ```typescript\r\n\r\nparseInt(/* str: */ '123', /* radix: */ 8)\r\n \r\n`` `

markdown code block should be closed with `` ``` ``, but there is a whitespace between second and third backticks, breaking

[2021-09-13 10:52] v-mholloway commented on #456
changes should be in the build now - closing

[2021-09-13 10:52] #456 closed

[2021-09-13 10:58] v-mholloway commented on #457
change implemented - please allow a few days for the change to get into the build

[2021-09-14 16:54] csigs opened #458 "[Test] This is a test - TLDR"

[2021-09-14 17:39] amiria703 opened #459 "How to add Persian language?"
Hi!
I can translate MS VS Code in Persian
But I don't know how to do so

[2021-09-15 11:19] v-mholloway commented on #457
fix should be in the build now - closing

[2021-09-15 14:36] csigs opened #462 "[Test] This is another test - TLDR"

[2021-09-15 16:55] csigs commented on #462
The source feedback (https://dev.azure.com/ceapex/e6a8d41e-bbd3-4dbd-ad4f-a7f1bb6c079c/_apis/wit/workItems/488585) in ADO is closed.

[2021-09-15 17:08] #462 closed

[2021-09-15 17:08] csigs commented on #462
The source feedback in ADO (https://dev.azure.com/ceapex/e6a8d41e-bbd3-4dbd-ad4f-a7f1bb6c079c/_apis/wit/workItems/488585) is closed.

[2021-09-16 11:06] v-mholloway commented on #451
closing as bug is now resolved

[2021-09-16 11:06] #451 closed

[2021-09-16 15:20] csigs opened #463 "[Test] This is another test - TLDR"
[Test] This is a test - TLDR

[2021-09-16 15:58] csigs commented on #463
The source feedback in ADO (https://dev.azure.com/ceapex/e6a8d41e-bbd3-4dbd-ad4f-a7f1bb6c079c/_workitems/edit/489073) is closed.

[2021-09-16 16:00] csigs commented on #463
The issue is reactivated...

[2021-09-16 16:09] csigs commented on #463
The issue has been resolved per the feedback in ADO. Please reference the ADO feedback below for details.
https://dev.azure.com/ceapex/e6a8d41e-bbd3-4dbd-ad4f-a7f1bb6c079c/_workitems/edit/489073

[2021-09-16 16:10] csigs commented on #463
Issue doesn't look to be resolved. Please check TLDR for details.

[2021-09-17 19:25] #463 closed

[2021-09-17 19:31] #458 closed

[2021-09-17 19:35] csigs opened #465 "This is a test issue form GitHub"
TLDR...

[2021-09-17 19:37] csigs commented on #465
The issue has been resolved per the feedback in ADO. Please reference the ADO feedback below for details.
https://dev.azure.com/ceapex/e6a8d41e-bbd3-4dbd-ad4f-a7f1bb6c079c/_workitems/edit/489658

[2021-09-17 19:40] #465 closed

[2021-09-17 19:47] csigs opened #466 "This is a testing issue"
TLDR...
![image](https://user-images.githubusercontent.com/13859395/133845340-08d67037-8ea9-448a-9a73-62973ea0a9b6.png)

[2021-09-17 19:50] csigs commented on #466
The issue has been resolved per the feedback in ADO. Please reference the ADO feedback below for details.
https://dev.azure.com/ceapex/e6a8d41e-bbd3-4dbd-ad4f-a7f1bb6c079c/_workitems/edit/489665

[2021-09-17 19:51] csigs commented on #466
Hey the issue is not resolved.

[2021-09-17 19:54] #466 closed

[2021-09-17 22:25] csigs opened #467 "[Test] It's testing issue"
TLDR...
![image](https://user-images.githubusercontent.com/13859395/133859897-1c0b779c-2ced-47ea-b623-98109bbad26a.png)

[2021-09-17 22:28] csigs commented on #467
The issue has been resolved per the feedback in ADO. Please reference the ADO feedback below for details.
https://dev.azure.com/ceapex/e6a8d41e-bbd3-4dbd-ad4f-a7f1bb6c079c/_workitems/edit/489724

[2021-09-17 22:29] csigs commented on #467
The issue is not really resolved.

[2021-09-18 01:43] ha0y opened #468 "[zh-cn] Some translation improvements"
Language: Chinese Simplified

---

String Identifier: untitledTextEditorHint
Current Translation:
[code]

Requested Translation:
[code]
![image](https://user-images.githubusercontent.com/30557072/133867727-7ecf9620-ccd9-43fb-962a-a6d9c4443f54.png)

---

String Identifier: miCopyLinesUp
Current Translation: `向上复制行(&&C)`
Requested Translation: `向上复制一行(&&C)`

---

String Identifier: miSmartSelectGrow

[2021-09-19 12:06] stlr00 commented on #197
This is not fixed yet, why closed?

[2021-09-19 18:28] rswift commented on #443
I've been pondering the same thing... it seems to have vanished? VSCode throws a wobbler on load, and the language pack is no longer in the market place?

[2021-09-20 11:05] v-mholloway commented on #197
These changes were implemented in our localization systems on 8/25...
@danyeh it appears that these changes did not make it into the build... can you have a look...?
"format.insertSpaceAfterOpeningAndBeforeClosingNonemptyBraces"
"miSplitEditorUp"
![image](https://user-images.githubusercontent.com/77055370/133991574-9d8958bf-a62d-44ec-b6ed-7bacced0f920.png)
![image](https://user-images.githubuserco

[2021-09-20 11:30] v-mholloway commented on #468
bug Opened [127614](https://dev.azure.com/GlobalCollaborationService/Global%20Collaboration%20Service%20Project/_workitems/edit/127614)

[2021-09-21 20:08] BartolomeSintes opened #469 "[Spanish translation] "Workspace" is translated as "Área de trabajo" or as "Espacio de trabajo" in File menu and other places"
Hi,

In the English VSCode 1.60 there are four options with the "Workspace" word in the File menu:
Open Workspace...
Add Folder to Workspace...
Save Workspace As...
Duplicate Workspace

These four strings are translated in Spanish VSCode 1.60 as:
Abrir el Espacio de trabajo...
Agregar carpeta al área de trabajo...
Guardar área de trabajo como ...
Área de trabajo duplicada

"Workspace" is translate

[2021-09-21 20:17] BartolomeSintes opened #470 "[Spanish translation] Inconsistent capitalization"
Hi,
In some menu options (in VSCode 1.60) not only the first word is capitalized:
Archivo > Abrir el Espacio de trabajo...
Ver > Mostrar Minimapa
Ir > Ir a Declaración
Ir > Ir a Implementaciones
Ir > Ir a Referencias
Ejecutar > Ejecutar Sin depuración

In every other menu option, only the first word is capitalized (as usual in Spanish).

Best regards,
Bartolomé Sintes

[2021-09-21 22:17] csigs commented on #467
The issue has been resolved per the feedback in ADO. Please reference the ADO feedback below for details.
https://dev.azure.com/ceapex/e6a8d41e-bbd3-4dbd-ad4f-a7f1bb6c079c/_workitems/edit/489724

[2021-09-21 22:22] csigs commented on #467
The fix is not working.

[2021-09-21 22:22] csigs commented on #467
The issue has been fixed in localization platform. The fix should be exported to production repo in two days. The fix will take effect in next release!
 Reference id:489724

[2021-09-21 22:23] csigs commented on #467
The issue has been fixed in localization platform. The fix should be exported to production repo in two days. The fix will take effect in next release!
 Reference id:489724

[2021-09-21 22:28] csigs commented on #467
The issue has been fixed in localization platform. The fix should be exported to production repo in two days. The fix will take effect in next release!
 Reference id:489724

[2021-09-22 09:46] lumodino opened #472 "Traducción en español texto nuevo archivo "Seleccione un idioma para empezar. Empiece...""
El texto debería ser "Seleccione un lenguaje para empezar. Empiece..."

[2021-09-22 14:46] v-mholloway commented on #470
@BartolomeSintes can you fill out this template so we can target the correct strings...
Culture: *****
String Identifier: ***** (e.g. notebookActions.executeAbove)
English String: *****
Current Translation: *****
Requested Translation: ****
Screen Shot: ***** (when applicable)

[2021-09-23 10:53] v-mholloway commented on #469
Bug Opened [128587](https://dev.azure.com/GlobalCollaborationService/Global%20Collaboration%20Service%20Project/_workitems/edit/128587)

[2021-09-23 15:39] fxbenard opened #473 "French - Poubelle > Corbeille"
Déplacer vers la **Poubelle** > Déplacer vers la **Corbeille**

<img width="315" alt="image" src="https://user-images.githubusercontent.com/802114/134538839-6312e4fc-aad4-403e-8e67-528611fc460c.png">

[2021-09-23 16:16] v-mholloway commented on #277
change approved now... closing

[2021-09-23 16:16] #277 closed

[2021-09-23 16:21] v-mholloway commented on #473
change implemented - should get into the build in a few days

[2021-09-23 16:27] v-mholloway commented on #459
@danyeh do you have the relevant info for @amiria703 ?

[2021-09-23 16:31] v-mholloway commented on #411
@danyeh do you have the relevant info for @ZohebMOPO

[2021-09-23 16:33] v-mholloway commented on #472
@lumodino can you fill out this template so we can target the correct strings...
Culture: *****
String Identifier: ***** (e.g. notebookActions.executeAbove)
English String: *****
Current Translation: *****
Requested Translation: ****
Screen Shot: ***** (when applicable)

[2021-09-23 16:44] v-mholloway commented on #222
@danyeh do you have the relevant info for @aidiss

[2021-09-23 16:45] v-mholloway commented on #221
@elve960520 we need more detailed information to be able to proceed here?

[2021-09-23 16:47] v-mholloway commented on #211
@danyeh can you provide more info for @wojtekmaj  ?

[2021-09-23 16:55] v-mholloway commented on #177
@danyeh can you provide more info for @ngohungphuc

[2021-09-23 19:41] BartolomeSintes commented on #470
Hi, v-mhlllowa.

I am not sure where to find the String identifiers. I have searched English strings in VSCode source code and selected command ids next to them (hoping these are the String identifiers).
I have not included screen shots.

Culture: Spanish
String Identifier: workbench.action.openWorkspace
English String: "Open Workspace..."
Current Translation: "Abrir el Espacio de trabajo..."
Requ

[2021-09-24 01:46] csigs commented on #211
test...

[2021-09-24 03:39] danyeh commented on #211
Hello all, remaining way to contribute is through github issue to give feedback of existing translation. We have made it clear in readme.
For example, here.
https://github.com/microsoft/vscode-loc/tree/main/i18n/vscode-language-pack-pt-BR#contributing

[2021-09-24 03:39] #211 closed

[2021-09-24 10:35] v-mholloway commented on #468
bug resolved - closing

[2021-09-24 10:35] #468 closed

[2021-09-24 11:24] v-mholloway commented on #470
@BartolomeSintes thanks for the additional details. these changes are implemented now, but will take a few days to get into the build.

[2021-09-24 14:16] BartolomeSintes commented on #470
Thank you for your excellent work!

[2021-09-25 16:53] suneel-eng opened #474 "Language pack for Telugu"
Can we add localization for **Telugu** language...?

[2021-09-26 11:27] stlr00 commented on #197
Now fixed

[2021-09-26 11:27] #197 closed

[2021-09-27 10:07] v-mholloway commented on #473
closing as item should be in the build by now

[2021-09-27 10:07] #473 closed

[2021-09-27 10:08] v-mholloway commented on #470
closing as the changes should be in the build by now

[2021-09-27 10:08] #470 closed

[2021-09-27 10:09] v-mholloway commented on #474
@danyeh would you be able to provide more information here?

[2021-09-27 17:27] csigs commented on #452
The issue has been fixed in localization platform and fix should be exported to production repo in two days. The fix will take effect in next release! (Reference id:494029)

[2021-09-28 00:10] csigs opened #475 "English language pack: Translation misses a backslash in the label#116198"
It's not clear from the hover that you're meant to use `$(id)` because the icon gets resolved:

![image](https://user-images.githubusercontent.com/2193314/107372776-a4f59d80-6a9a-11eb-93d2-1b267a47aa06.png)

Making `theme icon reference` a link pointing to API docs would be helpful too.

[2021-09-28 00:10] csigs opened #476 "Bir Bölgeyi türkçeye çevirmeyi unutmuşunuz #133374"
İhtiyaç duyulan veri gönderilemeyecek kadar büyük olduğu için, bu veriyi panonuza ko
Issue Type: <b>Bug</b>

Gezgin bölümünde open folder yazıyor bunun tr paketinde dosya seç yada dosya aç olması gerekiyor
kuroibaratr@gmail.com
mailden ulaşabilirsiniz ,isterseniz ss atarım
iyi günler

VS Code version: Code 1.60.1 (83bd43bc519d15e50c4272c6cf5c1479df196a4d, 2021-09-10T17:07:10.714Z)
OS version: Wind

[2021-09-28 00:12] #475 closed

[2021-09-28 00:12] #476 closed

[2021-09-28 00:41] csigs opened #477 "English language pack: Translation misses a backslash in the label#116198"
GitHub bug ported from https://github.com/microsoft/vscode/issues/116198
It's not clear from the hover that you're meant to use `$(id)` because the icon gets resolved:

![image](https://user-images.githubusercontent.com/2193314/107372776-a4f59d80-6a9a-11eb-93d2-1b267a47aa06.png)

Making `theme icon reference` a link pointing to API docs would be helpful too.

[2021-09-28 00:41] csigs opened #478 "Bir Bölgeyi türkçeye çevirmeyi unutmuşunuz #133374"
GitHub bug ported from https://github.com/microsoft/vscode/issues/133374
İhtiyaç duyulan veri gönderilemeyecek kadar büyük olduğu için, bu veriyi panonuza ko
Issue Type: <b>Bug</b>

Gezgin bölümünde open folder yazıyor bunun tr paketinde dosya seç yada dosya aç olması gerekiyor
kuroibaratr@gmail.com
mailden ulaşabilirsiniz ,isterseniz ss atarım
iyi günler

VS Code version: Code 1.60.1 (83bd43bc519

[2021-09-28 00:45] csigs opened #479 "English language pack: Translation misses a backslash in the label(Ported from https://github.com/microsoft/vscode/issues/116198)"
GitHub bug ported from https://github.com/microsoft/vscode/issues/116198
=============
It's not clear from the hover that you're meant to use `$(id)` because the icon gets resolved:

![image](https://user-images.githubusercontent.com/2193314/107372776-a4f59d80-6a9a-11eb-93d2-1b267a47aa06.png)

Making `theme icon reference` a link pointing to API docs would be helpful too.

[2021-09-28 00:45] csigs opened #480 "Bir Bölgeyi türkçeye çevirmeyi unutmuşunuz (Ported from https://github.com/microsoft/vscode/issues/133374)"
GitHub bug ported from https://github.com/microsoft/vscode/issues/133374
=============
İhtiyaç duyulan veri gönderilemeyecek kadar büyük olduğu için, bu veriyi panonuza ko
Issue Type: <b>Bug</b>

Gezgin bölümünde open folder yazıyor bunun tr paketinde dosya seç yada dosya aç olması gerekiyor
kuroibaratr@gmail.com
mailden ulaşabilirsiniz ,isterseniz ss atarım
iyi günler

VS Code version: Code 1.60.

[2021-09-28 00:47] csigs opened #481 "English language pack: Translation misses a backslash in the label(Ported from https://github.com/microsoft/vscode/issues/116198)"
GitHub bug ported from https://github.com/microsoft/vscode/issues/116198
=============
It's not clear from the hover that you're meant to use `$(id)` because the icon gets resolved:

![image](https://user-images.githubusercontent.com/2193314/107372776-a4f59d80-6a9a-11eb-93d2-1b267a47aa06.png)

Making `theme icon reference` a link pointing to API docs would be helpful too.

[2021-09-28 00:47] csigs opened #482 "Bir Bölgeyi türkçeye çevirmeyi unutmuşunuz (Ported from https://github.com/microsoft/vscode/issues/133374)"
GitHub bug ported from https://github.com/microsoft/vscode/issues/133374
=============
İhtiyaç duyulan veri gönderilemeyecek kadar büyük olduğu için, bu veriyi panonuza ko
Issue Type: <b>Bug</b>

Gezgin bölümünde open folder yazıyor bunun tr paketinde dosya seç yada dosya aç olması gerekiyor
kuroibaratr@gmail.com
mailden ulaşabilirsiniz ,isterseniz ss atarım
iyi günler

VS Code version: Code 1.60.

[2021-09-28 00:50] #482 closed

[2021-09-28 00:50] #481 closed

[2021-09-28 00:50] #480 closed

[2021-09-28 00:50] #478 closed

[2021-09-28 01:44] csigs opened #483 "English language pack: Translation misses a backslash in the label"
GitHub bug ported from https://github.com/microsoft/vscode/issues/116198
=============
It's not clear from the hover that you're meant to use `$(id)` because the icon gets resolved:

![image](https://user-images.githubusercontent.com/2193314/107372776-a4f59d80-6a9a-11eb-93d2-1b267a47aa06.png)

Making `theme icon reference` a link pointing to API docs would be helpful too.

[2021-09-28 01:44] csigs opened #484 "Bir Bölgeyi türkçeye çevirmeyi unutmuşunuz"
GitHub bug ported from https://github.com/microsoft/vscode/issues/133374
=============
İhtiyaç duyulan veri gönderilemeyecek kadar büyük olduğu için, bu veriyi panonuza ko
Issue Type: <b>Bug</b>

Gezgin bölümünde open folder yazıyor bunun tr paketinde dosya seç yada dosya aç olması gerekiyor
kuroibaratr@gmail.com
mailden ulaşabilirsiniz ,isterseniz ss atarım
iyi günler

VS Code version: Code 1.60.

[2021-09-28 01:48] csigs opened #485 "English language pack: Translation misses a backslash in the label"
GitHub bug ported from https://github.com/microsoft/vscode/issues/116198
=============
It's not clear from the hover that you're meant to use `$(id)` because the icon gets resolved:

![image](https://user-images.githubusercontent.com/2193314/107372776-a4f59d80-6a9a-11eb-93d2-1b267a47aa06.png)

Making `theme icon reference` a link pointing to API docs would be helpful too.

[2021-09-28 01:48] csigs opened #486 "Bir Bölgeyi türkçeye çevirmeyi unutmuşunuz"
GitHub bug ported from https://github.com/microsoft/vscode/issues/133374
=============
İhtiyaç duyulan veri gönderilemeyecek kadar büyük olduğu için, bu veriyi panonuza ko
Issue Type: <b>Bug</b>

Gezgin bölümünde open folder yazıyor bunun tr paketinde dosya seç yada dosya aç olması gerekiyor
kuroibaratr@gmail.com
mailden ulaşabilirsiniz ,isterseniz ss atarım
iyi günler

VS Code version: Code 1.60.

[2021-09-28 01:49] csigs opened #487 "English language pack: Translation misses a backslash in the label"
GitHub bug ported from https://github.com/microsoft/vscode/issues/116198
=============
It's not clear from the hover that you're meant to use `$(id)` because the icon gets resolved:

![image](https://user-images.githubusercontent.com/2193314/107372776-a4f59d80-6a9a-11eb-93d2-1b267a47aa06.png)

Making `theme icon reference` a link pointing to API docs would be helpful too.

[2021-09-28 01:50] csigs opened #488 "Bir Bölgeyi türkçeye çevirmeyi unutmuşunuz"
GitHub bug ported from https://github.com/microsoft/vscode/issues/133374
=============
İhtiyaç duyulan veri gönderilemeyecek kadar büyük olduğu için, bu veriyi panonuza ko
Issue Type: <b>Bug</b>

Gezgin bölümünde open folder yazıyor bunun tr paketinde dosya seç yada dosya aç olması gerekiyor
kuroibaratr@gmail.com
mailden ulaşabilirsiniz ,isterseniz ss atarım
iyi günler

VS Code version: Code 1.60.

[2021-09-28 01:56] #488 closed

[2021-09-28 01:57] #486 closed

[2021-09-28 01:57] #483 closed

[2021-09-28 01:57] #484 closed

[2021-09-28 01:57] #485 closed

[2021-09-28 02:14] csigs opened #489 "English language pack: Translation misses a backslash in the label"
GitHub bug ported from https://github.com/microsoft/vscode/issues/116198
=============
It's not clear from the hover that you're meant to use `$(id)` because the icon gets resolved:

![image](https://user-images.githubusercontent.com/2193314/107372776-a4f59d80-6a9a-11eb-93d2-1b267a47aa06.png)

Making `theme icon reference` a link pointing to API docs would be helpful too.

[2021-09-28 02:14] csigs opened #490 "Bir Bölgeyi türkçeye çevirmeyi unutmuşunuz (Ported from https://github.com/microsoft/vscode/issues/133374)"
GitHub bug ported from https://github.com/microsoft/vscode/issues/133374
=============
İhtiyaç duyulan veri gönderilemeyecek kadar büyük olduğu için, bu veriyi panonuza ko
Issue Type: <b>Bug</b>

Gezgin bölümünde open folder yazıyor bunun tr paketinde dosya seç yada dosya aç olması gerekiyor
kuroibaratr@gmail.com
mailden ulaşabilirsiniz ,isterseniz ss atarım
iyi günler

VS Code version: Code 1.60.

[2021-09-28 02:21] #489 closed

[2021-09-28 14:08] v-mholloway commented on #283
@v-ericawu can confirm if this exists as I cannot reproduce the issue...
![image](https://user-images.githubusercontent.com/77055370/135103775-b124f39d-32d7-49f0-b0be-9796fa292bc3.png)

[2021-09-28 14:16] v-mholloway commented on #279
@v-ericawu looking at the english version of the same text, shouldn't the ': ' be present in Chinese?
![image](https://user-images.githubusercontent.com/77055370/135105197-7f8748d0-5f98-40d2-a3b1-9440b29c4980.png)

[2021-09-28 14:24] v-mholloway commented on #281
Actually, this is by design for languages with CJK character sets to accommodate shortcut keys

[2021-09-28 14:24] #281 closed

[2021-09-28 22:19] csigs opened #491 "English language pack: Translation misses a backslash in the label(Ported from https://github.com/microsoft/vscode/issues/116198)"
GitHub bug ported from https://github.com/microsoft/vscode/issues/116198
=============
It's not clear from the hover that you're meant to use `$(id)` because the icon gets resolved:

![image](https://user-images.githubusercontent.com/2193314/107372776-a4f59d80-6a9a-11eb-93d2-1b267a47aa06.png)

Making `theme icon reference` a link pointing to API docs would be helpful too.

[2021-09-28 22:19] csigs opened #492 "Bir Bölgeyi türkçeye çevirmeyi unutmuşunuz (Ported from https://github.com/microsoft/vscode/issues/133374)"
GitHub bug ported from https://github.com/microsoft/vscode/issues/133374
=============
İhtiyaç duyulan veri gönderilemeyecek kadar büyük olduğu için, bu veriyi panonuza ko
Issue Type: <b>Bug</b>

Gezgin bölümünde open folder yazıyor bunun tr paketinde dosya seç yada dosya aç olması gerekiyor
kuroibaratr@gmail.com
mailden ulaşabilirsiniz ,isterseniz ss atarım
iyi günler

VS Code version: Code 1.60.

[2021-09-28 22:28] #492 closed

[2021-09-28 22:28] #491 closed

[2021-09-29 01:35] v-ericawu commented on #283
@v-mholloway This issue only repro on Linux ARM64 machine

[2021-09-29 01:45] v-ericawu commented on #279
@v-mholloway I think the ":" sign here is a symbol in the English format, while the Chinese ":" is a certain distance from the text in front of the symbol
![image](https://user-images.githubusercontent.com/78774400/135188871-fd185a7f-0a4d-43a1-b51c-6e8915c028d1.png)

[2021-09-29 01:57] csigs commented on #467
The issue has been fixed in localization platform and fix should be exported to production repo in two days. The fix will take effect in next release! (Reference id:494792)

[2021-09-29 02:17] csigs commented on #467
Investigated by Loc Team: It's not a translation issue. (Reference id:494792)

[2021-09-29 02:26] #467 closed

[2021-09-29 02:26] csigs commented on #467
The issue has been fixed in localization platform and the fix should be exported to production repo and will take effect in next release! (Reference id: 494792)

[2021-09-29 11:06] v-mholloway commented on #469
bug resolved. closing ticket

[2021-09-29 11:06] #469 closed

[2021-09-29 11:16] v-mholloway commented on #279
@v-ericawu changes implemented and should be in the build in a few days.

[2021-09-29 11:18] v-mholloway commented on #283
label changed... this is a display issue on a Linux ARM64 machine.

[2021-09-29 17:34] BartolomeSintes commented on #469
Unfortunately, I can not see the bug 128587. What have you decided?

[2021-09-30 10:21] v-mholloway commented on #469
these are the strings now after being reviewed by linguists...
![image](https://user-images.githubusercontent.com/77055370/135437914-ec3ef15c-9bc7-4d37-8264-c3618c7af2ea.png)

[2021-09-30 19:41] BartolomeSintes commented on #469
Thanks. I also prefer "área de trabajo" over "espacio de trabajo", but I am surprised to see "Duplicate Workspace" translated as "Área de trabajo duplicada". I believe it should be "Duplicar área de trabajo". I would suggest to ask Benjamin Pasero, for instance. It will only take him one minute to decide which one is the right translation.
By the way, if "workspace" is translated as "área de traba

[2021-10-01 13:27] v-mholloway commented on #279
closing as the change should be in the build now

[2021-10-01 13:27] #279 closed

[2021-10-02 03:19] suneel-eng commented on #474
may be there is a chance that some of developers ( beginners ) in our region will face difficulty to understand english terms. so, I thought it'll be useful for beginners and people who won't understand english quickly.

[2021-10-04 08:29] flamott commented on #279
Simplified Chinese [style guide](https://www.microsoft.com/en-us/language/StyleGuides?rtc=1) suggests using English colon mark instead of Chinese full-width colon mark in software, and most importantly this is followed by previous vscode localization effort. So changing this creates an inconsistency issue.

[2021-10-05 00:43] danyeh commented on #459
As far as I know, VSCode doesn't support RTL language as display language. So won't be able to add even have contribution on translation.
CC: @TylerLeonhardt.

[2021-10-05 00:43] #459 closed

[2021-10-05 01:12] TylerLeonhardt commented on #459
That's correct. We don't support RTL languages at this time.

https://github.com/microsoft/vscode/issues/86667

[2021-10-05 01:38] danyeh commented on #443
@Tyler James Leonhardt, no longer in microsoft publish scope?

[2021-10-05 02:59] danyeh commented on #474
@suneel-eng , Microsoft won't host localization project for languages not in scope outlined in the repo. If you are ok to manage the localization project yourself, the path is available to create your own language pack. See how to create language pack topic in the wiki of this repo. Thanks!

CC: @TylerLeonhardt.

[2021-10-05 02:59] #474 closed

[2021-10-05 03:01] danyeh commented on #325
The string is in package.json. https://github.com/microsoft/vscode-loc/blob/main/i18n/vscode-language-pack-de/package.json#L3

[2021-10-05 03:04] danyeh commented on #411
@ZohebMOPO  . Microsoft won't host localization project for languages not in scope outlined in the repo. If you are ok to manage the localization project yourself, the path is available to create your own language pack. See how to create language pack topic in the wiki of this repo. Thanks!

CC: @TylerLeonhardt.

[2021-10-05 03:04] #411 closed

[2021-10-05 10:26] heartacker commented on #325
https://github.com/microsoft/vscode-loc/blob/main/i18n/vscode-language-pack-zh-hans/package.json#3
简体中文不在L3

[2021-10-05 10:31] v-mholloway commented on #325
@danyeh those strings do not appear to be in Fabric...
https://github.com/microsoft/vscode-loc/blob/main/i18n/vscode-language-pack-ko/package.json
https://github.com/microsoft/vscode-loc/blob/main/i18n/vscode-language-pack-zh-hans/package.json

I've created two PRs with the changes if that suits and you could approve...?
https://github.com/microsoft/vscode-loc/pull/495
https://github.com/microsoft

[2021-10-05 13:18] heartacker commented on #325
Thanks. And I think you should create for all language,  Not only this two.

[2021-10-05 17:24] danyeh commented on #325
Thanks @v-mholloway for the implementation! I merged the change.
Thanks @heartacker for the feedback!
Let's confirm if this works for implemented two languages before extend to others.

[2021-10-05 17:42] TylerLeonhardt commented on #443
👋  hi there. The English (UK) language pack is causing more harm than good now because it hadn’t been updated in a very long time… because of this, old strings are being used when new ones should so you run into situations where:
* the user sees placeholders (literally the text `{0}`) in the strings
* the user sees old text that has been updated

Because of this, and because another dialect of Eng

[2021-10-05 21:57] ZanderBrown commented on #443
I'd be interesting in helping out with updating it, but really if your ending up with old strings used when the source has been updated it sounds like a flaw in the localisation system — Though I can't say I ever noticed any placeholders

In GNOME we actually call it the Wastebasket, but arguably things like colour are more important (I first noticed the pack was gone when I got no results for "co

[2021-10-06 05:19] ha0y commented on #468
@v-mholloway
I'm using the latest language pack release. It seems that no changes are applied. All strings reported remains the same. And I could not see any localization files updating [commits](https://github.com/microsoft/vscode-loc/commits/main) in recent two weeks. Would you please take a further look at it?

[2021-10-06 07:26] rswift commented on #443
@ZanderBrown don't worry old bean, us entitled idiots can stick together and grumble about the lack of ColourfulBinLocalisations ;)

I'd also be willing to help out. The lack of usage does make me wonder if non-`en-US` speakers have become used to the US English content that people no longer bother seeking out localisation?

[2021-10-06 09:37] v-mholloway commented on #468
@danyeh
I can see the changes were checked in (e.g. https://dev.azure.com/ceapex/Fabric-Prod/_git/65a58888-d520-4614-90ec-ff7ceab11dae-repo/commit/4a85fb369cfd31832886d74c4304028d7b3f0b1b?refName=refs%2Fheads%2Fmaster&path=%2Floc%2Fecc6327a-afbc-49ed-99bb-e7edac03f97f%2F5ac238c4-780c-424d-9b5b-d5769e23d2c9.lcl&_a=compare)

shouldnt they be in the build by now...?

[2021-10-08 01:54] ha0y commented on #468
@v-mholloway @danyeh
As you can see, the localization files have not been modified for over a month. Not only zh-cn, but all languages. I can see commits like `update localization files microsoft/vscode-loc-drop@xxxxx` before but now I can only see the version number bumping. Does your automation system lost connection to GitHub or...?

![image](https://user-images.githubusercontent.com/30557072/1

[2021-10-08 02:00] #452 closed

[2021-10-08 02:02] ted1030 commented on #452
Some translation were applied in jupyter extension.

[2021-10-08 02:15] danyeh commented on #468
@TylerLeonhardt , handoff build down? See comment above.

[2021-10-08 20:02] danyeh commented on #177
@ngohungphuc , Microsoft won't host localization project for languages not in scope outlined in the repo. If you are ok to manage the localization project yourself, the path is available to create your own language pack. See how to create language pack topic in the wiki of this repo. Thanks!

[2021-10-08 20:02] #177 closed

[2021-10-09 02:23] heartacker commented on #325
it works, thanks
![image](https://user-images.githubusercontent.com/1876302/136640617-7442e6d7-3e2e-410c-8a92-5305f7a62958.png)

BTW, we can‘t search using `中文`, we should use `简体`和 `简体中文`

[2021-10-10 16:05] ghost opened #504 "Catalan translation"
Issue to track VSCode translation to the catalan language.

[2021-10-11 20:43] TylerLeonhardt commented on #504
Microsoft won't host localization project for languages not in scope outlined in the repo. If you are ok to manage the localization project yourself, the path is available to create your own language pack. See how to create language pack topic in the wiki of this repo. Thanks!

[2021-10-11 20:43] #504 closed, assigned to TylerLeonhardt

[2021-10-11 21:03] TylerLeonhardt commented on #504
Not at this time as far as I know. Right @danyeh?

[2021-10-12 00:18] danyeh commented on #191
Machine translation: Please make the description in the balloon help at the mouse position appear in Korean when the language pack is installed. Thank you.

[2021-10-12 00:23] danyeh commented on #194
Process will ensure translation align with source text eventually. Close this issue.

[2021-10-12 00:23] #194 closed

[2021-10-12 00:27] danyeh commented on #187
For languages supported in official release, files/keys will be in sync across languages with some lag of translation process (days).
Some languages were posted by community and could out of sync.

[2021-10-12 00:27] #187 closed

[2021-10-12 00:35] danyeh commented on #195
Is vsc-extension-quickstart.md used in use in language, if not, suggest to delete them as the content out of date.
For example, https://github.com/microsoft/vscode-loc/blob/main/i18n/vscode-language-pack-de/vsc-extension-quickstart.md

[2021-10-12 00:49] danyeh commented on #216
This repo only take feedback of 'translation'. For functionality issue, please create in vscode repo.

[2021-10-12 00:49] #216 closed

[2021-10-12 03:02] zulolati opened #506 "[pt-BR] "Clone repository" button does not appear in sidebar"
!(Barra lateral do vscode)[https://i.ibb.co/g4ZV4Yw/sidebar-vscode.png]

[2021-10-12 05:00] #220 closed

[2021-10-12 13:24] EV1LG0D opened #508 "[zh-tw]Latest version untranslated part"
![圖片](https://user-images.githubusercontent.com/18423666/136963731-16733405-7e68-42dc-b552-78c271b3f219.png)
Video Tutorials -> 影片教學

[2021-10-12 16:22] #508 closed, assigned to nobody

[2021-10-12 21:49] TylerLeonhardt commented on #213
I've updated the wiki. Thanks all!

[2021-10-12 21:49] #213 closed

[2021-10-12 21:52] TylerLeonhardt commented on #205
This issue is pretty old but I think we're doing what you want now. We publish GitHub releases:
https://github.com/microsoft/vscode-loc/releases

[2021-10-12 21:52] #205 closed

[2021-10-12 22:24] #223 closed, assigned to nobody

[2021-10-12 23:14] danyeh commented on #427
I close this as external. This repo only host strings extracted from vscode repo.

[2021-10-12 23:14] #427 closed

[2021-10-12 23:14] danyeh commented on #428
I close this as external. This repo only host strings extracted from vscode repo.

[2021-10-12 23:14] #428 closed, assigned to nobody

[2021-10-13 02:38] danyeh commented on #399
Fixed.
![image](https://user-images.githubusercontent.com/19785531/137057392-1ea9befa-bfe7-4b3d-afa4-3213d5dde691.png)
![image](https://user-images.githubusercontent.com/19785531/137057479-eb52a4f9-76ed-4699-b05f-b5663c3e40fe.png)

[2021-10-13 02:38] #399 closed

[2021-10-13 09:44] p1gd0g opened #511 "[zh-cn] confused trans after "split in gruop", "加入组" -> "合并组""
![image](https://user-images.githubusercontent.com/22766484/137108843-509a4190-4b9f-49b6-a520-31891b084ede.png)
![image](https://user-images.githubusercontent.com/22766484/137109285-dc46fb06-6c23-4ea4-9b74-10c84bdd97cb.png)

"join in group" should be translated into "合并组"。

[2021-10-14 05:23] flamott opened #514 "[zh-CN] Git extension translation issues"
### 1. Icon syntax incorrectly translated
**English strings:**
"scm button publish title": "$(cloud-upload) Publish Changes"
"scm button sync title": " Sync Changes $(sync){0}{1}"
**Current:**
"scm button publish title": "$(云上传)发布更改",
"scm button sync title": " 同步更改 $(同步){0}{1}"
**Suggested:**
"scm button publish title": "$(cloud-upload)发布更改"
"scm button sync title": " 同步更改 $(sync){0}{1}"
### 2.
*

[2021-10-15 10:43] MawsFr opened #699 "Typo in french translation"
Does this issue occur when all extensions are disabled?: Yes

- VS Code Version: 1.61.1
- OS Version: MacOS Mojave 10.14.6

Steps to Reproduce:

1. Click on menu "Fichier"
2. See "Ouvrir **l'espacede** travail à partir du fichier". It should be "Ouvrir **l'espace de** travail à partir du fichier" so there must be a space between words "L'espace" and "de".

Related to this feature : https://code.vi

[2021-10-16 04:40] maqinghao opened #516 "git 冲突页面"
自带git冲突页面 在vscode 60版本中发生冲突 ，冲突选项还是英文 没有汉化  老到53版本可以正常汉化，不知道什么原因

[2021-10-16 13:47] Radium-bit opened #517 "[zh-cn] confused trans after "Follow link", "关注链接" -> "打开链接""
Because after clicking, this action is to let the browser open the link, so it would be better to translate it as "打开链接"（In Chinese,the words"打开链接“ means ”open Link"）.

[2021-10-18 11:47] LinqLover commented on #223
Thank you, where else am I supposed to report this problem then?

[2021-10-18 12:15] edimitchel commented on #456
Checked, available in 1.61.1! Thanks!

[2021-10-19 17:24] #511 closed, assigned to nobody

[2021-10-21 02:40] hrpzcf opened #526 "[zh-cn]Some untranslated menus"
See screenshots for details.
![111](https://user-images.githubusercontent.com/58855572/138201876-6d961ca1-928e-41dc-a444-a3b78674423b.png)
![222](https://user-images.githubusercontent.com/58855572/138201880-18ab6adc-d011-44d5-8885-463cfd7f5a5e.png)
![333](https://user-images.githubusercontent.com/58855572/138201883-e52eb7c2-4c1f-4daa-a8ee-04e75ea4baf4.png)
![444](https://user-images.githubusercont

[2021-10-21 05:24] #517 closed

[2021-10-21 17:24] #526 closed

[2021-10-22 14:28] ted1030 opened #528 "Translation suggestion"
1.https://github.com/microsoft/vscode-loc/blob/089d00ffdcf60a1e1179d0161d9a07f271cc1f26/i18n/vscode-language-pack-zh-hant/translations/main.i18n.json#L8010
should be
https://github.com/microsoft/vscode-loc/blob/089d00ffdcf60a1e1179d0161d9a07f271cc1f26/i18n/vscode-language-pack-zh-hant/translations/main.i18n.json#L8228

<br>

2.https://github.com/microsoft/vscode-loc/blob/089d00ffdcf60a1e1179d0161d

[2021-10-22 22:05] LinqLover opened #1008 "German Translation errors for remove conditional breakpoint dialog in JavaScript/TypeScript debugger"
Originally reported in https://github.com/microsoft/vscode-loc/issues/223, but they could not help me, the strings are not in their database. So where are these strings from and could you please fix the translations? I could not even find them anywhere [on the entire Sourcegraph](https://sourcegraph.com/search?q=context:global+Dieser+haltepunkt+hat+eine+Bedingung&patternType=literal&case=yes)!

[2021-10-27 06:43] LaoshuBaby opened #541 "[zh-CN] Updated to latest and lost some translation"
Today I updated my vscode and restart it. (Everything is done automatically)

And it lost those translation, here:

![图片](https://user-images.githubusercontent.com/42690037/139013403-6071530b-574d-4cf9-ab50-deb72160d6f3.png)

![图片](https://user-images.githubusercontent.com/42690037/139013325-56f2a00c-155b-4a1c-9cec-a94c03112151.png)

the current version of my vscode is:

![图片](https://user-images.

[2021-10-27 17:24] #528 closed, assigned to nobody

[2021-10-28 05:24] #541 closed, assigned to nobody

[2021-10-28 20:57] Colnup opened #545 "Language Packs add a line to Command Palette"
I've seen that language packs that localise VSCode to other languages add a line to the command palette with the english command bellow the localised one.

Ie for the french localisation :
![image](https://user-images.githubusercontent.com/44371364/139333912-8ea76537-4aac-4c6e-8634-346f8eaebbec.png)

I would like to have an option to disable this behaviour (in order to make the command palette muc

[2021-11-02 09:24] #514 closed

[2021-11-02 09:24] csigs commented on #514
{ body = Resolved as Fixed. }The issue has been fixed in localization platform that the fix should be exported to production repo and will take effect in next release! (Reference id: 502452)

[2021-11-02 09:24] csigs commented on #545
{ body = Resolved as Assigned to External. }Investigated by Loc Team: It's not a translation issue. (Reference id: 509288)

[2021-11-03 03:26] fai814 commented on #304
Fixes octo-org/octo-repo#100

[2021-11-03 03:56] thqby opened #553 "vscode web cannot install language packs"
vscode web cannot install language packs.

[2021-11-03 20:24] danyeh commented on #553
See https://github.com/microsoft/vscode-loc/issues/186

[2021-11-04 17:34] csigs commented on #553
{ body = Resolved as Assigned to External. }Investigated by Loc Team: It's not a translation issue. (Reference id: 511832)

[2021-11-04 17:40] #553 closed

[2021-11-08 03:43] zergtul opened #556 "Chinese (Simplified) (简体中文) Language Pack for Visual Studio Code file-open workspace from file display english"
版本: 1.62.0 (user setup)
提交: b3318bc0524af3d74034b8bb8a64df0ccf35549a
日期: 2021-11-03T15:23:01.379Z
Electron: 13.5.1
Chrome: 91.0.4472.164
Node.js: 14.16.0
V8: 9.1.269.39-electron.0
OS: Windows_NT x64 10.0.19043

Chinese (Simplified) (简体中文) Language Pack for Visual Studio Code version: 1.62.2

file-open workspace from file display english
![view](https://user-images.githubusercontent.com/40799218/14

[2021-11-08 07:32] NateScarlet opened #557 "[zh-hans] should not translate icon name"
https://github.com/microsoft/vscode-loc/blob/46ccbc6cd48e4acf49e2348bfabb3a13d3442c84/i18n/vscode-language-pack-zh-hans/translations/extensions/git.i18n.json#L252-L254

![image](https://user-images.githubusercontent.com/21083014/140700971-d61f3096-7a70-435e-8e1f-cd69d4066a6e.png)

`$(云上传)` should be `$(cloud-upload)`
`$(同步)` should be `$(sync)`

[2021-11-09 07:58] pgy866 opened #558 "插件本地化不支持吗？很多常用都GIT都插件都是英文的"
插件本地化不支持吗？很多常用都GIT都插件都是英文的

[2021-11-09 18:24] csigs commented on #557
{ body = Resolved as Fixed. }The issue has been fixed in localization platform that the fix should be exported to production repo and will take effect in next release! (Reference id: 514442)

[2021-11-09 18:24] #557 closed

[2021-11-10 01:31] #556 closed

[2021-11-10 08:53] m0sh1dawa opened #561 "[ja] translation suggestion"
The following are some japanese translation suggestions.
"拡大" -> "ズームイン" or "ズームアウト" -> "縮小"
https://github.com/microsoft/vscode-loc/blob/80be8adc469bcac3cbd80805e8b98109e973c7de/i18n/vscode-language-pack-ja/translations/main.i18n.json#L3665-L3666

I think it is easier to understand if the notation is unified in kanji or katakana.

![image](https://user-images.githubusercontent.com/37267539/141079

[2021-11-10 13:25] takayo2020 opened #562 "ja: Translation suggestions"
"'ファイル コピー' 参加者を実行しています..." -> "ファイルをコピーしています…"
"'ファイルの作成' の参加者を実行しています..." -> "ファイルを作成しています…"
ファイルの削除' の参加者を実行しています..." -> "ファイルを削除しています…"
"'ファイル名の変更' の参加者を実行しています..." -> "ファイル名を変更しています…"
https://github.com/microsoft/vscode-loc/blob/aba1483c988f8c59237b7f49caa682dfab05a8f7/i18n/vscode-language-pack-ja/translations/main.i18n.json#L2409-L2413

[2021-11-11 17:58] crsuzukimsft commented on #558
Could you please explain in English?

[2021-11-11 21:48] cristianosuzuki77 commented on #562
Thank you for the feedback. I understand the simplicity for the suggested sentences, however I cannot fully understand the context where they show up in order to make a decision.

Could you explain why the simpler versions on the left are better than the existing translations?
For example, for each suggestion, could you have the following:

        English: Running 'File Create' participants...

[2021-11-12 02:24] csigs commented on #558
{ body = Resolved as Assigned to External. }Investigated by Loc Team: It's not a translation issue. (Reference id: 515099)

[2021-11-12 02:52] danyeh commented on #558
The repo is dealing with localization of strings made localizable from vscode repo.
For inquire or request to support localization of individual extension, need to file inquire or request in corresponding repo hosts the extension.
You can search unique string from extension UI to identify corresponding repo.

[2021-11-12 02:52] #558 closed

[2021-11-12 07:38] yaoying-translation2 opened #563 "ZH-CN GIT这里很多菜单并没有翻译，但是并没有在文件中找到这些菜单的翻译字符串"
ZH-CN GIT这里很多菜单并没有翻译，但是并没有在文件中找到这些菜单的翻译字符串
![截图_选择区域_20211112144751](https://user-images.githubusercontent.com/94032968/141428517-64b9fe5b-61d5-4e1c-854d-6caae64db5b2.png)

[2021-11-12 07:47] yaoying-translation2 commented on #558
你好，我想尝试 在LINUX 中 尝试 翻译UI，可是我却并没有在本仓库的翻译源中找到要翻译的文本
是否可以提供一些，翻译本地化的文档呢？我应该如何做呢？
![截图_选择区域_20211112144751](https://user-images.githubusercontent.com/94032968/141429715-d12980d2-a3b6-4403-b94a-6340e6f1fbfa.png)

[2021-11-12 08:11] #563 closed

[2021-11-12 09:25] yaoying-translation1 commented on #558
https://github.com/Axosoft/vscode-gitlens/issues/577

[2021-11-12 15:19] yaoying-translation1 opened #564 "DEEPIN LINUX Chinese localized text supplement（中文本地化文本补充）"
本地化 文本的补充
新建一个文件夹>vs code 打开文件夹>源代码管理>发布到GitHub，
会看到光标处显示
“Publish to GitHub private repository  xxxxx”
“Publish to GitHub public repository  xxxxx”
没有做本地化。

[code]

![录屏_dde-desktop_20211112231229](https://user-images.githubusercontent.com/94030607/141490272-564ce71e-85d8-4553-9687-831507b582c4.gif)

[2021-11-12 18:42] danyeh commented on #558
Yes, that is official approach.
1. string code: https://github.com/microsoft/vscode-extension-samples/blob/main/i18n-sample/src/command/sayBye.ts#L11
2. loc resource file: https://github.com/microsoft/vscode-extension-samples/blob/main/i18n-sample/i18n/jpn/out/command/sayBye.i18n.json

To get localized json, one option is to extract to xlf. localize xlf, import to loc json.
Sample code from a live

[2021-11-13 18:20] fai814 commented on #564
成功

[2021-11-13 20:24] fai814 commented on #562
Cristiano Suzuki ***@***.***> 於 2021年11月12日週五 上午5:49寫道：

[2021-11-14 01:53] takayo2020 commented on #562
**(I'm not very good at English. I'm using a translation site to write the text. I apologize if it is difficult to understand.)**

---
English: Running 'File Create' participants...
Current translation: 'ファイルの作成' の参加者を実行しています...
Proposed translation:  ファイルを作成しています...
Reason why the proposed is better: I feel uncomfortable with the current translation of `'ファイルの作成'の実行(Running 'file create')`.
In Ja

[2021-11-16 07:49] dbaeumer commented on #564
@lszomoru can you please check if the strings are localized in Git

[2021-11-16 08:52] aixiu opened #566 "The original translation is invalid. See the document comparison for details"
https://github.com/microsoft/vscode-loc-deprecated/blob/a626296642fd9a2c7cd4fcec4b37bcbdfc452d1a/i18n/vscode-language-pack-id/translations/extensions/merge-conflict.i18n.json

https://github.com/microsoft/vscode-loc/blob/471aa48fd13989f8bc220ab495a71fff078ce0d8/i18n/vscode-language-pack-zh-hans/translations/extensions/merge-conflict.i18n.json

This file needs to be updated, thank you

[2021-11-16 15:59] thany commented on #443
I'm not even British myself and I want it back! I just like the UK variety of English more than the US one. It feels closer to home (and geographically speaking, it is).

As a Dutch boy, I'm very used to typing colour, metre (or meter if it refers to a device like a multimeter), customise and maybe Dockerise, and (less relevant) chips and crisps, and the boot and bonnet. So go ahead, mates, do fee

[2021-11-17 02:26] csigs commented on #561
{ body = Resolved as Fixed. }The issue has been fixed in localization platform that the fix should be exported to production repo and will take effect in next release! (Reference id: 515952)

[2021-11-17 02:26] #561 closed

[2021-11-17 23:05] crsuzukimsft commented on #562
Thank you very much. I understand your suggestion better. I will ask the authors to improve and simplify the sentences in English so that the translation can be done in the same manner.

[2021-11-19 12:15] khongcoten2302 opened #575 "create a language package"
how to create Vietnamese Language Pack for Visual Studio Code?

[2021-11-22 13:31] dudlf opened #583 "ko: Translation suggestion"
### i18n key: main.i18n.json > importKeyboardShortcutsFroms

**English**
[code]

**Current Korean**

[code]

**Suggestion**

[code]

'바로 가기 키를 마이그레이션하는 중...' means 'Migrating shortcuts...' in english, not 'Migrate Keyboard Shorcuts from...'

![importKeyboardShortcutsFroms_en](https://user-images.githubusercontent.com/26514232/142870145-181c805a-cfb6-42dc-85bf-2c1dfdc6c4b9.png)
![importKeyboardShor

[2021-11-24 22:09] cristianosuzuki77 commented on #562
Hi @TylerLeonhardt Could you consider simplifying the source English for these resources? The translations in ja-JP follows the nature of the original senteces in English.
@takayo2020 feedback reflects a case where the source English are much simpler and it is not a direct translation from the source.

[2021-11-24 22:14] cristianosuzuki77 commented on #566
@TylerLeonhardt could you check on this? Not sure what is being asked from loc.

[2021-11-24 22:17] TylerLeonhardt commented on #566
@aixiu I'm not sure what you mean, sorry. Can you elaborate on what you want us to do?

[2021-11-25 02:25] csigs commented on #575
{ body = Resolved as Assigned to External. }Investigated by Loc Team: It's not a translation issue. (Reference id: 523370)

[2021-11-30 12:50] aixiu commented on #566
@TylerLeonhardt
new file https://github.com/microsoft/vscode-loc-deprecated/blob/a626296642fd9a2c7cd4fcec4b37bcbdfc452d1a/i18n/vscode-language-pack-id/translations/extensions/merge-conflict.i18n.json
[code]
Relative to the current document   https://github.com/microsoft/vscode-loc/blob/471aa48fd13989f8bc220ab495a71fff078ce0d8/i18n/vscode-language-pack-zh-hans/translations/extensions/merge-conflict

[2021-11-30 17:02] TylerLeonhardt commented on #566
@aixiu the files in the repo https://github.com/microsoft/vscode-loc-deprecated are deprecated. In other words, they are no longer being updated because they are language packs that are no longer supported.

There was a time when the community supported an Indonesian language pack but that is no longer the case.

[2021-12-01 01:44] aixiu commented on #566
@TylerLeonhardt I see. Thank you

[2021-12-01 01:44] #566 closed

[2021-12-03 02:25] csigs commented on #583
{ body = Resolved as Fixed. }The issue has been fixed in localization platform that the fix should be exported to production repo and will take effect in next release! (Reference id: 523372)

[2021-12-03 02:25] #583 closed

[2021-12-05 09:25] heartacker opened #614 "对于vscode.git 插件，请翻译的时候，如果是非英系语言，就默认保留 git的原始命令"
对于英语母语的人，可能看到的命令 就是 很容易理解的。
但是如果是中文，日文，韩文。我觉得很难理解 这个git 菜单是在干嘛。 尤其是用惯了 git cli 的人，根本无法知道他代表什么意思。
![image](https://user-images.githubusercontent.com/1876302/144740904-42aa6bf2-d21c-45b6-9c0c-910c19783068.png)

## 提议：在翻译过程中保留原始命令

![image](https://user-images.githubusercontent.com/1876302/144740907-b3b3dfe5-a36a-4ee7-9687-ecda777beea4.png)

[2021-12-08 01:38] mandel59 opened #618 ""Copy as" has been mistranslated in Japanese"
https://github.com/microsoft/vscode-loc/blob/7bcc9f645e49f612c05ffeff476462c154ee1e41/i18n/vscode-language-pack-ja/translations/main.i18n.json#L679

"Save as" is translated as "名前を付けて保存", which literally means "Name and save", and it's ok. On the other hand, "Copy as" doesn't let you name, so "名前を付けてコピー" ("Name and copy") doesn't make sense.

[2021-12-08 01:48] mandel59 commented on #618
Japanese phrase "名前を付ける" (literally "attach a name") could only be used to name an anonymous object.
"To specify something" is "指定する".
"形式を指定してコピー" is more appropriate translation for "Copy as".

[2021-12-08 12:30] pgy866 commented on #614
对于母语非英文，由于翻译的差异化，有时候确实有点混淆不知原GIT命令，这个建议不错，非常棒，保留原GIT的英文命令在翻译文本的后面
`For the native language of non-English, due to the difference in translation, sometimes it is a bit confused. I don’t know the original GIT command. This is a good suggestion, very good. Keep the original GIT English command at the back of the translated text.`

[2021-12-08 12:32] pgy866 commented on #564
当合并文件 冲突 时候，还有这里的字符串并没有本地化，希望补充进来。
`When the merged file conflicts, the string here is not localized, and I hope to add it.`

![截图_选择区域_20211208202401](https://user-images.githubusercontent.com/28694676/145208955-2dc3d574-db25-4cc1-9a9c-b2340203a2a6.png)

[2021-12-09 12:21] SergiusMath commented on #443
I agree with Zander, please try to return it.

[2021-12-09 23:40] ayesse opened #619 "[ITALIAN] "Open folder" and "Add folder" buttons in left pane are broken if there is an open file"
![image](https://user-images.githubusercontent.com/24982281/145492737-bc1087c3-6ec6-450d-b2cf-11c30600bb87.png)

[2021-12-10 12:36] LeandroAlberti commented on #619
This also happens with the Portuguese language:

![image](https://user-images.githubusercontent.com/85653163/145575009-4a9f080d-d292-46e2-b970-0902e4ecf3b4.png)

[2021-12-10 12:42] LeandroAlberti commented on #619
And if there is nothing open in the tabs area, some excerpts are not translated:

![image](https://user-images.githubusercontent.com/85653163/145575768-87a68131-c15e-406f-98de-1bcbe52ad87f.png)

[2021-12-11 06:24] jiansite opened #620 "【Chinese (Simplified)】合并冲突，没有翻译"
低版本正常，升级之后就显示英文了；不知道是兼容性问题还是其他插件影响的，显示如下
![image](https://user-images.githubusercontent.com/33872552/145666603-a3df1cee-bfac-4dfe-8a50-6e0d8853364c.png)
系统及其版本如下
![image](https://user-images.githubusercontent.com/33872552/145666779-c40dcdaf-97f0-4f8b-8b41-214b1c9c9d6b.png)
![image](https://user-images.githubusercontent.com/33872552/145666590-70cb06fb-10cf-4e0f-b35f-5fbdd0f749e8.png)
![image](https

[2021-12-13 06:48] NateScarlet opened #621 "[zh-hans] should not translate icon name (again)"
https://github.com/microsoft/vscode-loc/blob/2011a39f3b43559ba05ab68d85307c000e4cea63/i18n/vscode-language-pack-zh-hans/translations/extensions/git.i18n.json#L241-L243

same as #557

![image](https://user-images.githubusercontent.com/21083014/145765258-1e190932-d114-462e-bd9d-8471d8f0e583.png)

`$(云上传)` should be `$(cloud-upload)`
`$(同步)` should be `$(sync)`

[2021-12-13 13:21] tim4431 commented on #621
Yes！I find this bug annoying

[2021-12-13 14:24] SheepRock opened #622 "[pt-br] "Language" being translated as "idioma" instead of "linguagem""
When talking about a programming language, you say "linguagem" in portuguese, but in VS Code pt-br translation, it is being translated as "idioma" in many places ("idioma" is only for languages like "portuguese", "english", "french" etc, not for programming languages).

![image](https://user-images.githubusercontent.com/20205505/145829619-690549ad-f95b-4288-b137-818c93b3faeb.png)